body {
  background: url(../repeat-bg.jpg) left;
  color: #f7fae5; }

.tagline, .search-result-meta {
  color: #f7fae5; }

.tagline a {
  color: #f7fae5; }

.entry .buttons li a {
  color: #f7fae5; }

.domain a {
  color: #b4b4b4; }

.thing {
  padding: 10px 0px; }
  .thing.stickied.link a.title {
    color: #13ff29;
    transition: color 0.2s; }
    .thing.stickied.link a.title:hover {
      color: white; }
  .thing .entry {
    margin-top: 10px;
    padding-left: 15px; }
  .thing .midcol {
    margin-top: 15px; }
  .thing .rank {
    padding-top: 15px; }
  .thing a.thumbnail {
    width: 48px;
    height: 48px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: visible !important; }
    .thing a.thumbnail img {
      width: 48px !important;
      height: 48px !important;
      position: relative;
      top: 18px;
      left: 9px; }
  .thing a.thumbnail::after {
    content: url("../minipanel.fw.png");
    z-index: 2;
    position: absolute;
    left: 85px;
    margin-top: 0; }
  .thing a.title {
    color: #e8e361; }
    .thing a.title:hover {
      color: #c6c01d; }
    .thing a.title:visited {
      color: #9a9516; }
      .thing a.title:visited:hover {
        color: #6d6a10; }

#header {
  height: 140px;
  background: url("../header-illidan-still.jpg");
  background-position: center -166px; }
  #header .redditname a {
    display: block;
    background: url(../logos/logo_resized.fw.png) no-repeat center top;
    margin: 0 auto;
    font-size: 0px;
    padding: 50px 0 0 0;
    color: #364657;
    left: 108px;
    position: absolute;
    top: 27px;
    width: 224px;
    height: 103px;
    z-index: 100; }
    #header .redditname a:hover {
      background: url(../logos/logo_resized_glow.fw.png) no-repeat center top; }
  #header:after {
    content: '';
    background: url(../header-divide.fw.png) repeat-x;
    height: 23px;
    position: absolute;
    left: 0;
    right: 0;
    top: 130px; }

.tabmenu {
  position: relative;
  left: 220px; }
  .tabmenu li.selected a {
    text-shadow: 0 0 10px #e6ff42, 0 0 10px #e6ff42;
    color: #13ff29;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 100; }
  .tabmenu li a {
    color: #fff;
    background: rgba(0, 0, 0, 0.5); }

#header-img-a {
  margin-top: 2px;
  margin-left: 30px;
  height: 103px;
  width: 60px;
  display: inline-block; }

#sr-more-link {
  display: none; }

#sr-header-area,
#header-bottom-right {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 0px 5px 5px;
  color: #EEEEEE;
  white-space: nowrap;
  border-bottom: 1px solid #1d1d1d;
  border-top-left-radius: 0; }
  #sr-header-area a,
  #header-bottom-right a {
    color: #eee; }

.user, .separator {
  color: #EEEEEE; }

.sr-bar a {
  color: #eee; }

.dropdown.srdrop .selected {
  color: #fff; }

.arrow {
  height: 20px;
  width: 24px;
  background-image: url(../arrows/arrows.png) !important; }
  .arrow.upmod {
    background-position: -0px -0px; }
  .arrow.up {
    background-position: -0px -20px; }
  .arrow.down {
    background-position: -0px -40px; }
  .arrow.downmod {
    background-position: -0px -60px; }

.thing .midcol {
  margin-top: 9px; }

.midcol {
  width: 36px !important; }

.side {
  background: url(../side-divide.fw.png) left repeat-y, url(../repeat-bg.jpg) center;
  padding-left: 25px;
  color: #f7fae5; }

.titlebox form.toggle, .leavemoderator {
  background: none;
  color: #f7fae5; }
  .titlebox form.toggle a, .leavemoderator a {
    color: #e8e361; }

.morelink {
  background: url(../skinnysillybutton.fw.png) no-repeat;
  border: none;
  height: 55px; }
  .morelink a {
    text-transform: uppercase;
    color: #000;
    text-shadow: 0 0 10px #e6ff42, 0 0 10px #e6ff42;
    padding-top: 12px;
    text-align: center; }
  .morelink:hover {
    background: url(../skinnysillybutton.fw.png) no-repeat; }
  .morelink .nub {
    display: none; }

.md {
  color: #f7fae5; }
  .md a {
    color: #e8e361; }

.linkflairlabel {
  color: #f7fae5;
  border: #333333 1px solid;
  background: black; }
