body {
  background: url(../repeat-bg.jpg) left;
  color: #f7fae5; }

.tagline, .search-result-meta {
  color: #f7fae5; }

.tagline a {
  color: #f7fae5; }

.entry .buttons li a {
  color: #f7fae5; }

.domain a {
  color: #b4b4b4; }

.thing {
  padding: 10px 0px; }
  .thing.stickied.link a.title {
    color: #13ff29;
    transition: color 0.2s; }
    .thing.stickied.link a.title:hover {
      color: white; }
  .thing .entry {
    margin-top: 10px;
    padding-left: 15px; }
  .thing .midcol {
    margin-top: 15px; }
  .thing .rank {
    padding-top: 15px; }
  .thing a.thumbnail {
    width: 48px;
    height: 48px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: visible !important; }
    .thing a.thumbnail img {
      width: 48px !important;
      height: 48px !important;
      position: relative;
      top: 18px;
      left: 9px; }
  .thing a.thumbnail::after {
    content: url("../minipanel.fw.png");
    z-index: 2;
    position: absolute;
    left: 85px;
    margin-top: 0; }
  .thing a.title {
    color: #e8e361; }
    .thing a.title:hover {
      color: #c6c01d; }
    .thing a.title:visited {
      color: #9a9516; }
      .thing a.title:visited:hover {
        color: #6d6a10; }

#header {
  height: 140px;
  background: url("../header-illidan-still.jpg");
  background-position: center -166px; }
  #header .redditname a {
    display: block;
    background: url(../logos/logo_resized.fw.png) no-repeat center top;
    margin: 0 auto;
    font-size: 0px;
    padding: 50px 0 0 0;
    color: #364657;
    left: 108px;
    position: absolute;
    top: 27px;
    width: 224px;
    height: 103px;
    z-index: 100; }
    #header .redditname a:hover {
      background: url(../logos/logo_resized_glow.fw.png) no-repeat center top; }
  #header:after {
    content: '';
    background: url(../header-divide.fw.png) repeat-x;
    height: 23px;
    position: absolute;
    left: 0;
    right: 0;
    top: 130px; }

.tabmenu {
  position: relative;
  left: 220px; }
  .tabmenu li.selected a {
    text-shadow: 0 0 10px #e6ff42, 0 0 10px #e6ff42;
    color: #13ff29;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 100; }
  .tabmenu li a {
    color: #fff;
    background: rgba(0, 0, 0, 0.5); }

#header-img-a {
  margin-top: 2px;
  margin-left: 30px;
  height: 103px;
  width: 60px;
  display: inline-block; }

#sr-more-link {
  display: none; }

#sr-header-area,
#header-bottom-right {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 0px 5px 5px;
  color: #EEEEEE;
  white-space: nowrap;
  border-bottom: 1px solid #1d1d1d;
  border-top-left-radius: 0; }
  #sr-header-area a,
  #header-bottom-right a {
    color: #eee; }

.user, .separator {
  color: #EEEEEE; }

.sr-bar a {
  color: #eee; }

.dropdown.srdrop .selected {
  color: #fff; }

.arrow {
  height: 20px;
  width: 24px;
  background-image: url(../arrows/arrows.png) !important; }
  .arrow.upmod {
    background-position: -0px -0px; }
  .arrow.up {
    background-position: -0px -20px; }
  .arrow.down {
    background-position: -0px -40px; }
  .arrow.downmod {
    background-position: -0px -60px; }

.thing .midcol {
  margin-top: 9px; }

.midcol {
  width: 36px !important; }

.side {
  background: url(../side-divide.fw.png) left repeat-y, url(../repeat-bg.jpg) center;
  padding-left: 25px;
  color: #f7fae5; }
  .side .md a[href*="#game"] {
    content: "";
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url(../game-icons-50.png) no-repeat;
    margin-right: 5px; }
    .side .md a[href*="#game"]:hover {
      opacity: 0.8; }
  .side .md a[href*="#warcraft"] {
    background-position: 0 0; }
  .side .md a[href*="#diablo"] {
    background-position: -50px 0; }
  .side .md a[href*="#starcraft"] {
    background-position: -100px 0; }
  .side .md a[href*="#hearthstone"] {
    background-position: -150px 0; }
  .side .md a[href*="#heroes"] {
    background-position: -200px 0; }
  .side .md a[href*="#overwatch"] {
    background-position: -250px 0; }

.titlebox form.toggle, .leavemoderator {
  background: none;
  color: #f7fae5; }
  .titlebox form.toggle a, .leavemoderator a {
    color: #e8e361; }

.morelink {
  background: url(../skinnysillybutton.fw.png) no-repeat;
  border: none;
  height: 55px; }
  .morelink a {
    text-transform: uppercase;
    color: #000;
    text-shadow: 0 0 10px #e6ff42, 0 0 10px #e6ff42;
    padding-top: 12px;
    text-align: center; }
  .morelink:hover {
    background: url(../skinnysillybutton.fw.png) no-repeat; }
  .morelink .nub {
    display: none; }

.sidecontentbox {
  text-align: right; }

.md {
  color: #f7fae5; }
  .md a {
    color: #e8e361; }

.linkflairlabel {
  color: #f7fae5;
  border: #333333 1px solid;
  background: black; }

.thing .entry {
  margin-top: 10px; }

.link .usertext-body .md {
  background-color: #161616;
  border: 1px solid #494949;
  border-radius: 7px; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.flair {
  padding: 1px 3px;
  margin: 0px;
  border: 0;
  border-radius: 0;
  color: #f7fae5;
  background: transparent; }
  .flair:after {
    background: url("../sprites/sprites.png") no-repeat scroll 16px 16px transparent;
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
    height: 18px;
    content: ''; }

.flair-alliance + .author,
.flair-alliance + .author:visited {
  color: #247FAA; }

.flair-horde + .author,
.flair-horde + .author:visited {
  color: #B30000; }

.flair-shaman + .author, .flair-alliance-shaman + .author, .flair-horde-shaman + .author,
.flair-shaman + .author:visited, .flair-alliance-shaman + .author:visited, .flair-horde-shaman + .author:visited {
  color: #0070DE; }

.flair-deathknight + .author, .flair-alliance-deathknight + .author, .flair-horde-deathknight + .author,
.flair-deathknight + .author:visited, .flair-alliance-deathknight + .author:visited, .flair-horde-deathknight + .author:visited {
  color: #C41F3B; }

.flair-demonhunter + .author, .flair-alliance-demonhunter + .author, .flair-horde-demonhunter + .author,
.flair-demonhunter + .author:visited, .flair-alliance-demonhunter + .author:visited, .flair-horde-demonhunter + .author:visited {
  color: #4dd827; }

.flair-druid + .author, .flair-alliance-druid + .author, .flair-horde-druid + .author,
.flair-druid + .author:visited, .flair-alliance-druid + .author:visited, .flair-horde-druid + .author:visited {
  color: #FF7D0A; }

.flair-hunter + .author, .flair-alliance-hunter + .author, .flair-horde-hunter + .author,
.flair-hunter + .author:visited, .flair-alliance-hunter + .author:visited, .flair-horde-hunter + .author:visited {
  color: #ABD473; }

.flair-mage + .author, .flair-alliance-mage + .author, .flair-horde-mage + .author,
.flair-mage + .author:visited, .flair-alliance-mage + .author:visited, .flair-horde-mage + .author:visited {
  color: #69CCF0; }

.flair-monk + .author, .flair-alliance-monk + .author, .flair-horde-monk + .author,
.flair-monk + .author:visited, .flair-alliance-monk + .author:visited, .flair-horde-monk + .author:visited {
  color: #00FF96; }

.flair-paladin + .author, .flair-alliance-paladin + .author, .flair-horde-paladin + .author,
.flair-paladin + .author:visited, .flair-alliance-paladin + .author:visited, .flair-horde-paladin + .author:visited {
  color: #F58CBA; }

.flair-priest + .author, .flair-alliance-priest + .author, .flair-horde-priest + .author,
.flair-priest + .author:visited, .flair-alliance-priest + .author:visited, .flair-horde-priest + .author:visited {
  color: #FFFFFF; }

.flair-rogue + .author, .flair-alliance-rogue + .author, .flair-horde-rogue + .author,
.flair-rogue + .author:visited, .flair-alliance-rogue + .author:visited, .flair-horde-rogue + .author:visited {
  color: #FFF569; }

.flair-shaman + .author, .flair-alliance-shaman + .author, .flair-horde-shaman + .author,
.flair-shaman + .author:visited, .flair-alliance-shaman + .author:visited, .flair-horde-shaman + .author:visited {
  color: #0070DE; }

.flair-warlock + .author, .flair-alliance-warlock + .author, .flair-horde-warlock + .author,
.flair-warlock + .author:visited, .flair-alliance-warlock + .author:visited, .flair-horde-warlock + .author:visited {
  color: #9482C9; }

.flair-warrior + .author, .flair-alliance-warrior + .author, .flair-horde-warrior + .author,
.flair-warrior + .author:visited, .flair-alliance-warrior + .author:visited, .flair-horde-warrior + .author:visited {
  color: #C79C6E; }

.flair-alliance-deathknight:after {
  background-position: 0px -18px;
  width: 36px;
  height: 18px; }

.flair-alliance-demonhunter:after {
  background-position: -108px -36px;
  width: 36px;
  height: 18px; }

.flair-alliance-druid:after {
  background-position: -36px 0px;
  width: 36px;
  height: 18px; }

.flair-alliance-hunter:after {
  background-position: -36px -18px;
  width: 36px;
  height: 18px; }

.flair-alliance-mage:after {
  background-position: 0px -36px;
  width: 36px;
  height: 18px; }

.flair-alliance-monk:after {
  background-position: -36px -36px;
  width: 36px;
  height: 18px; }

.flair-alliance-paladin:after {
  background-position: 0px -54px;
  width: 36px;
  height: 18px; }

.flair-alliance-priest:after {
  background-position: -36px -54px;
  width: 36px;
  height: 18px; }

.flair-alliance-rogue:after {
  background-position: -72px 0px;
  width: 36px;
  height: 18px; }

.flair-alliance-shaman:after {
  background-position: -72px -18px;
  width: 36px;
  height: 18px; }

.flair-alliance-warlock:after {
  background-position: -72px -36px;
  width: 36px;
  height: 18px; }

.flair-alliance-warrior:after {
  background-position: -72px -54px;
  width: 36px;
  height: 18px; }

.flair-alliance:after {
  background-position: -144px -90px;
  width: 18px;
  height: 18px; }

.flair-alliancehorde:after {
  background-position: -54px -143px;
  width: 18px;
  height: 18px; }

.flair-aphoenix:after {
  background-position: -144px -54px;
  width: 18px;
  height: 18px; }

.flair-aptbot:after {
  background-position: -104px -143px;
  width: 16px;
  height: 16px; }

.flair-arthur:after {
  background-position: -144px -36px;
  width: 18px;
  height: 18px; }

.flair-bewmkin:after {
  background-position: -144px -18px;
  width: 18px;
  height: 18px; }

.flair-blizzard:after {
  background-position: -27px -129px;
  width: 20px;
  height: 13px; }

.flair-deathknight:after {
  background-position: -162px 0px;
  width: 16px;
  height: 16px; }

.flair-demonhunter:after {
  background-position: -18px -143px;
  width: 18px;
  height: 18px; }

.flair-doctor:after {
  background-position: -72px -143px;
  width: 16px;
  height: 16px; }

.flair-druid:after {
  background-position: -144px -126px;
  width: 16px;
  height: 16px; }

.flair-fansite-icyveisn:after {
  background-position: -144px -72px;
  width: 18px;
  height: 18px; }

.flair-fansite-mmochampion:after {
  background-position: 0px -129px;
  width: 27px;
  height: 14px; }

.flair-fansite-openraid:after {
  background-position: 0px -108px;
  width: 21px;
  height: 21px; }

.flair-fansite-wowhead:after {
  background-position: -21px -108px;
  width: 28px;
  height: 15px; }

.flair-herpdeeps:after {
  background-position: -136px -143px;
  width: 16px;
  height: 16px; }

.flair-horde-deathknight:after {
  background-position: -108px -90px;
  width: 36px;
  height: 18px; }

.flair-horde-demonhunter:after {
  background-position: -108px -72px;
  width: 36px;
  height: 18px; }

.flair-horde-druid:after {
  background-position: -108px -54px;
  width: 36px;
  height: 18px; }

.flair-horde-hunter:after {
  background-position: 0px 0px;
  width: 36px;
  height: 18px; }

.flair-horde-mage:after {
  background-position: -108px -18px;
  width: 36px;
  height: 18px; }

.flair-horde-monk:after {
  background-position: -108px 0px;
  width: 36px;
  height: 18px; }

.flair-horde-paladin:after {
  background-position: -72px -90px;
  width: 36px;
  height: 18px; }

.flair-horde-priest:after {
  background-position: -36px -90px;
  width: 36px;
  height: 18px; }

.flair-horde-rogue:after {
  background-position: 0px -90px;
  width: 36px;
  height: 18px; }

.flair-horde-shaman:after {
  background-position: -72px -72px;
  width: 36px;
  height: 18px; }

.flair-horde-warlock:after {
  background-position: -36px -72px;
  width: 36px;
  height: 18px; }

.flair-horde-warrior:after {
  background-position: 0px -72px;
  width: 36px;
  height: 18px; }

.flair-horde:after {
  background-position: -144px -108px;
  width: 18px;
  height: 18px; }

.flair-hordealliance:after {
  background-position: 0px -143px;
  width: 18px;
  height: 18px; }

.flair-hunter:after {
  background-position: -88px -143px;
  width: 16px;
  height: 16px; }

.flair-lasse:after {
  background-position: -80px -161px;
  width: 16px;
  height: 16px; }

.flair-mage:after {
  background-position: -120px -143px;
  width: 16px;
  height: 16px; }

.flair-method:after {
  background-position: -36px -143px;
  width: 18px;
  height: 18px; }

.flair-midwinter:after {
  background-position: -49px -108px;
  width: 34px;
  height: 12px; }

.flair-monk:after {
  background-position: -162px -16px;
  width: 16px;
  height: 16px; }

.flair-paladin:after {
  background-position: -162px -32px;
  width: 16px;
  height: 16px; }

.flair-phedre:after {
  background-position: -162px -48px;
  width: 16px;
  height: 16px; }

.flair-priest:after {
  background-position: -162px -64px;
  width: 16px;
  height: 16px; }

.flair-raptor:after {
  background-position: -162px -80px;
  width: 16px;
  height: 16px; }

.flair-roboticide:after {
  background-position: -162px -96px;
  width: 16px;
  height: 16px; }

.flair-rogue:after {
  background-position: -162px -112px;
  width: 16px;
  height: 16px; }

.flair-shaman:after {
  background-position: -162px -128px;
  width: 16px;
  height: 16px; }

.flair-unknown:after {
  background-position: -162px -144px;
  width: 16px;
  height: 16px; }

.flair-vertical:after {
  background-position: 0px -161px;
  width: 16px;
  height: 16px; }

.flair-vusys:after {
  background-position: -144px 0px;
  width: 18px;
  height: 18px; }

.flair-waahht:after {
  background-position: -32px -161px;
  width: 16px;
  height: 16px; }

.flair-warlock:after {
  background-position: -48px -161px;
  width: 16px;
  height: 16px; }

.flair-warrior:after {
  background-position: -64px -161px;
  width: 16px;
  height: 16px; }

.flair-zvitiate:after {
  background-position: -16px -161px;
  width: 16px;
  height: 16px; }
