/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$flair-alliance-deathknight-name: 'flair-alliance-deathknight';
$flair-alliance-deathknight-x: 0px;
$flair-alliance-deathknight-y: 18px;
$flair-alliance-deathknight-offset-x: 0px;
$flair-alliance-deathknight-offset-y: -18px;
$flair-alliance-deathknight-width: 36px;
$flair-alliance-deathknight-height: 18px;
$flair-alliance-deathknight-total-width: 178px;
$flair-alliance-deathknight-total-height: 177px;
$flair-alliance-deathknight-image: '../sprites/flair-user.png';
$flair-alliance-deathknight: (0px, 18px, 0px, -18px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-deathknight', );
$flair-alliance-demonhunter-name: 'flair-alliance-demonhunter';
$flair-alliance-demonhunter-x: 108px;
$flair-alliance-demonhunter-y: 36px;
$flair-alliance-demonhunter-offset-x: -108px;
$flair-alliance-demonhunter-offset-y: -36px;
$flair-alliance-demonhunter-width: 36px;
$flair-alliance-demonhunter-height: 18px;
$flair-alliance-demonhunter-total-width: 178px;
$flair-alliance-demonhunter-total-height: 177px;
$flair-alliance-demonhunter-image: '../sprites/flair-user.png';
$flair-alliance-demonhunter: (108px, 36px, -108px, -36px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-demonhunter', );
$flair-alliance-druid-name: 'flair-alliance-druid';
$flair-alliance-druid-x: 36px;
$flair-alliance-druid-y: 0px;
$flair-alliance-druid-offset-x: -36px;
$flair-alliance-druid-offset-y: 0px;
$flair-alliance-druid-width: 36px;
$flair-alliance-druid-height: 18px;
$flair-alliance-druid-total-width: 178px;
$flair-alliance-druid-total-height: 177px;
$flair-alliance-druid-image: '../sprites/flair-user.png';
$flair-alliance-druid: (36px, 0px, -36px, 0px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-druid', );
$flair-alliance-hunter-name: 'flair-alliance-hunter';
$flair-alliance-hunter-x: 36px;
$flair-alliance-hunter-y: 18px;
$flair-alliance-hunter-offset-x: -36px;
$flair-alliance-hunter-offset-y: -18px;
$flair-alliance-hunter-width: 36px;
$flair-alliance-hunter-height: 18px;
$flair-alliance-hunter-total-width: 178px;
$flair-alliance-hunter-total-height: 177px;
$flair-alliance-hunter-image: '../sprites/flair-user.png';
$flair-alliance-hunter: (36px, 18px, -36px, -18px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-hunter', );
$flair-alliance-mage-name: 'flair-alliance-mage';
$flair-alliance-mage-x: 0px;
$flair-alliance-mage-y: 36px;
$flair-alliance-mage-offset-x: 0px;
$flair-alliance-mage-offset-y: -36px;
$flair-alliance-mage-width: 36px;
$flair-alliance-mage-height: 18px;
$flair-alliance-mage-total-width: 178px;
$flair-alliance-mage-total-height: 177px;
$flair-alliance-mage-image: '../sprites/flair-user.png';
$flair-alliance-mage: (0px, 36px, 0px, -36px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-mage', );
$flair-alliance-monk-name: 'flair-alliance-monk';
$flair-alliance-monk-x: 36px;
$flair-alliance-monk-y: 36px;
$flair-alliance-monk-offset-x: -36px;
$flair-alliance-monk-offset-y: -36px;
$flair-alliance-monk-width: 36px;
$flair-alliance-monk-height: 18px;
$flair-alliance-monk-total-width: 178px;
$flair-alliance-monk-total-height: 177px;
$flair-alliance-monk-image: '../sprites/flair-user.png';
$flair-alliance-monk: (36px, 36px, -36px, -36px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-monk', );
$flair-alliance-paladin-name: 'flair-alliance-paladin';
$flair-alliance-paladin-x: 0px;
$flair-alliance-paladin-y: 54px;
$flair-alliance-paladin-offset-x: 0px;
$flair-alliance-paladin-offset-y: -54px;
$flair-alliance-paladin-width: 36px;
$flair-alliance-paladin-height: 18px;
$flair-alliance-paladin-total-width: 178px;
$flair-alliance-paladin-total-height: 177px;
$flair-alliance-paladin-image: '../sprites/flair-user.png';
$flair-alliance-paladin: (0px, 54px, 0px, -54px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-paladin', );
$flair-alliance-priest-name: 'flair-alliance-priest';
$flair-alliance-priest-x: 36px;
$flair-alliance-priest-y: 54px;
$flair-alliance-priest-offset-x: -36px;
$flair-alliance-priest-offset-y: -54px;
$flair-alliance-priest-width: 36px;
$flair-alliance-priest-height: 18px;
$flair-alliance-priest-total-width: 178px;
$flair-alliance-priest-total-height: 177px;
$flair-alliance-priest-image: '../sprites/flair-user.png';
$flair-alliance-priest: (36px, 54px, -36px, -54px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-priest', );
$flair-alliance-rogue-name: 'flair-alliance-rogue';
$flair-alliance-rogue-x: 72px;
$flair-alliance-rogue-y: 0px;
$flair-alliance-rogue-offset-x: -72px;
$flair-alliance-rogue-offset-y: 0px;
$flair-alliance-rogue-width: 36px;
$flair-alliance-rogue-height: 18px;
$flair-alliance-rogue-total-width: 178px;
$flair-alliance-rogue-total-height: 177px;
$flair-alliance-rogue-image: '../sprites/flair-user.png';
$flair-alliance-rogue: (72px, 0px, -72px, 0px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-rogue', );
$flair-alliance-shaman-name: 'flair-alliance-shaman';
$flair-alliance-shaman-x: 72px;
$flair-alliance-shaman-y: 18px;
$flair-alliance-shaman-offset-x: -72px;
$flair-alliance-shaman-offset-y: -18px;
$flair-alliance-shaman-width: 36px;
$flair-alliance-shaman-height: 18px;
$flair-alliance-shaman-total-width: 178px;
$flair-alliance-shaman-total-height: 177px;
$flair-alliance-shaman-image: '../sprites/flair-user.png';
$flair-alliance-shaman: (72px, 18px, -72px, -18px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-shaman', );
$flair-alliance-warlock-name: 'flair-alliance-warlock';
$flair-alliance-warlock-x: 72px;
$flair-alliance-warlock-y: 36px;
$flair-alliance-warlock-offset-x: -72px;
$flair-alliance-warlock-offset-y: -36px;
$flair-alliance-warlock-width: 36px;
$flair-alliance-warlock-height: 18px;
$flair-alliance-warlock-total-width: 178px;
$flair-alliance-warlock-total-height: 177px;
$flair-alliance-warlock-image: '../sprites/flair-user.png';
$flair-alliance-warlock: (72px, 36px, -72px, -36px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-warlock', );
$flair-alliance-warrior-name: 'flair-alliance-warrior';
$flair-alliance-warrior-x: 72px;
$flair-alliance-warrior-y: 54px;
$flair-alliance-warrior-offset-x: -72px;
$flair-alliance-warrior-offset-y: -54px;
$flair-alliance-warrior-width: 36px;
$flair-alliance-warrior-height: 18px;
$flair-alliance-warrior-total-width: 178px;
$flair-alliance-warrior-total-height: 177px;
$flair-alliance-warrior-image: '../sprites/flair-user.png';
$flair-alliance-warrior: (72px, 54px, -72px, -54px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance-warrior', );
$flair-alliance-name: 'flair-alliance';
$flair-alliance-x: 144px;
$flair-alliance-y: 90px;
$flair-alliance-offset-x: -144px;
$flair-alliance-offset-y: -90px;
$flair-alliance-width: 18px;
$flair-alliance-height: 18px;
$flair-alliance-total-width: 178px;
$flair-alliance-total-height: 177px;
$flair-alliance-image: '../sprites/flair-user.png';
$flair-alliance: (144px, 90px, -144px, -90px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliance', );
$flair-alliancehorde-name: 'flair-alliancehorde';
$flair-alliancehorde-x: 54px;
$flair-alliancehorde-y: 143px;
$flair-alliancehorde-offset-x: -54px;
$flair-alliancehorde-offset-y: -143px;
$flair-alliancehorde-width: 18px;
$flair-alliancehorde-height: 18px;
$flair-alliancehorde-total-width: 178px;
$flair-alliancehorde-total-height: 177px;
$flair-alliancehorde-image: '../sprites/flair-user.png';
$flair-alliancehorde: (54px, 143px, -54px, -143px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-alliancehorde', );
$flair-aphoenix-name: 'flair-aphoenix';
$flair-aphoenix-x: 144px;
$flair-aphoenix-y: 54px;
$flair-aphoenix-offset-x: -144px;
$flair-aphoenix-offset-y: -54px;
$flair-aphoenix-width: 18px;
$flair-aphoenix-height: 18px;
$flair-aphoenix-total-width: 178px;
$flair-aphoenix-total-height: 177px;
$flair-aphoenix-image: '../sprites/flair-user.png';
$flair-aphoenix: (144px, 54px, -144px, -54px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-aphoenix', );
$flair-aptbot-name: 'flair-aptbot';
$flair-aptbot-x: 104px;
$flair-aptbot-y: 143px;
$flair-aptbot-offset-x: -104px;
$flair-aptbot-offset-y: -143px;
$flair-aptbot-width: 16px;
$flair-aptbot-height: 16px;
$flair-aptbot-total-width: 178px;
$flair-aptbot-total-height: 177px;
$flair-aptbot-image: '../sprites/flair-user.png';
$flair-aptbot: (104px, 143px, -104px, -143px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-aptbot', );
$flair-arthur-name: 'flair-arthur';
$flair-arthur-x: 144px;
$flair-arthur-y: 36px;
$flair-arthur-offset-x: -144px;
$flair-arthur-offset-y: -36px;
$flair-arthur-width: 18px;
$flair-arthur-height: 18px;
$flair-arthur-total-width: 178px;
$flair-arthur-total-height: 177px;
$flair-arthur-image: '../sprites/flair-user.png';
$flair-arthur: (144px, 36px, -144px, -36px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-arthur', );
$flair-bewmkin-name: 'flair-bewmkin';
$flair-bewmkin-x: 144px;
$flair-bewmkin-y: 18px;
$flair-bewmkin-offset-x: -144px;
$flair-bewmkin-offset-y: -18px;
$flair-bewmkin-width: 18px;
$flair-bewmkin-height: 18px;
$flair-bewmkin-total-width: 178px;
$flair-bewmkin-total-height: 177px;
$flair-bewmkin-image: '../sprites/flair-user.png';
$flair-bewmkin: (144px, 18px, -144px, -18px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-bewmkin', );
$flair-blizzard-name: 'flair-blizzard';
$flair-blizzard-x: 27px;
$flair-blizzard-y: 129px;
$flair-blizzard-offset-x: -27px;
$flair-blizzard-offset-y: -129px;
$flair-blizzard-width: 20px;
$flair-blizzard-height: 13px;
$flair-blizzard-total-width: 178px;
$flair-blizzard-total-height: 177px;
$flair-blizzard-image: '../sprites/flair-user.png';
$flair-blizzard: (27px, 129px, -27px, -129px, 20px, 13px, 178px, 177px, '../sprites/flair-user.png', 'flair-blizzard', );
$flair-deathknight-name: 'flair-deathknight';
$flair-deathknight-x: 162px;
$flair-deathknight-y: 0px;
$flair-deathknight-offset-x: -162px;
$flair-deathknight-offset-y: 0px;
$flair-deathknight-width: 16px;
$flair-deathknight-height: 16px;
$flair-deathknight-total-width: 178px;
$flair-deathknight-total-height: 177px;
$flair-deathknight-image: '../sprites/flair-user.png';
$flair-deathknight: (162px, 0px, -162px, 0px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-deathknight', );
$flair-demonhunter-name: 'flair-demonhunter';
$flair-demonhunter-x: 18px;
$flair-demonhunter-y: 143px;
$flair-demonhunter-offset-x: -18px;
$flair-demonhunter-offset-y: -143px;
$flair-demonhunter-width: 18px;
$flair-demonhunter-height: 18px;
$flair-demonhunter-total-width: 178px;
$flair-demonhunter-total-height: 177px;
$flair-demonhunter-image: '../sprites/flair-user.png';
$flair-demonhunter: (18px, 143px, -18px, -143px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-demonhunter', );
$flair-doctor-name: 'flair-doctor';
$flair-doctor-x: 72px;
$flair-doctor-y: 143px;
$flair-doctor-offset-x: -72px;
$flair-doctor-offset-y: -143px;
$flair-doctor-width: 16px;
$flair-doctor-height: 16px;
$flair-doctor-total-width: 178px;
$flair-doctor-total-height: 177px;
$flair-doctor-image: '../sprites/flair-user.png';
$flair-doctor: (72px, 143px, -72px, -143px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-doctor', );
$flair-druid-name: 'flair-druid';
$flair-druid-x: 144px;
$flair-druid-y: 126px;
$flair-druid-offset-x: -144px;
$flair-druid-offset-y: -126px;
$flair-druid-width: 16px;
$flair-druid-height: 16px;
$flair-druid-total-width: 178px;
$flair-druid-total-height: 177px;
$flair-druid-image: '../sprites/flair-user.png';
$flair-druid: (144px, 126px, -144px, -126px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-druid', );
$flair-fansite-icyveisn-name: 'flair-fansite-icyveisn';
$flair-fansite-icyveisn-x: 144px;
$flair-fansite-icyveisn-y: 72px;
$flair-fansite-icyveisn-offset-x: -144px;
$flair-fansite-icyveisn-offset-y: -72px;
$flair-fansite-icyveisn-width: 18px;
$flair-fansite-icyveisn-height: 18px;
$flair-fansite-icyveisn-total-width: 178px;
$flair-fansite-icyveisn-total-height: 177px;
$flair-fansite-icyveisn-image: '../sprites/flair-user.png';
$flair-fansite-icyveisn: (144px, 72px, -144px, -72px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-fansite-icyveisn', );
$flair-fansite-mmochampion-name: 'flair-fansite-mmochampion';
$flair-fansite-mmochampion-x: 0px;
$flair-fansite-mmochampion-y: 129px;
$flair-fansite-mmochampion-offset-x: 0px;
$flair-fansite-mmochampion-offset-y: -129px;
$flair-fansite-mmochampion-width: 27px;
$flair-fansite-mmochampion-height: 14px;
$flair-fansite-mmochampion-total-width: 178px;
$flair-fansite-mmochampion-total-height: 177px;
$flair-fansite-mmochampion-image: '../sprites/flair-user.png';
$flair-fansite-mmochampion: (0px, 129px, 0px, -129px, 27px, 14px, 178px, 177px, '../sprites/flair-user.png', 'flair-fansite-mmochampion', );
$flair-fansite-openraid-name: 'flair-fansite-openraid';
$flair-fansite-openraid-x: 0px;
$flair-fansite-openraid-y: 108px;
$flair-fansite-openraid-offset-x: 0px;
$flair-fansite-openraid-offset-y: -108px;
$flair-fansite-openraid-width: 21px;
$flair-fansite-openraid-height: 21px;
$flair-fansite-openraid-total-width: 178px;
$flair-fansite-openraid-total-height: 177px;
$flair-fansite-openraid-image: '../sprites/flair-user.png';
$flair-fansite-openraid: (0px, 108px, 0px, -108px, 21px, 21px, 178px, 177px, '../sprites/flair-user.png', 'flair-fansite-openraid', );
$flair-fansite-wowhead-name: 'flair-fansite-wowhead';
$flair-fansite-wowhead-x: 21px;
$flair-fansite-wowhead-y: 108px;
$flair-fansite-wowhead-offset-x: -21px;
$flair-fansite-wowhead-offset-y: -108px;
$flair-fansite-wowhead-width: 28px;
$flair-fansite-wowhead-height: 15px;
$flair-fansite-wowhead-total-width: 178px;
$flair-fansite-wowhead-total-height: 177px;
$flair-fansite-wowhead-image: '../sprites/flair-user.png';
$flair-fansite-wowhead: (21px, 108px, -21px, -108px, 28px, 15px, 178px, 177px, '../sprites/flair-user.png', 'flair-fansite-wowhead', );
$flair-herpdeeps-name: 'flair-herpdeeps';
$flair-herpdeeps-x: 136px;
$flair-herpdeeps-y: 143px;
$flair-herpdeeps-offset-x: -136px;
$flair-herpdeeps-offset-y: -143px;
$flair-herpdeeps-width: 16px;
$flair-herpdeeps-height: 16px;
$flair-herpdeeps-total-width: 178px;
$flair-herpdeeps-total-height: 177px;
$flair-herpdeeps-image: '../sprites/flair-user.png';
$flair-herpdeeps: (136px, 143px, -136px, -143px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-herpdeeps', );
$flair-horde-deathknight-name: 'flair-horde-deathknight';
$flair-horde-deathknight-x: 108px;
$flair-horde-deathknight-y: 90px;
$flair-horde-deathknight-offset-x: -108px;
$flair-horde-deathknight-offset-y: -90px;
$flair-horde-deathknight-width: 36px;
$flair-horde-deathknight-height: 18px;
$flair-horde-deathknight-total-width: 178px;
$flair-horde-deathknight-total-height: 177px;
$flair-horde-deathknight-image: '../sprites/flair-user.png';
$flair-horde-deathknight: (108px, 90px, -108px, -90px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-deathknight', );
$flair-horde-demonhunter-name: 'flair-horde-demonhunter';
$flair-horde-demonhunter-x: 108px;
$flair-horde-demonhunter-y: 72px;
$flair-horde-demonhunter-offset-x: -108px;
$flair-horde-demonhunter-offset-y: -72px;
$flair-horde-demonhunter-width: 36px;
$flair-horde-demonhunter-height: 18px;
$flair-horde-demonhunter-total-width: 178px;
$flair-horde-demonhunter-total-height: 177px;
$flair-horde-demonhunter-image: '../sprites/flair-user.png';
$flair-horde-demonhunter: (108px, 72px, -108px, -72px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-demonhunter', );
$flair-horde-druid-name: 'flair-horde-druid';
$flair-horde-druid-x: 108px;
$flair-horde-druid-y: 54px;
$flair-horde-druid-offset-x: -108px;
$flair-horde-druid-offset-y: -54px;
$flair-horde-druid-width: 36px;
$flair-horde-druid-height: 18px;
$flair-horde-druid-total-width: 178px;
$flair-horde-druid-total-height: 177px;
$flair-horde-druid-image: '../sprites/flair-user.png';
$flair-horde-druid: (108px, 54px, -108px, -54px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-druid', );
$flair-horde-hunter-name: 'flair-horde-hunter';
$flair-horde-hunter-x: 0px;
$flair-horde-hunter-y: 0px;
$flair-horde-hunter-offset-x: 0px;
$flair-horde-hunter-offset-y: 0px;
$flair-horde-hunter-width: 36px;
$flair-horde-hunter-height: 18px;
$flair-horde-hunter-total-width: 178px;
$flair-horde-hunter-total-height: 177px;
$flair-horde-hunter-image: '../sprites/flair-user.png';
$flair-horde-hunter: (0px, 0px, 0px, 0px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-hunter', );
$flair-horde-mage-name: 'flair-horde-mage';
$flair-horde-mage-x: 108px;
$flair-horde-mage-y: 18px;
$flair-horde-mage-offset-x: -108px;
$flair-horde-mage-offset-y: -18px;
$flair-horde-mage-width: 36px;
$flair-horde-mage-height: 18px;
$flair-horde-mage-total-width: 178px;
$flair-horde-mage-total-height: 177px;
$flair-horde-mage-image: '../sprites/flair-user.png';
$flair-horde-mage: (108px, 18px, -108px, -18px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-mage', );
$flair-horde-monk-name: 'flair-horde-monk';
$flair-horde-monk-x: 108px;
$flair-horde-monk-y: 0px;
$flair-horde-monk-offset-x: -108px;
$flair-horde-monk-offset-y: 0px;
$flair-horde-monk-width: 36px;
$flair-horde-monk-height: 18px;
$flair-horde-monk-total-width: 178px;
$flair-horde-monk-total-height: 177px;
$flair-horde-monk-image: '../sprites/flair-user.png';
$flair-horde-monk: (108px, 0px, -108px, 0px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-monk', );
$flair-horde-paladin-name: 'flair-horde-paladin';
$flair-horde-paladin-x: 72px;
$flair-horde-paladin-y: 90px;
$flair-horde-paladin-offset-x: -72px;
$flair-horde-paladin-offset-y: -90px;
$flair-horde-paladin-width: 36px;
$flair-horde-paladin-height: 18px;
$flair-horde-paladin-total-width: 178px;
$flair-horde-paladin-total-height: 177px;
$flair-horde-paladin-image: '../sprites/flair-user.png';
$flair-horde-paladin: (72px, 90px, -72px, -90px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-paladin', );
$flair-horde-priest-name: 'flair-horde-priest';
$flair-horde-priest-x: 36px;
$flair-horde-priest-y: 90px;
$flair-horde-priest-offset-x: -36px;
$flair-horde-priest-offset-y: -90px;
$flair-horde-priest-width: 36px;
$flair-horde-priest-height: 18px;
$flair-horde-priest-total-width: 178px;
$flair-horde-priest-total-height: 177px;
$flair-horde-priest-image: '../sprites/flair-user.png';
$flair-horde-priest: (36px, 90px, -36px, -90px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-priest', );
$flair-horde-rogue-name: 'flair-horde-rogue';
$flair-horde-rogue-x: 0px;
$flair-horde-rogue-y: 90px;
$flair-horde-rogue-offset-x: 0px;
$flair-horde-rogue-offset-y: -90px;
$flair-horde-rogue-width: 36px;
$flair-horde-rogue-height: 18px;
$flair-horde-rogue-total-width: 178px;
$flair-horde-rogue-total-height: 177px;
$flair-horde-rogue-image: '../sprites/flair-user.png';
$flair-horde-rogue: (0px, 90px, 0px, -90px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-rogue', );
$flair-horde-shaman-name: 'flair-horde-shaman';
$flair-horde-shaman-x: 72px;
$flair-horde-shaman-y: 72px;
$flair-horde-shaman-offset-x: -72px;
$flair-horde-shaman-offset-y: -72px;
$flair-horde-shaman-width: 36px;
$flair-horde-shaman-height: 18px;
$flair-horde-shaman-total-width: 178px;
$flair-horde-shaman-total-height: 177px;
$flair-horde-shaman-image: '../sprites/flair-user.png';
$flair-horde-shaman: (72px, 72px, -72px, -72px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-shaman', );
$flair-horde-warlock-name: 'flair-horde-warlock';
$flair-horde-warlock-x: 36px;
$flair-horde-warlock-y: 72px;
$flair-horde-warlock-offset-x: -36px;
$flair-horde-warlock-offset-y: -72px;
$flair-horde-warlock-width: 36px;
$flair-horde-warlock-height: 18px;
$flair-horde-warlock-total-width: 178px;
$flair-horde-warlock-total-height: 177px;
$flair-horde-warlock-image: '../sprites/flair-user.png';
$flair-horde-warlock: (36px, 72px, -36px, -72px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-warlock', );
$flair-horde-warrior-name: 'flair-horde-warrior';
$flair-horde-warrior-x: 0px;
$flair-horde-warrior-y: 72px;
$flair-horde-warrior-offset-x: 0px;
$flair-horde-warrior-offset-y: -72px;
$flair-horde-warrior-width: 36px;
$flair-horde-warrior-height: 18px;
$flair-horde-warrior-total-width: 178px;
$flair-horde-warrior-total-height: 177px;
$flair-horde-warrior-image: '../sprites/flair-user.png';
$flair-horde-warrior: (0px, 72px, 0px, -72px, 36px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde-warrior', );
$flair-horde-name: 'flair-horde';
$flair-horde-x: 144px;
$flair-horde-y: 108px;
$flair-horde-offset-x: -144px;
$flair-horde-offset-y: -108px;
$flair-horde-width: 18px;
$flair-horde-height: 18px;
$flair-horde-total-width: 178px;
$flair-horde-total-height: 177px;
$flair-horde-image: '../sprites/flair-user.png';
$flair-horde: (144px, 108px, -144px, -108px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-horde', );
$flair-hordealliance-name: 'flair-hordealliance';
$flair-hordealliance-x: 0px;
$flair-hordealliance-y: 143px;
$flair-hordealliance-offset-x: 0px;
$flair-hordealliance-offset-y: -143px;
$flair-hordealliance-width: 18px;
$flair-hordealliance-height: 18px;
$flair-hordealliance-total-width: 178px;
$flair-hordealliance-total-height: 177px;
$flair-hordealliance-image: '../sprites/flair-user.png';
$flair-hordealliance: (0px, 143px, 0px, -143px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-hordealliance', );
$flair-hunter-name: 'flair-hunter';
$flair-hunter-x: 88px;
$flair-hunter-y: 143px;
$flair-hunter-offset-x: -88px;
$flair-hunter-offset-y: -143px;
$flair-hunter-width: 16px;
$flair-hunter-height: 16px;
$flair-hunter-total-width: 178px;
$flair-hunter-total-height: 177px;
$flair-hunter-image: '../sprites/flair-user.png';
$flair-hunter: (88px, 143px, -88px, -143px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-hunter', );
$flair-lasse-name: 'flair-lasse';
$flair-lasse-x: 80px;
$flair-lasse-y: 161px;
$flair-lasse-offset-x: -80px;
$flair-lasse-offset-y: -161px;
$flair-lasse-width: 16px;
$flair-lasse-height: 16px;
$flair-lasse-total-width: 178px;
$flair-lasse-total-height: 177px;
$flair-lasse-image: '../sprites/flair-user.png';
$flair-lasse: (80px, 161px, -80px, -161px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-lasse', );
$flair-mage-name: 'flair-mage';
$flair-mage-x: 120px;
$flair-mage-y: 143px;
$flair-mage-offset-x: -120px;
$flair-mage-offset-y: -143px;
$flair-mage-width: 16px;
$flair-mage-height: 16px;
$flair-mage-total-width: 178px;
$flair-mage-total-height: 177px;
$flair-mage-image: '../sprites/flair-user.png';
$flair-mage: (120px, 143px, -120px, -143px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-mage', );
$flair-method-name: 'flair-method';
$flair-method-x: 36px;
$flair-method-y: 143px;
$flair-method-offset-x: -36px;
$flair-method-offset-y: -143px;
$flair-method-width: 18px;
$flair-method-height: 18px;
$flair-method-total-width: 178px;
$flair-method-total-height: 177px;
$flair-method-image: '../sprites/flair-user.png';
$flair-method: (36px, 143px, -36px, -143px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-method', );
$flair-midwinter-name: 'flair-midwinter';
$flair-midwinter-x: 49px;
$flair-midwinter-y: 108px;
$flair-midwinter-offset-x: -49px;
$flair-midwinter-offset-y: -108px;
$flair-midwinter-width: 34px;
$flair-midwinter-height: 12px;
$flair-midwinter-total-width: 178px;
$flair-midwinter-total-height: 177px;
$flair-midwinter-image: '../sprites/flair-user.png';
$flair-midwinter: (49px, 108px, -49px, -108px, 34px, 12px, 178px, 177px, '../sprites/flair-user.png', 'flair-midwinter', );
$flair-monk-name: 'flair-monk';
$flair-monk-x: 162px;
$flair-monk-y: 16px;
$flair-monk-offset-x: -162px;
$flair-monk-offset-y: -16px;
$flair-monk-width: 16px;
$flair-monk-height: 16px;
$flair-monk-total-width: 178px;
$flair-monk-total-height: 177px;
$flair-monk-image: '../sprites/flair-user.png';
$flair-monk: (162px, 16px, -162px, -16px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-monk', );
$flair-paladin-name: 'flair-paladin';
$flair-paladin-x: 162px;
$flair-paladin-y: 32px;
$flair-paladin-offset-x: -162px;
$flair-paladin-offset-y: -32px;
$flair-paladin-width: 16px;
$flair-paladin-height: 16px;
$flair-paladin-total-width: 178px;
$flair-paladin-total-height: 177px;
$flair-paladin-image: '../sprites/flair-user.png';
$flair-paladin: (162px, 32px, -162px, -32px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-paladin', );
$flair-phedre-name: 'flair-phedre';
$flair-phedre-x: 162px;
$flair-phedre-y: 48px;
$flair-phedre-offset-x: -162px;
$flair-phedre-offset-y: -48px;
$flair-phedre-width: 16px;
$flair-phedre-height: 16px;
$flair-phedre-total-width: 178px;
$flair-phedre-total-height: 177px;
$flair-phedre-image: '../sprites/flair-user.png';
$flair-phedre: (162px, 48px, -162px, -48px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-phedre', );
$flair-priest-name: 'flair-priest';
$flair-priest-x: 162px;
$flair-priest-y: 64px;
$flair-priest-offset-x: -162px;
$flair-priest-offset-y: -64px;
$flair-priest-width: 16px;
$flair-priest-height: 16px;
$flair-priest-total-width: 178px;
$flair-priest-total-height: 177px;
$flair-priest-image: '../sprites/flair-user.png';
$flair-priest: (162px, 64px, -162px, -64px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-priest', );
$flair-raptor-name: 'flair-raptor';
$flair-raptor-x: 162px;
$flair-raptor-y: 80px;
$flair-raptor-offset-x: -162px;
$flair-raptor-offset-y: -80px;
$flair-raptor-width: 16px;
$flair-raptor-height: 16px;
$flair-raptor-total-width: 178px;
$flair-raptor-total-height: 177px;
$flair-raptor-image: '../sprites/flair-user.png';
$flair-raptor: (162px, 80px, -162px, -80px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-raptor', );
$flair-roboticide-name: 'flair-roboticide';
$flair-roboticide-x: 162px;
$flair-roboticide-y: 96px;
$flair-roboticide-offset-x: -162px;
$flair-roboticide-offset-y: -96px;
$flair-roboticide-width: 16px;
$flair-roboticide-height: 16px;
$flair-roboticide-total-width: 178px;
$flair-roboticide-total-height: 177px;
$flair-roboticide-image: '../sprites/flair-user.png';
$flair-roboticide: (162px, 96px, -162px, -96px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-roboticide', );
$flair-rogue-name: 'flair-rogue';
$flair-rogue-x: 162px;
$flair-rogue-y: 112px;
$flair-rogue-offset-x: -162px;
$flair-rogue-offset-y: -112px;
$flair-rogue-width: 16px;
$flair-rogue-height: 16px;
$flair-rogue-total-width: 178px;
$flair-rogue-total-height: 177px;
$flair-rogue-image: '../sprites/flair-user.png';
$flair-rogue: (162px, 112px, -162px, -112px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-rogue', );
$flair-shaman-name: 'flair-shaman';
$flair-shaman-x: 162px;
$flair-shaman-y: 128px;
$flair-shaman-offset-x: -162px;
$flair-shaman-offset-y: -128px;
$flair-shaman-width: 16px;
$flair-shaman-height: 16px;
$flair-shaman-total-width: 178px;
$flair-shaman-total-height: 177px;
$flair-shaman-image: '../sprites/flair-user.png';
$flair-shaman: (162px, 128px, -162px, -128px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-shaman', );
$flair-unknown-name: 'flair-unknown';
$flair-unknown-x: 162px;
$flair-unknown-y: 144px;
$flair-unknown-offset-x: -162px;
$flair-unknown-offset-y: -144px;
$flair-unknown-width: 16px;
$flair-unknown-height: 16px;
$flair-unknown-total-width: 178px;
$flair-unknown-total-height: 177px;
$flair-unknown-image: '../sprites/flair-user.png';
$flair-unknown: (162px, 144px, -162px, -144px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-unknown', );
$flair-vertical-name: 'flair-vertical';
$flair-vertical-x: 0px;
$flair-vertical-y: 161px;
$flair-vertical-offset-x: 0px;
$flair-vertical-offset-y: -161px;
$flair-vertical-width: 16px;
$flair-vertical-height: 16px;
$flair-vertical-total-width: 178px;
$flair-vertical-total-height: 177px;
$flair-vertical-image: '../sprites/flair-user.png';
$flair-vertical: (0px, 161px, 0px, -161px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-vertical', );
$flair-vusys-name: 'flair-vusys';
$flair-vusys-x: 144px;
$flair-vusys-y: 0px;
$flair-vusys-offset-x: -144px;
$flair-vusys-offset-y: 0px;
$flair-vusys-width: 18px;
$flair-vusys-height: 18px;
$flair-vusys-total-width: 178px;
$flair-vusys-total-height: 177px;
$flair-vusys-image: '../sprites/flair-user.png';
$flair-vusys: (144px, 0px, -144px, 0px, 18px, 18px, 178px, 177px, '../sprites/flair-user.png', 'flair-vusys', );
$flair-waahht-name: 'flair-waahht';
$flair-waahht-x: 32px;
$flair-waahht-y: 161px;
$flair-waahht-offset-x: -32px;
$flair-waahht-offset-y: -161px;
$flair-waahht-width: 16px;
$flair-waahht-height: 16px;
$flair-waahht-total-width: 178px;
$flair-waahht-total-height: 177px;
$flair-waahht-image: '../sprites/flair-user.png';
$flair-waahht: (32px, 161px, -32px, -161px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-waahht', );
$flair-warlock-name: 'flair-warlock';
$flair-warlock-x: 48px;
$flair-warlock-y: 161px;
$flair-warlock-offset-x: -48px;
$flair-warlock-offset-y: -161px;
$flair-warlock-width: 16px;
$flair-warlock-height: 16px;
$flair-warlock-total-width: 178px;
$flair-warlock-total-height: 177px;
$flair-warlock-image: '../sprites/flair-user.png';
$flair-warlock: (48px, 161px, -48px, -161px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-warlock', );
$flair-warrior-name: 'flair-warrior';
$flair-warrior-x: 64px;
$flair-warrior-y: 161px;
$flair-warrior-offset-x: -64px;
$flair-warrior-offset-y: -161px;
$flair-warrior-width: 16px;
$flair-warrior-height: 16px;
$flair-warrior-total-width: 178px;
$flair-warrior-total-height: 177px;
$flair-warrior-image: '../sprites/flair-user.png';
$flair-warrior: (64px, 161px, -64px, -161px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-warrior', );
$flair-zvitiate-name: 'flair-zvitiate';
$flair-zvitiate-x: 16px;
$flair-zvitiate-y: 161px;
$flair-zvitiate-offset-x: -16px;
$flair-zvitiate-offset-y: -161px;
$flair-zvitiate-width: 16px;
$flair-zvitiate-height: 16px;
$flair-zvitiate-total-width: 178px;
$flair-zvitiate-total-height: 177px;
$flair-zvitiate-image: '../sprites/flair-user.png';
$flair-zvitiate: (16px, 161px, -16px, -161px, 16px, 16px, 178px, 177px, '../sprites/flair-user.png', 'flair-zvitiate', );
$flair-user-width: 178px;
$flair-user-height: 177px;
$flair-user-image: '../sprites/flair-user.png';
$flair-user-sprites: ($flair-alliance-deathknight, $flair-alliance-demonhunter, $flair-alliance-druid, $flair-alliance-hunter, $flair-alliance-mage, $flair-alliance-monk, $flair-alliance-paladin, $flair-alliance-priest, $flair-alliance-rogue, $flair-alliance-shaman, $flair-alliance-warlock, $flair-alliance-warrior, $flair-alliance, $flair-alliancehorde, $flair-aphoenix, $flair-aptbot, $flair-arthur, $flair-bewmkin, $flair-blizzard, $flair-deathknight, $flair-demonhunter, $flair-doctor, $flair-druid, $flair-fansite-icyveisn, $flair-fansite-mmochampion, $flair-fansite-openraid, $flair-fansite-wowhead, $flair-herpdeeps, $flair-horde-deathknight, $flair-horde-demonhunter, $flair-horde-druid, $flair-horde-hunter, $flair-horde-mage, $flair-horde-monk, $flair-horde-paladin, $flair-horde-priest, $flair-horde-rogue, $flair-horde-shaman, $flair-horde-warlock, $flair-horde-warrior, $flair-horde, $flair-hordealliance, $flair-hunter, $flair-lasse, $flair-mage, $flair-method, $flair-midwinter, $flair-monk, $flair-paladin, $flair-phedre, $flair-priest, $flair-raptor, $flair-roboticide, $flair-rogue, $flair-shaman, $flair-unknown, $flair-vertical, $flair-vusys, $flair-waahht, $flair-warlock, $flair-warrior, $flair-zvitiate, );
$flair-user: (178px, 177px, '../sprites/flair-user.png', $flair-user-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
