/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ability-creature-cursed-05-glow-fw-name: 'ability_creature_cursed_05-glow.fw';
$ability-creature-cursed-05-glow-fw-x: 280px;
$ability-creature-cursed-05-glow-fw-y: 312px;
$ability-creature-cursed-05-glow-fw-offset-x: -280px;
$ability-creature-cursed-05-glow-fw-offset-y: -312px;
$ability-creature-cursed-05-glow-fw-width: 28px;
$ability-creature-cursed-05-glow-fw-height: 28px;
$ability-creature-cursed-05-glow-fw-total-width: 396px;
$ability-creature-cursed-05-glow-fw-total-height: 388px;
$ability-creature-cursed-05-glow-fw-image: '../sprites/spritesheet.png';
$ability-creature-cursed-05-glow-fw: (280px, 312px, -280px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'ability_creature_cursed_05-glow.fw', );
$ability-creature-cursed-05-name: 'ability_creature_cursed_05';
$ability-creature-cursed-05-x: 252px;
$ability-creature-cursed-05-y: 312px;
$ability-creature-cursed-05-offset-x: -252px;
$ability-creature-cursed-05-offset-y: -312px;
$ability-creature-cursed-05-width: 28px;
$ability-creature-cursed-05-height: 28px;
$ability-creature-cursed-05-total-width: 396px;
$ability-creature-cursed-05-total-height: 388px;
$ability-creature-cursed-05-image: '../sprites/spritesheet.png';
$ability-creature-cursed-05: (252px, 312px, -252px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'ability_creature_cursed_05', );
$achievement-bg-returnxflags-def-wsg-glow-fw-name: 'achievement_bg_returnxflags_def_wsg-glow.fw';
$achievement-bg-returnxflags-def-wsg-glow-fw-x: 294px;
$achievement-bg-returnxflags-def-wsg-glow-fw-y: 168px;
$achievement-bg-returnxflags-def-wsg-glow-fw-offset-x: -294px;
$achievement-bg-returnxflags-def-wsg-glow-fw-offset-y: -168px;
$achievement-bg-returnxflags-def-wsg-glow-fw-width: 28px;
$achievement-bg-returnxflags-def-wsg-glow-fw-height: 28px;
$achievement-bg-returnxflags-def-wsg-glow-fw-total-width: 396px;
$achievement-bg-returnxflags-def-wsg-glow-fw-total-height: 388px;
$achievement-bg-returnxflags-def-wsg-glow-fw-image: '../sprites/spritesheet.png';
$achievement-bg-returnxflags-def-wsg-glow-fw: (294px, 168px, -294px, -168px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'achievement_bg_returnxflags_def_wsg-glow.fw', );
$achievement-bg-returnxflags-def-wsg-name: 'achievement_bg_returnxflags_def_wsg';
$achievement-bg-returnxflags-def-wsg-x: 252px;
$achievement-bg-returnxflags-def-wsg-y: 168px;
$achievement-bg-returnxflags-def-wsg-offset-x: -252px;
$achievement-bg-returnxflags-def-wsg-offset-y: -168px;
$achievement-bg-returnxflags-def-wsg-width: 28px;
$achievement-bg-returnxflags-def-wsg-height: 28px;
$achievement-bg-returnxflags-def-wsg-total-width: 396px;
$achievement-bg-returnxflags-def-wsg-total-height: 388px;
$achievement-bg-returnxflags-def-wsg-image: '../sprites/spritesheet.png';
$achievement-bg-returnxflags-def-wsg: (252px, 168px, -252px, -168px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'achievement_bg_returnxflags_def_wsg', );
$achievement-bg-topdps-glow-fw-name: 'achievement_bg_topdps-glow.fw';
$achievement-bg-topdps-glow-fw-x: 0px;
$achievement-bg-topdps-glow-fw-y: 312px;
$achievement-bg-topdps-glow-fw-offset-x: 0px;
$achievement-bg-topdps-glow-fw-offset-y: -312px;
$achievement-bg-topdps-glow-fw-width: 28px;
$achievement-bg-topdps-glow-fw-height: 28px;
$achievement-bg-topdps-glow-fw-total-width: 396px;
$achievement-bg-topdps-glow-fw-total-height: 388px;
$achievement-bg-topdps-glow-fw-image: '../sprites/spritesheet.png';
$achievement-bg-topdps-glow-fw: (0px, 312px, 0px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'achievement_bg_topdps-glow.fw', );
$achievement-bg-topdps-name: 'achievement_bg_topdps';
$achievement-bg-topdps-x: 140px;
$achievement-bg-topdps-y: 312px;
$achievement-bg-topdps-offset-x: -140px;
$achievement-bg-topdps-offset-y: -312px;
$achievement-bg-topdps-width: 28px;
$achievement-bg-topdps-height: 28px;
$achievement-bg-topdps-total-width: 396px;
$achievement-bg-topdps-total-height: 388px;
$achievement-bg-topdps-image: '../sprites/spritesheet.png';
$achievement-bg-topdps: (140px, 312px, -140px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'achievement_bg_topdps', );
$arrow-down-glow-name: 'arrow-down-glow';
$arrow-down-glow-x: 0px;
$arrow-down-glow-y: 340px;
$arrow-down-glow-offset-x: 0px;
$arrow-down-glow-offset-y: -340px;
$arrow-down-glow-width: 28px;
$arrow-down-glow-height: 23px;
$arrow-down-glow-total-width: 396px;
$arrow-down-glow-total-height: 388px;
$arrow-down-glow-image: '../sprites/spritesheet.png';
$arrow-down-glow: (0px, 340px, 0px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-down-glow', );
$arrow-down-grey-glow-name: 'arrow-down-grey-glow';
$arrow-down-grey-glow-x: 28px;
$arrow-down-grey-glow-y: 340px;
$arrow-down-grey-glow-offset-x: -28px;
$arrow-down-grey-glow-offset-y: -340px;
$arrow-down-grey-glow-width: 28px;
$arrow-down-grey-glow-height: 23px;
$arrow-down-grey-glow-total-width: 396px;
$arrow-down-grey-glow-total-height: 388px;
$arrow-down-grey-glow-image: '../sprites/spritesheet.png';
$arrow-down-grey-glow: (28px, 340px, -28px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-down-grey-glow', );
$arrow-down-grey-name: 'arrow-down-grey';
$arrow-down-grey-x: 56px;
$arrow-down-grey-y: 340px;
$arrow-down-grey-offset-x: -56px;
$arrow-down-grey-offset-y: -340px;
$arrow-down-grey-width: 28px;
$arrow-down-grey-height: 23px;
$arrow-down-grey-total-width: 396px;
$arrow-down-grey-total-height: 388px;
$arrow-down-grey-image: '../sprites/spritesheet.png';
$arrow-down-grey: (56px, 340px, -56px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-down-grey', );
$arrow-down-pressed-glow-name: 'arrow-down-pressed-glow';
$arrow-down-pressed-glow-x: 84px;
$arrow-down-pressed-glow-y: 340px;
$arrow-down-pressed-glow-offset-x: -84px;
$arrow-down-pressed-glow-offset-y: -340px;
$arrow-down-pressed-glow-width: 28px;
$arrow-down-pressed-glow-height: 23px;
$arrow-down-pressed-glow-total-width: 396px;
$arrow-down-pressed-glow-total-height: 388px;
$arrow-down-pressed-glow-image: '../sprites/spritesheet.png';
$arrow-down-pressed-glow: (84px, 340px, -84px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-down-pressed-glow', );
$arrow-down-pressed-name: 'arrow-down-pressed';
$arrow-down-pressed-x: 336px;
$arrow-down-pressed-y: 312px;
$arrow-down-pressed-offset-x: -336px;
$arrow-down-pressed-offset-y: -312px;
$arrow-down-pressed-width: 28px;
$arrow-down-pressed-height: 23px;
$arrow-down-pressed-total-width: 396px;
$arrow-down-pressed-total-height: 388px;
$arrow-down-pressed-image: '../sprites/spritesheet.png';
$arrow-down-pressed: (336px, 312px, -336px, -312px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-down-pressed', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 112px;
$arrow-down-y: 340px;
$arrow-down-offset-x: -112px;
$arrow-down-offset-y: -340px;
$arrow-down-width: 28px;
$arrow-down-height: 23px;
$arrow-down-total-width: 396px;
$arrow-down-total-height: 388px;
$arrow-down-image: '../sprites/spritesheet.png';
$arrow-down: (112px, 340px, -112px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-down', );
$arrow-up-glow-name: 'arrow-up-glow';
$arrow-up-glow-x: 140px;
$arrow-up-glow-y: 340px;
$arrow-up-glow-offset-x: -140px;
$arrow-up-glow-offset-y: -340px;
$arrow-up-glow-width: 28px;
$arrow-up-glow-height: 23px;
$arrow-up-glow-total-width: 396px;
$arrow-up-glow-total-height: 388px;
$arrow-up-glow-image: '../sprites/spritesheet.png';
$arrow-up-glow: (140px, 340px, -140px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-up-glow', );
$arrow-up-grey-glow-name: 'arrow-up-grey-glow';
$arrow-up-grey-glow-x: 168px;
$arrow-up-grey-glow-y: 340px;
$arrow-up-grey-glow-offset-x: -168px;
$arrow-up-grey-glow-offset-y: -340px;
$arrow-up-grey-glow-width: 28px;
$arrow-up-grey-glow-height: 23px;
$arrow-up-grey-glow-total-width: 396px;
$arrow-up-grey-glow-total-height: 388px;
$arrow-up-grey-glow-image: '../sprites/spritesheet.png';
$arrow-up-grey-glow: (168px, 340px, -168px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-up-grey-glow', );
$arrow-up-grey-name: 'arrow-up-grey';
$arrow-up-grey-x: 280px;
$arrow-up-grey-y: 340px;
$arrow-up-grey-offset-x: -280px;
$arrow-up-grey-offset-y: -340px;
$arrow-up-grey-width: 28px;
$arrow-up-grey-height: 23px;
$arrow-up-grey-total-width: 396px;
$arrow-up-grey-total-height: 388px;
$arrow-up-grey-image: '../sprites/spritesheet.png';
$arrow-up-grey: (280px, 340px, -280px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-up-grey', );
$arrow-up-pressed-glow-name: 'arrow-up-pressed-glow';
$arrow-up-pressed-glow-x: 252px;
$arrow-up-pressed-glow-y: 340px;
$arrow-up-pressed-glow-offset-x: -252px;
$arrow-up-pressed-glow-offset-y: -340px;
$arrow-up-pressed-glow-width: 28px;
$arrow-up-pressed-glow-height: 23px;
$arrow-up-pressed-glow-total-width: 396px;
$arrow-up-pressed-glow-total-height: 388px;
$arrow-up-pressed-glow-image: '../sprites/spritesheet.png';
$arrow-up-pressed-glow: (252px, 340px, -252px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-up-pressed-glow', );
$arrow-up-pressed-name: 'arrow-up-pressed';
$arrow-up-pressed-x: 224px;
$arrow-up-pressed-y: 340px;
$arrow-up-pressed-offset-x: -224px;
$arrow-up-pressed-offset-y: -340px;
$arrow-up-pressed-width: 28px;
$arrow-up-pressed-height: 23px;
$arrow-up-pressed-total-width: 396px;
$arrow-up-pressed-total-height: 388px;
$arrow-up-pressed-image: '../sprites/spritesheet.png';
$arrow-up-pressed: (224px, 340px, -224px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-up-pressed', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 196px;
$arrow-up-y: 340px;
$arrow-up-offset-x: -196px;
$arrow-up-offset-y: -340px;
$arrow-up-width: 28px;
$arrow-up-height: 23px;
$arrow-up-total-width: 396px;
$arrow-up-total-height: 388px;
$arrow-up-image: '../sprites/spritesheet.png';
$arrow-up: (196px, 340px, -196px, -340px, 28px, 23px, 396px, 388px, '../sprites/spritesheet.png', 'arrow-up', );
$exclamation-fw-name: 'exclamation.fw';
$exclamation-fw-x: 350px;
$exclamation-fw-y: 112px;
$exclamation-fw-offset-x: -350px;
$exclamation-fw-offset-y: -112px;
$exclamation-fw-width: 8px;
$exclamation-fw-height: 30px;
$exclamation-fw-total-width: 396px;
$exclamation-fw-total-height: 388px;
$exclamation-fw-image: '../sprites/spritesheet.png';
$exclamation-fw: (350px, 112px, -350px, -112px, 8px, 30px, 396px, 388px, '../sprites/spritesheet.png', 'exclamation.fw', );
$expando-aa-dark-fw-name: 'expando-aa-dark.fw';
$expando-aa-dark-fw-x: 364px;
$expando-aa-dark-fw-y: 280px;
$expando-aa-dark-fw-offset-x: -364px;
$expando-aa-dark-fw-offset-y: -280px;
$expando-aa-dark-fw-width: 25px;
$expando-aa-dark-fw-height: 25px;
$expando-aa-dark-fw-total-width: 396px;
$expando-aa-dark-fw-total-height: 388px;
$expando-aa-dark-fw-image: '../sprites/spritesheet.png';
$expando-aa-dark-fw: (364px, 280px, -364px, -280px, 25px, 25px, 396px, 388px, '../sprites/spritesheet.png', 'expando-aa-dark.fw', );
$expando-aa-fw-name: 'expando-aa.fw';
$expando-aa-fw-x: 364px;
$expando-aa-fw-y: 205px;
$expando-aa-fw-offset-x: -364px;
$expando-aa-fw-offset-y: -205px;
$expando-aa-fw-width: 25px;
$expando-aa-fw-height: 25px;
$expando-aa-fw-total-width: 396px;
$expando-aa-fw-total-height: 388px;
$expando-aa-fw-image: '../sprites/spritesheet.png';
$expando-aa-fw: (364px, 205px, -364px, -205px, 25px, 25px, 396px, 388px, '../sprites/spritesheet.png', 'expando-aa.fw', );
$expando-gallery-dark-fw-name: 'expando-gallery-dark.fw';
$expando-gallery-dark-fw-x: 364px;
$expando-gallery-dark-fw-y: 255px;
$expando-gallery-dark-fw-offset-x: -364px;
$expando-gallery-dark-fw-offset-y: -255px;
$expando-gallery-dark-fw-width: 25px;
$expando-gallery-dark-fw-height: 25px;
$expando-gallery-dark-fw-total-width: 396px;
$expando-gallery-dark-fw-total-height: 388px;
$expando-gallery-dark-fw-image: '../sprites/spritesheet.png';
$expando-gallery-dark-fw: (364px, 255px, -364px, -255px, 25px, 25px, 396px, 388px, '../sprites/spritesheet.png', 'expando-gallery-dark.fw', );
$expando-gallery-fw-name: 'expando-gallery.fw';
$expando-gallery-fw-x: 364px;
$expando-gallery-fw-y: 305px;
$expando-gallery-fw-offset-x: -364px;
$expando-gallery-fw-offset-y: -305px;
$expando-gallery-fw-width: 25px;
$expando-gallery-fw-height: 25px;
$expando-gallery-fw-total-width: 396px;
$expando-gallery-fw-total-height: 388px;
$expando-gallery-fw-image: '../sprites/spritesheet.png';
$expando-gallery-fw: (364px, 305px, -364px, -305px, 25px, 25px, 396px, 388px, '../sprites/spritesheet.png', 'expando-gallery.fw', );
$expando-image-dark-fw-name: 'expando-image-dark.fw';
$expando-image-dark-fw-x: 364px;
$expando-image-dark-fw-y: 330px;
$expando-image-dark-fw-offset-x: -364px;
$expando-image-dark-fw-offset-y: -330px;
$expando-image-dark-fw-width: 25px;
$expando-image-dark-fw-height: 25px;
$expando-image-dark-fw-total-width: 396px;
$expando-image-dark-fw-total-height: 388px;
$expando-image-dark-fw-image: '../sprites/spritesheet.png';
$expando-image-dark-fw: (364px, 330px, -364px, -330px, 25px, 25px, 396px, 388px, '../sprites/spritesheet.png', 'expando-image-dark.fw', );
$expando-image-fw-name: 'expando-image.fw';
$expando-image-fw-x: 0px;
$expando-image-fw-y: 363px;
$expando-image-fw-offset-x: 0px;
$expando-image-fw-offset-y: -363px;
$expando-image-fw-width: 25px;
$expando-image-fw-height: 25px;
$expando-image-fw-total-width: 396px;
$expando-image-fw-total-height: 388px;
$expando-image-fw-image: '../sprites/spritesheet.png';
$expando-image-fw: (0px, 363px, 0px, -363px, 25px, 25px, 396px, 388px, '../sprites/spritesheet.png', 'expando-image.fw', );
$expando-plus-dark-fw-name: 'expando-plus-dark.fw';
$expando-plus-dark-fw-x: 364px;
$expando-plus-dark-fw-y: 230px;
$expando-plus-dark-fw-offset-x: -364px;
$expando-plus-dark-fw-offset-y: -230px;
$expando-plus-dark-fw-width: 25px;
$expando-plus-dark-fw-height: 25px;
$expando-plus-dark-fw-total-width: 396px;
$expando-plus-dark-fw-total-height: 388px;
$expando-plus-dark-fw-image: '../sprites/spritesheet.png';
$expando-plus-dark-fw: (364px, 230px, -364px, -230px, 25px, 25px, 396px, 388px, '../sprites/spritesheet.png', 'expando-plus-dark.fw', );
$expando-plus-fw-name: 'expando-plus.fw';
$expando-plus-fw-x: 364px;
$expando-plus-fw-y: 180px;
$expando-plus-fw-offset-x: -364px;
$expando-plus-fw-offset-y: -180px;
$expando-plus-fw-width: 25px;
$expando-plus-fw-height: 25px;
$expando-plus-fw-total-width: 396px;
$expando-plus-fw-total-height: 388px;
$expando-plus-fw-image: '../sprites/spritesheet.png';
$expando-plus-fw: (364px, 180px, -364px, -180px, 25px, 25px, 396px, 388px, '../sprites/spritesheet.png', 'expando-plus.fw', );
$game-diablo-hover-fw-name: 'game-diablo-hover.fw';
$game-diablo-hover-fw-x: 0px;
$game-diablo-hover-fw-y: 262px;
$game-diablo-hover-fw-offset-x: 0px;
$game-diablo-hover-fw-offset-y: -262px;
$game-diablo-hover-fw-width: 50px;
$game-diablo-hover-fw-height: 50px;
$game-diablo-hover-fw-total-width: 396px;
$game-diablo-hover-fw-total-height: 388px;
$game-diablo-hover-fw-image: '../sprites/spritesheet.png';
$game-diablo-hover-fw: (0px, 262px, 0px, -262px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-diablo-hover.fw', );
$game-diablo-fw-name: 'game-diablo.fw';
$game-diablo-fw-x: 50px;
$game-diablo-fw-y: 262px;
$game-diablo-fw-offset-x: -50px;
$game-diablo-fw-offset-y: -262px;
$game-diablo-fw-width: 50px;
$game-diablo-fw-height: 50px;
$game-diablo-fw-total-width: 396px;
$game-diablo-fw-total-height: 388px;
$game-diablo-fw-image: '../sprites/spritesheet.png';
$game-diablo-fw: (50px, 262px, -50px, -262px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-diablo.fw', );
$game-hearthstone-hover-fw-name: 'game-hearthstone-hover.fw';
$game-hearthstone-hover-fw-x: 100px;
$game-hearthstone-hover-fw-y: 262px;
$game-hearthstone-hover-fw-offset-x: -100px;
$game-hearthstone-hover-fw-offset-y: -262px;
$game-hearthstone-hover-fw-width: 50px;
$game-hearthstone-hover-fw-height: 50px;
$game-hearthstone-hover-fw-total-width: 396px;
$game-hearthstone-hover-fw-total-height: 388px;
$game-hearthstone-hover-fw-image: '../sprites/spritesheet.png';
$game-hearthstone-hover-fw: (100px, 262px, -100px, -262px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-hearthstone-hover.fw', );
$game-hearthstone-fw-name: 'game-hearthstone.fw';
$game-hearthstone-fw-x: 150px;
$game-hearthstone-fw-y: 262px;
$game-hearthstone-fw-offset-x: -150px;
$game-hearthstone-fw-offset-y: -262px;
$game-hearthstone-fw-width: 50px;
$game-hearthstone-fw-height: 50px;
$game-hearthstone-fw-total-width: 396px;
$game-hearthstone-fw-total-height: 388px;
$game-hearthstone-fw-image: '../sprites/spritesheet.png';
$game-hearthstone-fw: (150px, 262px, -150px, -262px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-hearthstone.fw', );
$game-heroesofthestorm-hover-fw-name: 'game-heroesofthestorm-hover.fw';
$game-heroesofthestorm-hover-fw-x: 200px;
$game-heroesofthestorm-hover-fw-y: 262px;
$game-heroesofthestorm-hover-fw-offset-x: -200px;
$game-heroesofthestorm-hover-fw-offset-y: -262px;
$game-heroesofthestorm-hover-fw-width: 50px;
$game-heroesofthestorm-hover-fw-height: 50px;
$game-heroesofthestorm-hover-fw-total-width: 396px;
$game-heroesofthestorm-hover-fw-total-height: 388px;
$game-heroesofthestorm-hover-fw-image: '../sprites/spritesheet.png';
$game-heroesofthestorm-hover-fw: (200px, 262px, -200px, -262px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-heroesofthestorm-hover.fw', );
$game-heroesofthestorm-fw-name: 'game-heroesofthestorm.fw';
$game-heroesofthestorm-fw-x: 250px;
$game-heroesofthestorm-fw-y: 262px;
$game-heroesofthestorm-fw-offset-x: -250px;
$game-heroesofthestorm-fw-offset-y: -262px;
$game-heroesofthestorm-fw-width: 50px;
$game-heroesofthestorm-fw-height: 50px;
$game-heroesofthestorm-fw-total-width: 396px;
$game-heroesofthestorm-fw-total-height: 388px;
$game-heroesofthestorm-fw-image: '../sprites/spritesheet.png';
$game-heroesofthestorm-fw: (250px, 262px, -250px, -262px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-heroesofthestorm.fw', );
$game-starcraft-hover-fw-name: 'game-starcraft-hover.fw';
$game-starcraft-hover-fw-x: 212px;
$game-starcraft-hover-fw-y: 206px;
$game-starcraft-hover-fw-offset-x: -212px;
$game-starcraft-hover-fw-offset-y: -206px;
$game-starcraft-hover-fw-width: 50px;
$game-starcraft-hover-fw-height: 50px;
$game-starcraft-hover-fw-total-width: 396px;
$game-starcraft-hover-fw-total-height: 388px;
$game-starcraft-hover-fw-image: '../sprites/spritesheet.png';
$game-starcraft-hover-fw: (212px, 206px, -212px, -206px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-starcraft-hover.fw', );
$game-starcraft-fw-name: 'game-starcraft.fw';
$game-starcraft-fw-x: 300px;
$game-starcraft-fw-y: 262px;
$game-starcraft-fw-offset-x: -300px;
$game-starcraft-fw-offset-y: -262px;
$game-starcraft-fw-width: 50px;
$game-starcraft-fw-height: 50px;
$game-starcraft-fw-total-width: 396px;
$game-starcraft-fw-total-height: 388px;
$game-starcraft-fw-image: '../sprites/spritesheet.png';
$game-starcraft-fw: (300px, 262px, -300px, -262px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-starcraft.fw', );
$game-teamfortressthree-hover-fw-name: 'game-teamfortressthree-hover.fw';
$game-teamfortressthree-hover-fw-x: 312px;
$game-teamfortressthree-hover-fw-y: 206px;
$game-teamfortressthree-hover-fw-offset-x: -312px;
$game-teamfortressthree-hover-fw-offset-y: -206px;
$game-teamfortressthree-hover-fw-width: 50px;
$game-teamfortressthree-hover-fw-height: 50px;
$game-teamfortressthree-hover-fw-total-width: 396px;
$game-teamfortressthree-hover-fw-total-height: 388px;
$game-teamfortressthree-hover-fw-image: '../sprites/spritesheet.png';
$game-teamfortressthree-hover-fw: (312px, 206px, -312px, -206px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-teamfortressthree-hover.fw', );
$game-teamfortressthree-fw-name: 'game-teamfortressthree.fw';
$game-teamfortressthree-fw-x: 262px;
$game-teamfortressthree-fw-y: 206px;
$game-teamfortressthree-fw-offset-x: -262px;
$game-teamfortressthree-fw-offset-y: -206px;
$game-teamfortressthree-fw-width: 50px;
$game-teamfortressthree-fw-height: 50px;
$game-teamfortressthree-fw-total-width: 396px;
$game-teamfortressthree-fw-total-height: 388px;
$game-teamfortressthree-fw-image: '../sprites/spritesheet.png';
$game-teamfortressthree-fw: (262px, 206px, -262px, -206px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-teamfortressthree.fw', );
$game-wow-hover-fw-name: 'game-wow-hover.fw';
$game-wow-hover-fw-x: 112px;
$game-wow-hover-fw-y: 206px;
$game-wow-hover-fw-offset-x: -112px;
$game-wow-hover-fw-offset-y: -206px;
$game-wow-hover-fw-width: 50px;
$game-wow-hover-fw-height: 50px;
$game-wow-hover-fw-total-width: 396px;
$game-wow-hover-fw-total-height: 388px;
$game-wow-hover-fw-image: '../sprites/spritesheet.png';
$game-wow-hover-fw: (112px, 206px, -112px, -206px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-wow-hover.fw', );
$game-wow-fw-name: 'game-wow.fw';
$game-wow-fw-x: 162px;
$game-wow-fw-y: 206px;
$game-wow-fw-offset-x: -162px;
$game-wow-fw-offset-y: -206px;
$game-wow-fw-width: 50px;
$game-wow-fw-height: 50px;
$game-wow-fw-total-width: 396px;
$game-wow-fw-total-height: 388px;
$game-wow-fw-image: '../sprites/spritesheet.png';
$game-wow-fw: (162px, 206px, -162px, -206px, 50px, 50px, 396px, 388px, '../sprites/spritesheet.png', 'game-wow.fw', );
$inv-inscription-trinket-tank-glow-fw-name: 'inv_inscription_trinket_tank-glow.fw';
$inv-inscription-trinket-tank-glow-fw-x: 224px;
$inv-inscription-trinket-tank-glow-fw-y: 168px;
$inv-inscription-trinket-tank-glow-fw-offset-x: -224px;
$inv-inscription-trinket-tank-glow-fw-offset-y: -168px;
$inv-inscription-trinket-tank-glow-fw-width: 28px;
$inv-inscription-trinket-tank-glow-fw-height: 28px;
$inv-inscription-trinket-tank-glow-fw-total-width: 396px;
$inv-inscription-trinket-tank-glow-fw-total-height: 388px;
$inv-inscription-trinket-tank-glow-fw-image: '../sprites/spritesheet.png';
$inv-inscription-trinket-tank-glow-fw: (224px, 168px, -224px, -168px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'inv_inscription_trinket_tank-glow.fw', );
$inv-inscription-trinket-tank-name: 'inv_inscription_trinket_tank';
$inv-inscription-trinket-tank-x: 322px;
$inv-inscription-trinket-tank-y: 168px;
$inv-inscription-trinket-tank-offset-x: -322px;
$inv-inscription-trinket-tank-offset-y: -168px;
$inv-inscription-trinket-tank-width: 28px;
$inv-inscription-trinket-tank-height: 28px;
$inv-inscription-trinket-tank-total-width: 396px;
$inv-inscription-trinket-tank-total-height: 388px;
$inv-inscription-trinket-tank-image: '../sprites/spritesheet.png';
$inv-inscription-trinket-tank: (322px, 168px, -322px, -168px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'inv_inscription_trinket_tank', );
$inv-letter-05-glow-fw-name: 'inv_letter_05-glow.fw';
$inv-letter-05-glow-fw-x: 56px;
$inv-letter-05-glow-fw-y: 206px;
$inv-letter-05-glow-fw-offset-x: -56px;
$inv-letter-05-glow-fw-offset-y: -206px;
$inv-letter-05-glow-fw-width: 56px;
$inv-letter-05-glow-fw-height: 56px;
$inv-letter-05-glow-fw-total-width: 396px;
$inv-letter-05-glow-fw-total-height: 388px;
$inv-letter-05-glow-fw-image: '../sprites/spritesheet.png';
$inv-letter-05-glow-fw: (56px, 206px, -56px, -206px, 56px, 56px, 396px, 388px, '../sprites/spritesheet.png', 'inv_letter_05-glow.fw', );
$inv-letter-05-name: 'inv_letter_05';
$inv-letter-05-x: 0px;
$inv-letter-05-y: 206px;
$inv-letter-05-offset-x: 0px;
$inv-letter-05-offset-y: -206px;
$inv-letter-05-width: 56px;
$inv-letter-05-height: 56px;
$inv-letter-05-total-width: 396px;
$inv-letter-05-total-height: 388px;
$inv-letter-05-image: '../sprites/spritesheet.png';
$inv-letter-05: (0px, 206px, 0px, -206px, 56px, 56px, 396px, 388px, '../sprites/spritesheet.png', 'inv_letter_05', );
$inv-misc-bag-32-glow-fw-name: 'inv_misc_bag_32-glow.fw';
$inv-misc-bag-32-glow-fw-x: 224px;
$inv-misc-bag-32-glow-fw-y: 312px;
$inv-misc-bag-32-glow-fw-offset-x: -224px;
$inv-misc-bag-32-glow-fw-offset-y: -312px;
$inv-misc-bag-32-glow-fw-width: 28px;
$inv-misc-bag-32-glow-fw-height: 28px;
$inv-misc-bag-32-glow-fw-total-width: 396px;
$inv-misc-bag-32-glow-fw-total-height: 388px;
$inv-misc-bag-32-glow-fw-image: '../sprites/spritesheet.png';
$inv-misc-bag-32-glow-fw: (224px, 312px, -224px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'inv_misc_bag_32-glow.fw', );
$inv-misc-bag-32-name: 'inv_misc_bag_32';
$inv-misc-bag-32-x: 196px;
$inv-misc-bag-32-y: 312px;
$inv-misc-bag-32-offset-x: -196px;
$inv-misc-bag-32-offset-y: -312px;
$inv-misc-bag-32-width: 28px;
$inv-misc-bag-32-height: 28px;
$inv-misc-bag-32-total-width: 396px;
$inv-misc-bag-32-total-height: 388px;
$inv-misc-bag-32-image: '../sprites/spritesheet.png';
$inv-misc-bag-32: (196px, 312px, -196px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'inv_misc_bag_32', );
$inv-misc-questionmark-glow-fw-name: 'inv_misc_questionmark-glow.fw';
$inv-misc-questionmark-glow-fw-x: 224px;
$inv-misc-questionmark-glow-fw-y: 112px;
$inv-misc-questionmark-glow-fw-offset-x: -224px;
$inv-misc-questionmark-glow-fw-offset-y: -112px;
$inv-misc-questionmark-glow-fw-width: 56px;
$inv-misc-questionmark-glow-fw-height: 56px;
$inv-misc-questionmark-glow-fw-total-width: 396px;
$inv-misc-questionmark-glow-fw-total-height: 388px;
$inv-misc-questionmark-glow-fw-image: '../sprites/spritesheet.png';
$inv-misc-questionmark-glow-fw: (224px, 112px, -224px, -112px, 56px, 56px, 396px, 388px, '../sprites/spritesheet.png', 'inv_misc_questionmark-glow.fw', );
$inv-misc-questionmark-name: 'inv_misc_questionmark';
$inv-misc-questionmark-x: 294px;
$inv-misc-questionmark-y: 112px;
$inv-misc-questionmark-offset-x: -294px;
$inv-misc-questionmark-offset-y: -112px;
$inv-misc-questionmark-width: 56px;
$inv-misc-questionmark-height: 56px;
$inv-misc-questionmark-total-width: 396px;
$inv-misc-questionmark-total-height: 388px;
$inv-misc-questionmark-image: '../sprites/spritesheet.png';
$inv-misc-questionmark: (294px, 112px, -294px, -112px, 56px, 56px, 396px, 388px, '../sprites/spritesheet.png', 'inv_misc_questionmark', );
$inv-pet-babymurlocs-blue-glow-fw-name: 'inv_pet_babymurlocs_blue-glow.fw';
$inv-pet-babymurlocs-blue-glow-fw-x: 112px;
$inv-pet-babymurlocs-blue-glow-fw-y: 312px;
$inv-pet-babymurlocs-blue-glow-fw-offset-x: -112px;
$inv-pet-babymurlocs-blue-glow-fw-offset-y: -312px;
$inv-pet-babymurlocs-blue-glow-fw-width: 28px;
$inv-pet-babymurlocs-blue-glow-fw-height: 28px;
$inv-pet-babymurlocs-blue-glow-fw-total-width: 396px;
$inv-pet-babymurlocs-blue-glow-fw-total-height: 388px;
$inv-pet-babymurlocs-blue-glow-fw-image: '../sprites/spritesheet.png';
$inv-pet-babymurlocs-blue-glow-fw: (112px, 312px, -112px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'inv_pet_babymurlocs_blue-glow.fw', );
$inv-pet-babymurlocs-blue-name: 'inv_pet_babymurlocs_blue';
$inv-pet-babymurlocs-blue-x: 84px;
$inv-pet-babymurlocs-blue-y: 312px;
$inv-pet-babymurlocs-blue-offset-x: -84px;
$inv-pet-babymurlocs-blue-offset-y: -312px;
$inv-pet-babymurlocs-blue-width: 28px;
$inv-pet-babymurlocs-blue-height: 28px;
$inv-pet-babymurlocs-blue-total-width: 396px;
$inv-pet-babymurlocs-blue-total-height: 388px;
$inv-pet-babymurlocs-blue-image: '../sprites/spritesheet.png';
$inv-pet-babymurlocs-blue: (84px, 312px, -84px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'inv_pet_babymurlocs_blue', );
$inv-shield-20-glow-name: 'inv_shield_20-glow';
$inv-shield-20-glow-x: 56px;
$inv-shield-20-glow-y: 312px;
$inv-shield-20-glow-offset-x: -56px;
$inv-shield-20-glow-offset-y: -312px;
$inv-shield-20-glow-width: 28px;
$inv-shield-20-glow-height: 28px;
$inv-shield-20-glow-total-width: 396px;
$inv-shield-20-glow-total-height: 388px;
$inv-shield-20-glow-image: '../sprites/spritesheet.png';
$inv-shield-20-glow: (56px, 312px, -56px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'inv_shield_20-glow', );
$inv-shield-20-name: 'inv_shield_20';
$inv-shield-20-x: 28px;
$inv-shield-20-y: 312px;
$inv-shield-20-offset-x: -28px;
$inv-shield-20-offset-y: -312px;
$inv-shield-20-width: 28px;
$inv-shield-20-height: 28px;
$inv-shield-20-total-width: 396px;
$inv-shield-20-total-height: 388px;
$inv-shield-20-image: '../sprites/spritesheet.png';
$inv-shield-20: (28px, 312px, -28px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'inv_shield_20', );
$logo-resized-glow-fw-name: 'logo-resized-glow.fw';
$logo-resized-glow-fw-x: 0px;
$logo-resized-glow-fw-y: 103px;
$logo-resized-glow-fw-offset-x: 0px;
$logo-resized-glow-fw-offset-y: -103px;
$logo-resized-glow-fw-width: 224px;
$logo-resized-glow-fw-height: 103px;
$logo-resized-glow-fw-total-width: 396px;
$logo-resized-glow-fw-total-height: 388px;
$logo-resized-glow-fw-image: '../sprites/spritesheet.png';
$logo-resized-glow-fw: (0px, 103px, 0px, -103px, 224px, 103px, 396px, 388px, '../sprites/spritesheet.png', 'logo-resized-glow.fw', );
$logo-resized-fw-name: 'logo-resized.fw';
$logo-resized-fw-x: 0px;
$logo-resized-fw-y: 0px;
$logo-resized-fw-offset-x: 0px;
$logo-resized-fw-offset-y: 0px;
$logo-resized-fw-width: 224px;
$logo-resized-fw-height: 103px;
$logo-resized-fw-total-width: 396px;
$logo-resized-fw-total-height: 388px;
$logo-resized-fw-image: '../sprites/spritesheet.png';
$logo-resized-fw: (0px, 0px, 0px, 0px, 224px, 103px, 396px, 388px, '../sprites/spritesheet.png', 'logo-resized.fw', );
$res-a-bold-name: 'res_a_bold';
$res-a-bold-x: 364px;
$res-a-bold-y: 0px;
$res-a-bold-offset-x: -364px;
$res-a-bold-offset-y: 0px;
$res-a-bold-width: 32px;
$res-a-bold-height: 20px;
$res-a-bold-total-width: 396px;
$res-a-bold-total-height: 388px;
$res-a-bold-image: '../sprites/spritesheet.png';
$res-a-bold: (364px, 0px, -364px, 0px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_a_bold', );
$res-b-italic-name: 'res_b_italic';
$res-b-italic-x: 364px;
$res-b-italic-y: 20px;
$res-b-italic-offset-x: -364px;
$res-b-italic-offset-y: -20px;
$res-b-italic-width: 32px;
$res-b-italic-height: 20px;
$res-b-italic-total-width: 396px;
$res-b-italic-total-height: 388px;
$res-b-italic-image: '../sprites/spritesheet.png';
$res-b-italic: (364px, 20px, -364px, -20px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_b_italic', );
$res-c-strikethrough-name: 'res_c_strikethrough';
$res-c-strikethrough-x: 364px;
$res-c-strikethrough-y: 40px;
$res-c-strikethrough-offset-x: -364px;
$res-c-strikethrough-offset-y: -40px;
$res-c-strikethrough-width: 32px;
$res-c-strikethrough-height: 20px;
$res-c-strikethrough-total-width: 396px;
$res-c-strikethrough-total-height: 388px;
$res-c-strikethrough-image: '../sprites/spritesheet.png';
$res-c-strikethrough: (364px, 40px, -364px, -40px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_c_strikethrough', );
$res-d-super-name: 'res_d_super';
$res-d-super-x: 364px;
$res-d-super-y: 60px;
$res-d-super-offset-x: -364px;
$res-d-super-offset-y: -60px;
$res-d-super-width: 32px;
$res-d-super-height: 20px;
$res-d-super-total-width: 396px;
$res-d-super-total-height: 388px;
$res-d-super-image: '../sprites/spritesheet.png';
$res-d-super: (364px, 60px, -364px, -60px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_d_super', );
$res-e-link-name: 'res_e_link';
$res-e-link-x: 308px;
$res-e-link-y: 340px;
$res-e-link-offset-x: -308px;
$res-e-link-offset-y: -340px;
$res-e-link-width: 32px;
$res-e-link-height: 20px;
$res-e-link-total-width: 396px;
$res-e-link-total-height: 388px;
$res-e-link-image: '../sprites/spritesheet.png';
$res-e-link: (308px, 340px, -308px, -340px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_e_link', );
$res-f-quote-name: 'res_f_quote';
$res-f-quote-x: 364px;
$res-f-quote-y: 80px;
$res-f-quote-offset-x: -364px;
$res-f-quote-offset-y: -80px;
$res-f-quote-width: 32px;
$res-f-quote-height: 20px;
$res-f-quote-total-width: 396px;
$res-f-quote-total-height: 388px;
$res-f-quote-image: '../sprites/spritesheet.png';
$res-f-quote: (364px, 80px, -364px, -80px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_f_quote', );
$res-g-code-name: 'res_g_code';
$res-g-code-x: 364px;
$res-g-code-y: 100px;
$res-g-code-offset-x: -364px;
$res-g-code-offset-y: -100px;
$res-g-code-width: 32px;
$res-g-code-height: 20px;
$res-g-code-total-width: 396px;
$res-g-code-total-height: 388px;
$res-g-code-image: '../sprites/spritesheet.png';
$res-g-code: (364px, 100px, -364px, -100px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_g_code', );
$res-h-ul-name: 'res_h_ul';
$res-h-ul-x: 364px;
$res-h-ul-y: 120px;
$res-h-ul-offset-x: -364px;
$res-h-ul-offset-y: -120px;
$res-h-ul-width: 32px;
$res-h-ul-height: 20px;
$res-h-ul-total-width: 396px;
$res-h-ul-total-height: 388px;
$res-h-ul-image: '../sprites/spritesheet.png';
$res-h-ul: (364px, 120px, -364px, -120px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_h_ul', );
$res-i-ol-name: 'res_i_ol';
$res-i-ol-x: 364px;
$res-i-ol-y: 140px;
$res-i-ol-offset-x: -364px;
$res-i-ol-offset-y: -140px;
$res-i-ol-width: 32px;
$res-i-ol-height: 20px;
$res-i-ol-total-width: 396px;
$res-i-ol-total-height: 388px;
$res-i-ol-image: '../sprites/spritesheet.png';
$res-i-ol: (364px, 140px, -364px, -140px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_i_ol', );
$res-j-table-name: 'res_j_table';
$res-j-table-x: 364px;
$res-j-table-y: 160px;
$res-j-table-offset-x: -364px;
$res-j-table-offset-y: -160px;
$res-j-table-width: 32px;
$res-j-table-height: 20px;
$res-j-table-total-width: 396px;
$res-j-table-total-height: 388px;
$res-j-table-image: '../sprites/spritesheet.png';
$res-j-table: (364px, 160px, -364px, -160px, 32px, 20px, 396px, 388px, '../sprites/spritesheet.png', 'res_j_table', );
$snoo-glow-fw-name: 'snoo-glow.fw';
$snoo-glow-fw-x: 224px;
$snoo-glow-fw-y: 0px;
$snoo-glow-fw-offset-x: -224px;
$snoo-glow-fw-offset-y: 0px;
$snoo-glow-fw-width: 70px;
$snoo-glow-fw-height: 112px;
$snoo-glow-fw-total-width: 396px;
$snoo-glow-fw-total-height: 388px;
$snoo-glow-fw-image: '../sprites/spritesheet.png';
$snoo-glow-fw: (224px, 0px, -224px, 0px, 70px, 112px, 396px, 388px, '../sprites/spritesheet.png', 'snoo-glow.fw', );
$snoo-name: 'snoo';
$snoo-x: 294px;
$snoo-y: 0px;
$snoo-offset-x: -294px;
$snoo-offset-y: 0px;
$snoo-width: 70px;
$snoo-height: 112px;
$snoo-total-width: 396px;
$snoo-total-height: 388px;
$snoo-image: '../sprites/spritesheet.png';
$snoo: (294px, 0px, -294px, 0px, 70px, 112px, 396px, 388px, '../sprites/spritesheet.png', 'snoo', );
$spell-holy-prayerofmendingtga-glow-fw-name: 'spell_holy_prayerofmendingtga-glow.fw';
$spell-holy-prayerofmendingtga-glow-fw-x: 168px;
$spell-holy-prayerofmendingtga-glow-fw-y: 312px;
$spell-holy-prayerofmendingtga-glow-fw-offset-x: -168px;
$spell-holy-prayerofmendingtga-glow-fw-offset-y: -312px;
$spell-holy-prayerofmendingtga-glow-fw-width: 28px;
$spell-holy-prayerofmendingtga-glow-fw-height: 28px;
$spell-holy-prayerofmendingtga-glow-fw-total-width: 396px;
$spell-holy-prayerofmendingtga-glow-fw-total-height: 388px;
$spell-holy-prayerofmendingtga-glow-fw-image: '../sprites/spritesheet.png';
$spell-holy-prayerofmendingtga-glow-fw: (168px, 312px, -168px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'spell_holy_prayerofmendingtga-glow.fw', );
$spell-holy-prayerofmendingtga-name: 'spell_holy_prayerofmendingtga';
$spell-holy-prayerofmendingtga-x: 308px;
$spell-holy-prayerofmendingtga-y: 312px;
$spell-holy-prayerofmendingtga-offset-x: -308px;
$spell-holy-prayerofmendingtga-offset-y: -312px;
$spell-holy-prayerofmendingtga-width: 28px;
$spell-holy-prayerofmendingtga-height: 28px;
$spell-holy-prayerofmendingtga-total-width: 396px;
$spell-holy-prayerofmendingtga-total-height: 388px;
$spell-holy-prayerofmendingtga-image: '../sprites/spritesheet.png';
$spell-holy-prayerofmendingtga: (308px, 312px, -308px, -312px, 28px, 28px, 396px, 388px, '../sprites/spritesheet.png', 'spell_holy_prayerofmendingtga', );
$spritesheet-width: 396px;
$spritesheet-height: 388px;
$spritesheet-image: '../sprites/spritesheet.png';
$spritesheet-sprites: ($ability-creature-cursed-05-glow-fw, $ability-creature-cursed-05, $achievement-bg-returnxflags-def-wsg-glow-fw, $achievement-bg-returnxflags-def-wsg, $achievement-bg-topdps-glow-fw, $achievement-bg-topdps, $arrow-down-glow, $arrow-down-grey-glow, $arrow-down-grey, $arrow-down-pressed-glow, $arrow-down-pressed, $arrow-down, $arrow-up-glow, $arrow-up-grey-glow, $arrow-up-grey, $arrow-up-pressed-glow, $arrow-up-pressed, $arrow-up, $exclamation-fw, $expando-aa-dark-fw, $expando-aa-fw, $expando-gallery-dark-fw, $expando-gallery-fw, $expando-image-dark-fw, $expando-image-fw, $expando-plus-dark-fw, $expando-plus-fw, $game-diablo-hover-fw, $game-diablo-fw, $game-hearthstone-hover-fw, $game-hearthstone-fw, $game-heroesofthestorm-hover-fw, $game-heroesofthestorm-fw, $game-starcraft-hover-fw, $game-starcraft-fw, $game-teamfortressthree-hover-fw, $game-teamfortressthree-fw, $game-wow-hover-fw, $game-wow-fw, $inv-inscription-trinket-tank-glow-fw, $inv-inscription-trinket-tank, $inv-letter-05-glow-fw, $inv-letter-05, $inv-misc-bag-32-glow-fw, $inv-misc-bag-32, $inv-misc-questionmark-glow-fw, $inv-misc-questionmark, $inv-pet-babymurlocs-blue-glow-fw, $inv-pet-babymurlocs-blue, $inv-shield-20-glow, $inv-shield-20, $logo-resized-glow-fw, $logo-resized-fw, $res-a-bold, $res-b-italic, $res-c-strikethrough, $res-d-super, $res-e-link, $res-f-quote, $res-g-code, $res-h-ul, $res-i-ol, $res-j-table, $snoo-glow-fw, $snoo, $spell-holy-prayerofmendingtga-glow-fw, $spell-holy-prayerofmendingtga, );
$spritesheet: (396px, 388px, '../sprites/spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
