.res-nightmode .arrow, .arrow {
    margin-top: 6px;
    margin-bottom: 6px;
}

.midcol.unvoted {
    .res-nightmode .arrow,
    .arrow {
        &.up {
            @include retina-sprite($n-arrow-up-n-group);
            &:hover {
                @include retina-sprite($n-arrow-up-n-hover-group);
            }
        }
        &.down {
            @include retina-sprite($n-arrow-down-n-group);
            &:hover {
                @include retina-sprite($n-arrow-down-n-hover-group);
            }
        }
    }
}

.midcol.likes, .midcol.dislikes{
    .res-nightmode .arrow, .arrow {

        &.up {
            @include retina-sprite($n-arrow-up-v-down-group);
            &:hover {
                @include retina-sprite($n-arrow-up-v-down-hover-group);
            }
        }
        &.upmod {
            @include retina-sprite($n-arrow-up-v-up-group);
            &:hover {
                @include retina-sprite($n-arrow-up-v-up-hover-group);
            }
        }

        &.down {
            @include retina-sprite($n-arrow-down-v-down-group);
            &:hover {
                @include retina-sprite($n-arrow-down-v-down-hover-group);
            }
        }
        &.downmod {
            @include retina-sprite($n-arrow-down-v-up-group);
            &:hover {
                @include retina-sprite($n-arrow-down-v-up-hover-group);
            }
        }
    }
}

.thing.comment {
    .midcol {
        width: 28px !important;
    }
}