.midcol {
	.res-nightmode .arrow,
	.arrow {
		height: 23px !important;
		width: 28px !important;
		// use the sprite image once to save space in the final stylesheet
		background-image: url($arrow-up-image) !important;
	}
}

.midcol.unvoted {
	.res-nightmode .arrow, .arrow {
		&.up {
			@include sprite-position($arrow-up);
			&:hover {
				@include sprite-position($arrow-up-glow);
			}
		}
		&.upmod {
			@include sprite-position($arrow-up-pressed);
			&:hover {
				@include sprite-position($arrow-up-pressed-glow);
			}
		}
		&.down {
			@include sprite-position($arrow-down);
			&:hover {
				@include sprite-position($arrow-down-glow);
			}
		}
		&.downmod {
			@include sprite-position($arrow-down-pressed);
			&:hover {
				@include sprite-position($arrow-down-pressed-glow);
			}
		}
	}
}

.midcol.likes, .midcol.dislikes {
	.res-nightmode .arrow, .arrow {
		&.up {
			@include sprite-position($arrow-up-grey);
			&:hover {
				@include sprite-position($arrow-up-grey-glow);
			}
		}
		&.upmod {
			@include sprite-position($arrow-up-pressed);
			&:hover {
				@include sprite-position($arrow-up-pressed-glow);
			}
		}
		&.down {
			@include sprite-position($arrow-down-grey);
			&:hover {
				@include sprite-position($arrow-down-grey-glow);
			}
		}
		&.downmod {
			@include sprite-position($arrow-down-pressed);
			&:hover {
				@include sprite-position($arrow-down-pressed-glow);
			}
		}
	}
}

.thing.comment {
	.midcol {
		//margin-top: 0px;
		width: 28px !important;
	}

}