.res-nightmode .arrow, .arrow {
    margin-top: 6px;
    margin-bottom: 6px;
}

.midcol.unvoted {
    .res-nightmode .arrow,
    .arrow {
        &.up {
            @include retina-sprite(('up', $n-arrow-up, $n-arrow-up-2x));
            &:hover {
                @include retina-sprite(('up-hover', $n-arrow-up-hover, $n-arrow-up-hover-2x));
            }
        }
        &.down {
            @include retina-sprite(('down', $n-arrow-down, $n-arrow-down-2x));
            &:hover {
                @include retina-sprite(('down-hover', $n-arrow-down-hover, $n-arrow-down-hover-2x));
            }
        }
    }
}

.midcol.likes, .midcol.dislikes {
    .res-nightmode .arrow, .arrow {

        &.up {
            @include retina-sprite(('up', $n-arrow-up, $n-arrow-up-2x));
            &:hover {
                @include retina-sprite(('up-hover', $n-arrow-up-hover, $n-arrow-up-hover-2x));
            }
        }
        &.upmod {
            @include retina-sprite(('upmod', $n-arrow-up-voted, $n-arrow-up-voted-2x));
            &:hover {
                @include retina-sprite(('upmod-hover', $n-arrow-up-voted-hover, $n-arrow-up-voted-hover-2x));
            }
        }

        &.down {
            @include retina-sprite(('down', $n-arrow-down, $n-arrow-down-2x));
            &:hover {
                @include retina-sprite(('down-hover', $n-arrow-down-hover, $n-arrow-down-hover-2x));
            }
        }
        &.downmod {
            @include retina-sprite(('downmod', $n-arrow-down-voted, $n-arrow-down-voted-2x));
            &:hover {
                @include retina-sprite(('downmod-hover', $n-arrow-down-voted-hover, $n-arrow-down-voted-hover-2x));
            }
        }
    }
}

.thing.comment {
    .midcol {
        width: 28px !important;
    }
}