.side {
    // Featured Artists
    a[href*="#fa-img-1"] {
        display: block;
        width: 320px;
        height: 440px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-2"] {
        display: block;
        width: 320px;
        height: 500px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-3"] {
        display: block;
        width: 320px;
        height: 426px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-4"] {
        display: block;
        width: 320px;
        height: 388px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-1"] {
        background: url(../images/artist-1.jpg);
    }

    a[href*="#fa-img-2"] {
        background: url(../images/artist-2.jpg);
    }

    a[href*="#fa-img-3"] {
        background: url(../images/artist-3.jpg);
    }

    a[href*="#fa-img-4"] {
        background: url(../images/artist-4.jpg);
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .side {
        a[href*="#fa-img-1"] {
            background: url(../images/artist-1@2x.jpg) !important;
            background-size: 320px 440px !important;
        }

        a[href*="#fa-img-2"] {
            background: url(../images/artist-2@2x.jpg) !important;
            background-size: 640px 500px !important;
        }

        a[href*="#fa-img-3"] {
            background: url(../images/artist-3@2x.jpg) !important;
            background-size: 320px 426px !important;
        }

        a[href*="#fa-img-4"] {
            background: url(../images/artist-4@2x.jpg) !important;
            background-size: 320px 388px !important;
        }
    }
}


.side {
    // Special for October
    a[href*="#fa-img-2"] {
        pointer-events: auto !important;
        background-position-x: -320px !important;
        transition: background-position 1s ease;

        &:hover {
            background-position-x: 0 !important;
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .side {
        // Special for October
        a[href*="#fa-img-2"] {
            background-position-x: -320px !important;
            transition: background-position 1s ease;
            &:hover {
                background-position-x: 0 !important;
            }
        }
    }
}

