.side {
    // Featured Artists
    a[href*="#fa-img-1"] {
        display: block;
        width: 320px;
        height: 140px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-2"] {
        display: block;
        width: 320px;
        height: 413px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-3"] {
        display: block;
        width: 320px;
        height: 438px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-4"] {
        display: block;
        width: 320px;
        height: 250px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-1"] {
        background: url(../images/artist-1.jpg);
    }

    a[href*="#fa-img-2"] {
        background: url(../images/artist-2.jpg);
    }

    a[href*="#fa-img-3"] {
        background: url(../images/artist-3.jpg);
    }

    a[href*="#fa-img-4"] {
        background: url(../images/artist-4.jpg);
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .side {
        a[href*="#fa-img-1"] {
            background: url(../images/artist-1@2x.jpg) !important;
            background-size: 320px 140px !important;
        }

        a[href*="#fa-img-2"] {
            background: url(../images/artist-2@2x.jpg) !important;
            background-size: 320px 413px !important;
        }

        a[href*="#fa-img-3"] {
            background: url(../images/artist-3@2x.jpg) !important;
            background-size: 320px 438px !important;
        }

        a[href*="#fa-img-4"] {
            background: url(../images/artist-4@2x.jpg) !important;
            background-size: 320px 250px !important;
        }
    }
}
