.side {
    a[href*="#fa-img-1"] {
        display: block;
        width: 320px;
        height: 320px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-2"] {
        display: block;
        width: 320px;
        height: 480px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-3"] {
        display: block;
        width: 320px;
        height: 320px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-4"] {
        display: block;
        width: 320px;
        height: 212px;
        margin: 0px -16px;
        font-size: 0px;
        z-index: 10;
        pointer-events: none;
    }

    a[href*="#fa-img-1"] {
        background: url(../images/c-1.webp);
    }

    a[href*="#fa-img-2"] {
        background: url(../images/c-2.webp);
    }

    a[href*="#fa-img-3"] {
        background: url(../images/c-3.webp);
    }

    a[href*="#fa-img-4"] {
        background: url(../images/c-4.webp);
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .side {
        a[href*="#fa-img-1"] {
            background: url(../images/c-1-2x.webp) !important;
            background-size: 320px 320px !important;
        }

        a[href*="#fa-img-2"] {
            background: url(../images/c-2-2x.webp) !important;
            background-size: 320px 480px !important;
        }

        a[href*="#fa-img-3"] {
            background: url(../images/c-3-2x.webp) !important;
            background-size: 320px 320px !important;
        }

        a[href*="#fa-img-4"] {
            background: url(../images/c-4-2x.webp) !important;
            background-size: 320px 212px !important;
        }
    }
}
