/**
 * ##########
 * User Flair
 * ##########
 */

// loops over user flairs and creates the class to put the sprite image in the :after
//@mixin wow-sprites($retina-groups) {
//    @each $sprite in $retina-groups {
//        $sprite-name: nth($sprite, 10);
//        .#{$sprite-name}:after {
//            @include retina-sprite($sprite);
//        }
//    }
//}
//
//@include wow-sprites($retina-groups);

@function capitalize($string) {
    @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

//$classes: ('druid', 'hunter', 'mage', 'paladin', 'priest', 'rogue', 'shaman', 'warlock', 'warrior');
//
//@each $class in $classes {
//
//    $group: 'flair-c-' + $class + '-group';
//
//    .#{$class}:after {
//        @include retina-sprite($group);
//    }
//}


// Classes
.flair-Druid:after {
    @include retina-sprite($flair-c-druid-group);
}

.flair-Hunter:after {
    @include retina-sprite($flair-c-hunter-group);
}

.flair-Mage:after {
    @include retina-sprite($flair-c-mage-group);
}

.flair-Paladin:after {
    @include retina-sprite($flair-c-paladin-group);
}

.flair-Priest:after {
    @include retina-sprite($flair-c-priest-group);
}

.flair-Rogue:after {
    @include retina-sprite($flair-c-rogue-group);
}

.flair-Shaman:after {
    @include retina-sprite($flair-c-shaman-group);
}

.flair-Warlock:after {
    @include retina-sprite($flair-c-warlock-group);
}

.flair-Warrior:after {
    @include retina-sprite($flair-c-warrior-group);
}

// Factions
.flair-Horde:after {
    @include retina-sprite($flair-f-horde-group);
}

.flair-Alliance:after {
    @include retina-sprite($flair-f-alliance-group);
}

.flair-Alliance-Horde:after {
    @include retina-sprite($flair-f-alliance-horde-group);
}

.flair-Horde-Alliance:after {
    @include retina-sprite($flair-f-horde-alliance-group);
}

// Alliance Classes
.flair-Alliance-Druid:after {
    @include retina-sprite($flair-alliance-druid-group);
}

.flair-Alliance-Hunter:after {
    @include retina-sprite($flair-alliance-hunter-group);
}

.flair-Alliance-Mage:after {
    @include retina-sprite($flair-alliance-mage-group);
}

.flair-Alliance-Paladin:after {
    @include retina-sprite($flair-alliance-paladin-group);
}

.flair-Alliance-Priest:after {
    @include retina-sprite($flair-alliance-priest-group);
}

.flair-Alliance-Rogue:after {
    @include retina-sprite($flair-alliance-rogue-group);
}

.flair-Alliance-Shaman:after {
    @include retina-sprite($flair-alliance-shaman-group);
}

.flair-Alliance-Warlock:after {
    @include retina-sprite($flair-alliance-warlock-group);
}

.flair-Alliance-Warrior:after {
    @include retina-sprite($flair-alliance-warrior-group);
}


// Horde Classes
.flair-Horde-Druid:after {
    @include retina-sprite($flair-horde-druid-group);
}

.flair-Horde-Hunter:after {
    @include retina-sprite($flair-horde-hunter-group);
}

.flair-Horde-Mage:after {
    @include retina-sprite($flair-horde-mage-group);
}

.flair-Horde-Paladin:after {
    @include retina-sprite($flair-horde-paladin-group);
}

.flair-Horde-Priest:after {
    @include retina-sprite($flair-horde-priest-group);
}

.flair-Horde-Rogue:after {
    @include retina-sprite($flair-horde-rogue-group);
}

.flair-Horde-Shaman:after {
    @include retina-sprite($flair-horde-shaman-group);
}

.flair-Horde-Warlock:after {
    @include retina-sprite($flair-horde-warlock-group);
}

.flair-Horde-Warrior:after {
    @include retina-sprite($flair-horde-warrior-group);
}

// Bespoke
.flair-blizz:after, .flair-Blizz:after {
    @include retina-sprite($flair-x-blizzard-group);
}

.flair-bwrench:after {
    @include retina-sprite($flair-x-bwrench-group);
}

.flair-crown:after {
    @include retina-sprite($flair-x-crown-group);
}

.flair-engi:after {
    @include retina-sprite($flair-x-engi-group);
}

.flair-scroll:after {
    @include retina-sprite($flair-x-scroll-group);
}

.flair-wrench:after {
    @include retina-sprite($flair-x-wrench-group);
}

@each $group in $bespoke-user-groups {
    $sprite-name: nth($group, 1);
    .#{$sprite-name}:after {
        @include retina-sprite($group);
    }
}

.flair-u-aphoenix,
.flair-u-aptbot,
.flair-u-bewmkin,
.flair-u-colonel,
.flair-u-desmephisto,
.flair-u-exiled,
.flair-u-flapsnapple,
.flair-u-flopseh,
.flair-u-gumdrops,
.flair-u-herpdeeps,
.flair-u-iluffhomer,
.flair-u-keydar,
.flair-u-klngarthur,
.flair-u-ladymirax,
.flair-u-lhavelund,
.flair-u-mmwq,
.flair-u-myri0,
.flair-u-pancakes,
.flair-u-phedre,
.flair-u-redshirt,
.flair-u-roboticide,
.flair-u-sharkraptor,
.flair-u-somarlane,
.flair-u-treasure,
.flair-u-vertical,
.flair-u-vusys,
.flair-u-vusys2,
.flair-u-waahht,
.flair-u-zvitiate {
    &:after {
        border-radius: 5px;
        border: 1px solid #000;
    }
}

@mixin flair-faction-colour($faction, $colour) {
    // co = colour only
    .flair-co-#{capitalize($faction)} + .author,
    .flair-co-#{capitalize($faction)} + .author:visited,
    .flair-#{capitalize($faction)} + .author,
    .flair-#{capitalize($faction)} + .author:visited {
        color: $colour;
    }
}

@mixin flair-class-colour($class, $colour) {
    .flair-#{capitalize($class)} + .author,
    .flair-#{capitalize($class)} + .author:visited,
    .flair-co-#{capitalize($class)} + .author,
    .flair-co-#{capitalize($class)} + .author:visited,
    .flair-Alliance-#{capitalize($class)} + .author,
    .flair-Alliance-#{capitalize($class)} + .author:visited,
    .flair-Horde-#{capitalize($class)} + .author,
    .flair-Horde-#{capitalize($class)} + .author:visited {
        color: $colour;
    }
}

.flair {
    padding: 1px 6px 1px 3px;
    margin: 0px;
    border: 0;
    border-radius: 0;
    color: $light_text;
    background: transparent;
    display: inline;

    &:after {
        display: inline-block;
        margin-left: 3px;
        vertical-align: middle;
        content: '';
    }
}

// colour only faction flairs
@include flair-faction-colour('alliance', #247FAA);
@include flair-faction-colour('horde', #B30000);

// colour only class flairs
@include flair-class-colour('shaman', #0070DE);
@include flair-class-colour('deathknight', #C41F3B);
@include flair-class-colour('demonhunter', #A330C9);
@include flair-class-colour('druid', #FF7D0A);
@include flair-class-colour('hunter', #ABD473);
@include flair-class-colour('mage', #69CCF0);
@include flair-class-colour('monk', #00FF96);
@include flair-class-colour('paladin', #F58CBA);
@include flair-class-colour('priest', #FFFFFF);
@include flair-class-colour('rogue', #FFF569);
@include flair-class-colour('shaman', #0070DE);
@include flair-class-colour('warlock', #9482C9);
@include flair-class-colour('warrior', #C79C6E);

// Special User Flairs

// Blizzard Employees
@include flair-class-colour('blizzard', $blizzard_blue);
// special overrides for blizzard's flair, moves the icon to the front to allow for
// job titles and what not in the flair text
.flair.flair-blizzard {
    color: $blizzard_blue;

    &:before {
        //@include sprite($flair-blizzard);
        display: inline-block;
        margin-right: 3px;
        vertical-align: middle;
        content: '';
    }

    + .author, + .author:visited {
        font-weight: 600;
    }
}

@mixin blizzard-employee($account) {
    .thing.comment[data-author='#{$account}'] > div:not(.child) .md {
        color: $blizzard_blue;

        a {
            //color: rgb(248, 183, 0) !important;
            color: darken($title, 20%) !important;

            &:hover {
                color: #fff !important;
            }
        }
    }
}

@include blizzard-employee('WatcherDev');
@include blizzard-employee('Kalgan');
@include blizzard-employee('Mumper_Blizz');
@include blizzard-employee('Desvin');
@include blizzard-employee('devolore');
@include blizzard-employee('Araxom');
@include blizzard-employee('TheFargo');
@include blizzard-employee('Kaivax');
@include blizzard-employee('aeridel');
@include blizzard-employee('Dromogaz');
@include blizzard-employee('CM_Ythisens');
@include blizzard-employee('Glaxigrav');
@include blizzard-employee('Dmachine52');
@include blizzard-employee('BlizzardCS_Scout');
@include blizzard-employee('Dalthrox');
@include blizzard-employee('Kalviery');
@include blizzard-employee('Orlyia');

// class design team
@include blizzard-employee('Sigma_wow');
@include blizzard-employee('Arempy_wow');
@include blizzard-employee('Seph_WoW');
@include blizzard-employee('Nimox_WOW');
@include blizzard-employee('Solanis_WoW');
@include blizzard-employee('Forge_WoW');

// Former staff
@include blizzard-employee('Ghostcrawler');
@include blizzard-employee('Crithto');
@include blizzard-employee('Zarhym');

// Special for <Method>
@include flair-class-colour('method', $method_orange);
@mixin method($account, $extra) {
    .thing.comment[data-author='#{$account}'] > div:not(.child) .md {
        color: $method_orange;

        a {
            color: $method_orange !important;

            &:hover {
                color: #fff !important;
            }
        }
    }
    a.author[href$='reddit.com/user/#{$account}']:after {
        content: $extra;
    }
}

@include method('scomethod', " <Method>");
@include method('methodroger', " <Method>");
@include method('darriesrsly', " <Method>");
@include method('cayna', " <Method>");

// Special for Vusys
@keyframes vusys {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -1372px;
    }
}

.flair-u-vusys2 {
    &:after {
        width: 28px;
        height: 28px;
        display: inline-block;
        background-image: url('../images/x-vusys.png');
        animation: vusys 9s steps(49) infinite;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .flair-u-vusys2 {
        &:after {
            background-image: url('../images/x-vusys@2x.png');
            background-size: 28px 1372px;
        }
    }
}