.footer-parent {
    background-color: rgba(0, 0, 0, 0.15);
    padding-top: 0;
    margin-top: 40px;
    padding-bottom: 40px;
    border-top: rgba(255, 255, 255, 0.15) solid 1px;
    box-shadow: 0 0 0 1px #000;

    .footer {
        color: darken($light_text, 20%);
        border: none;
        text-transform: capitalize;

        a {
            color: #fff;
            color: rgba(255, 255, 255, 0.6);
        }

        .flat-vert.title {
            color: #fff;
            color: rgba(255, 255, 255, 0.8);
        }

        .col {
            border: none;
        }

    }

    .bottommenu {
        color: #fff;
        color: rgba(255, 255, 255, 0.2);
    }
}

body .debuginfo {
    display: none;
}