.footer-parent {
	background: url(../images/repeat-bg-dark.jpg) center;
	//padding-top: 110px;
	padding-top: 0;
	margin-top: 40px;
	padding-bottom: 40px;

	&:before {
		background: url(../images/header-divide.fw.png) center top repeat-x;
		content: '';
		display: inline-block;
		height: 23px;
		width: 100%;
		top: -8px;
		position: relative;
	}

	.footer {
		color: darken($text, 20%);
		border: none;
		text-transform: capitalize;

		a {
			color: #fff;
			color: rgba(255, 255, 255, 0.6);
		}

		.flat-vert.title {
			color: #fff;
			color: rgba(255, 255, 255, 0.8);
		}

		.col {
			border: none;
		}

	}

	.bottommenu {
		color: #fff;
		color: rgba(255, 255, 255, 0.2);
	}
}

body .debuginfo {
	display: none;
}

//