// header background
#header {

    height: 250px;
    background: url("../images/hero.jpg") center no-repeat #100F15;
    //margin-bottom: 20px;
    box-shadow: 0px 10px 14px 10px rgba(0, 0, 0, 0.2);

    .redditname {
        position: absolute;
        top: 31px;
        left: 0px;
        width: 100%;
    }

    .redditname a {
        @include retina-sprite($h-logo-group);
        display: block;
        margin: 0 auto;
        font-size: 0px;
        color: #364657;
        z-index: 100;
        &:hover {
            @include retina-sprite($h-logo-glow-group);
        }
    }

    border-bottom: 1px #000 solid;
}

#header-bottom-left .tabmenu {
    position: relative;
    top: 172px;
    left: 150px;
    z-index: 9999;

    li.selected a {
        //text-shadow: 0 0 10px #e6ff42, 0 0 10px #e6ff42;
        color: $bfa_orange;
        background: none;
        border: none;
        z-index: 100;
    }
    li a {
        color: #fff;
        background: none;
        margin: 3px 0px 0px 0px;
        padding: 0 16px;
        font-weight: 400;
        line-height: 39px;
        height: 40px;
        display: inline-block;
        font-size: 13px;
        text-shadow: 1px 1px 1px #000;
        position: relative;
        transition: background-color 0.1s ease-in-out;
        &:hover {
            background: rgba(0, 0, 0, 0.5);
        }
    }
}

#header {
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 208px;
        width: 100%;
        height: 40px;
        @include wow-modern-box;
        border-right: unset;
        border-left: unset;
        background: rgba(0, 0, 0, 0.5);
    }
}

// reddit/ snoo logo
#header-img-a {
    margin-top: -5px;
    margin-left: 24px;
    height: 128px;
    width: 100px;
    display: inline-block;
    position: absolute;
    z-index: 9999;

    @include retina-sprite($x-snoo-group);
    &:hover {
        @include retina-sprite($x-snoo-glow-group);
    }
    #header-img {
        opacity: 0;
    }

}

// Edit in the subreddit menu list
#sr-more-link {
    display: none;
}

// header subreddit list
#sr-header-area {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 0px 5px 5px;
    color: #EEEEEE;
    white-space: nowrap;
    border-bottom: 1px solid #1d1d1d;
    text-shadow: 1px 1px 1px #000;

    a {
        color: #eee;
    }

    border-top-left-radius: 0;
    right: 10px;
    bottom: 6px;

    // allow res to override the position
    &.res-navTop {
        bottom: auto;
    }

    .drop-choices.srdrop {
        @include wow-modern-box;
        background: rgba(0, 0, 0, 0.9);
        // Fix for subreddit dropdown below the logo
        z-index: 99999;
        font-size: 13px;
        a {
            text-transform: none !important;
            margin: 2px 0px;
        }
    }
}

// bottom right user panel
#header-bottom-right {
    background: none;
    color: #eee;
    a {
        color: #eee;
    }
    white-space: nowrap;
    z-index: 999;
    padding-right: 20px;
    padding-bottom: 16px;
    font-size: 12px;
    text-shadow: 1px 1px 1px #000;
}

.res-navTop #header-bottom-right {
    background: rgba(0, 0, 0, 0.5) !important;
    top: 29px;
    padding: 5px;
}

.user, .separator {
    color: #EEEEEE;
}

// header subreddit list items
.sr-bar a {
    color: #eee
}

.dropdown.srdrop .selected {
    color: #fff;
}
