.titlebox span.word {
    display: none;
}

.titlebox span.number:after {
    content: " utilizing the handyman's secret weapon";
}

.titlebox .users-online span.number:after {
    content: " keeping their stick on the ice";
}

