.titlebox span.word {
    display: none;
}

.titlebox span.number:after {
    content: " chilling in Darnassus";
}

.titlebox .users-online span.number:after {
    content: " playing with matches";
}

