.titlebox span.word {
    display: none;
}

.titlebox span.number:after {
    content: " basking in glorious memes";
}

.titlebox .users-online span.number:after {
    content: " appreciating art";
}

