body {
    background-image: url(../images/forum-bg.jpg);
    background-color: #000;
    background-position: top, top;
    background-repeat: repeat-x, repeat;

    color: $grey_text;

    > .content {
        padding-top: 16px;
        margin-right: 352px;
        margin-top: 0px;
        margin-left: 15px;
    }
}

.content .spacer {
    margin: 0px;
}

.tagline, .search-result-meta {
    color: $light_text;
}

.tagline a {
    color: $light_text;
}

.entry .buttons {
    li a, .give-gold.gold-give-gold {
        color: darken($grey_text, 20%);
    }
}

.domain a {
    color: $grey_text;
}

.thing.link {
    padding: 15px 0px;
    margin-bottom: 0px;

    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 1px #000;
    border: rgba(255, 255, 255, 0.15) solid 1px;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    &.stickied.link a.title {
        color: $bfa_orange;

        transition: color 0.2s;

        &:hover {
            color: white;
        }
    }

    .midcol {
        margin-top: -4px;
        margin-right: 14px;
        margin-left: 14px;
        width: 3.1em !important;
        overflow: visible;
    }
    .rank {
        display: none !important;
    }

    // The thumbnail border should not be shown for links where we replace the thumbnail with one of our own. These are:
    //
    // * All nsfw posts
    // * All spoilers
    // * All self posts
    // * Links without a thumbnail
    //
    // All of these can be excluded by targeting their respective classes on the thumbnail element, *except* for nsfw
    // posts which doesn't have a .over18 on the thumbnail. Instead that is targeted on the upmost .thing.link element
    &:not(.over18) {
        a {
            &.thumbnail:not(.default):not(.self):not(.spoiler) {
                margin: 0px 12px 0px 0px;
                img {
                    max-height: 64px;
                    height: auto !important;
                    width: auto !important;
                }
                border-radius: 2px;
                position: relative;
                border: 1px solid #403A34;
                box-shadow: 0 0 0 1px #000;
                background-color: $generic_background;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    box-shadow: inset 0 0 5px rgba(3, 0, 0, 0.4);
                }
            }
        }
    }

    a {
        &.title {
            color: $title;
            &:hover {
                //color: darken($title, 20%);
                text-decoration: underline;
            }

            &:visited {
                color: $title_visited;
                &:hover {
                    //color: darken($title, 40%);
                }
            }
        }
    }
}

// Create a gap between the stickied threads. Tip of the hat to /r/overwatch
.stickied + .clearleft + .thing:not(.stickied),
.stickied + .thing:not(.stickied) {
    margin-top: 20px !important;
}

// Remove the thumbnail border from promoted links
.organic-listing a.thumbnail:after {
    content: none !important
}

.showreplies {
    color: $bfa_orange;
}

.nav-buttons {
    color: $grey_text;
    .separator {
        color: $grey_text;
    }

    .prev-button a, .next-button a {
        @include wow-btn-active;
        @include wow-btn-text;
        &:hover {
            @include wow-btn-active-hover;
        }
    }
}

/**
 * ##########
 * Thumbnails
 * ##########
 */

a.thumbnail.default,
a.thumbnail.self {
    @include retina-sprite(('default', $t-self, $t-self-2x));
    margin: 10px 22px 10px 12px;
}

a.thumbnail.spoiler,
.thing.spoiler a.thumbnail.spoiler {
    @include retina-sprite(('spoiler', $t-spoiler, $t-spoiler-2x));
    margin: 10px 22px 10px 12px;
    img {
        // hide the thumbnail image to reveal the icon underneath
        display: none;
    }
}

.spoiler-stamp {
    color: $bfa_orange;
    padding: 0px 10px;
}

.thing.over18 a.thumbnail {
    @include retina-sprite(('nsfw', $t-nsfw, $t-nsfw-2x));
    margin: 10px 22px 10px 12px;
    img {
        // hide the thumbnail image to reveal the NSFW icon underneath
        display: none;
    }
}

.linkflairlabel {
    max-width: unset;
}