body > .content {
	margin-right: 340px;
}

.tagline, .search-result-meta {
	color: $light_text;
}

.tagline a {
	color: $light_text;
}

.entry .buttons li a {
	color: darken($grey_text, 20%);
}

.domain a {
	color: $grey_text;
}

.thing.link {

	padding: 15px 0px;
	//margin: 10px 0px;

	background: rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.9);

	&:hover {
		background: rgba(0, 0, 0, 0.2);
	}

	&.stickied.link a.title {
		color: $green_title;

		transition: color 0.2s;

		&:hover {
			color: white;
		}
	}

	.entry {
		margin-top: 10px;
		//padding-left: 15px;
	}

	// pushes the vote arrows and rank down to align with the thumbnail
	.midcol {
		margin-top: 2px;
		width: 3.1em !important;
		overflow: visible;
	}
	.rank {
		color: transparent;
	}

	a {

		&.thumbnail {
			margin-top: 9px;
			margin-left: 15px;
			&::after {
				//positions the minipanel border over the top of the thumbnail
				content: url(../images/mini-panel.fw.png);
				z-index: 2;
				position: absolute;
				//left: 81px;
				//margin-top: -11px;
				left: 79px;
				margin-top: -12px;
			}
			img {
				// aligns the thumbnail and clamps size
				position: relative;
				//top: 6px;
				//left: 4px;
				//top: 3px;
				//left: 2px;
				width: 56px !important;
				height: 56px !important;
			}

		}

		&.title {
			color: $title;

			&:hover {
				//color: darken($title, 20%);
				text-decoration: underline;
			}

			&:visited {
				color: $title_alt;
				&:hover {

					//color: darken($title, 40%);
				}

			}

		}
	}

}

// Remove the thumbnail border from promoted links
.organic-listing a.thumbnail:after {
	content: none !important
}

.showreplies{
	color: $green_title;
}