@keyframes logo {
    0% {background-position:0px 0px;}
    4.17% {background-position:-262px 0px;}
    8.33% {background-position:-524px 0px;}
    12.5% {background-position:-786px 0px;}
    16.67% {background-position:-1048px 0px;}
    20.83% {background-position:-1310px 0px;}
    25% {background-position:0px -108px;}
    29.17% {background-position:-262px -108px;}
    33.33% {background-position:-524px -108px;}
    37.5% {background-position:-786px -108px;}
    41.67% {background-position:-1048px -108px;}
    45.83% {background-position:-1310px -108px;}
    50% {background-position:0px -216px;}
    54.17% {background-position:-262px -216px;}
    58.33% {background-position:-524px -216px;}
    62.5% {background-position:-786px -216px;}
    66.67% {background-position:-1048px -216px;}
    70.83% {background-position:-1310px -216px;}
    75% {background-position:0px -324px;}
    79.17% {background-position:-262px -324px;}
    83.33% {background-position:-524px -324px;}
    87.5% {background-position:-786px -324px;}
    91.67% {background-position:-1048px -324px;}
    95.83%, 100% {background-position:-1310px -324px;}
}
