$title: rgb(232, 227, 97);
$green_title: rgb(19, 255, 41);
$text: rgb(247, 250, 229);
$grey: rgb(180, 180, 180);

body {
	background: url(../repeat-bg.jpg) left;
	color: $text;
}

.side {
	//background:url(%%repeat-bg%%);
	color: $text;
}

//.title{
//	color: $title;
//}
//
//a.title {
//	color: $title;
//}

.tagline, .search-result-meta {
	color: $text;
}

.tagline a {
	color: $text;
}

.entry .buttons li a {
	color: $text;
}

.domain a {
	color: $grey;
}

.thing {

	padding: 10px 0px;

	&.stickied.link a.title {
		color: $green_title;

		transition: color 0.2s;

		&:hover {
			color: white;
		}
	}

	.entry{
		margin-top: 10px;
		padding-left: 15px;
	}

	// pushes the vote arrows and rank down to align with the thumbnail
	.midcol{
		margin-top:15px;
	}
	.rank{
		padding-top:15px;
	}


	a {


		&.thumbnail {
			width: 48px;
			height: 48px;
			margin-left: 20px;
			margin-right: 20px;

			overflow: visible !important;

			img {
				width: 48px !important;
				height: 48px !important;
				position: relative;
				top: 18px;
				left: 9px;
			}
		}
		&.thumbnail::after {
			content: url("../minipanel.fw.png");
			z-index: 2;
			position: absolute;
			//top: 10px;
			left: 85px;
			margin-top: 0;
		}


		&.title {
			color: $title;


			&:hover{
				color: darken($title, 20%);
			}

			&:visited {
				color: darken($title, 30%);
				&:hover{
					color: darken($title, 40%);
				}

			}

		}
	}


}

.md{
	color: $text;
	a{
		color: $title;
	}
}

.side{
	background: url(../side-divide.fw.png) left repeat-y, url(../repeat-bg.jpg) center;;
	//background: url(../media-tab-bottom.png) left repeat-y, url(../repeat-bg.jpg) center;
	padding-left: 25px;
	//width: 326px;
	//background: #444;
	color: $text;

}


.titlebox form.toggle, .leavemoderator{
	background: none;
	color: $text;
	a{
		color: $title;
	}
}

.morelink{
	background: url(../skinnysillybutton.fw.png) no-repeat;
	border: none;
	height: 55px;

	a{
		text-transform: uppercase;
		color: #000;
		text-shadow: 0 0 10px #e6ff42, 0 0 10px #e6ff42;
		padding-top: 12px;
		text-align: center;
	}

	&:hover{
		background: url(../skinnysillybutton.fw.png) no-repeat;
	}
	.nub{
		display: none;
	}
}

@import "header.scss";

.linkflairlabel {
	color: $text;
	border: lighten(black, 20%) 1px solid;
	background: black;
}