$bfa_orange: rgb(248, 183, 0);

$title: lighten($bfa_orange, 20%);
$title_visited: darken($title, 35%);

$light_text: rgb(247, 250, 229);
$grey_text: rgb(187, 187, 187);

$reddit_promoted: #24A0ED;

$wow_btn_background: rgb(109, 23, 7);
$wow_btn_hover: darken($wow_btn_background, 5%);
$wow_btn_border: lighten($wow_btn_background, 15%);

$wow_btn_remove_background: rgb(140, 31, 29);
$wow_btn_remove_hover: darken($wow_btn_remove_background, 10%);
$wow_btn_remove_border: lighten($wow_btn_remove_background, 15%);

$yellow_background: darken(#FCF8E3, 0%);
$yellow_hover: darken($yellow_background, 10%);
$yellow_border: #F2BF27;

$blizzard_blue: rgb(0, 180, 255);
$method_orange: rgb(241, 140, 47);

$generic_background: lighten(#28211b, 5%);
$generic_border: lighten($generic_background, 10%);

$no_snoos: false;
$shy_logo: false;

@import "mixins.scss";
@import "_spritesheet-retina.scss";
@import "_spritesheet-snoo.scss";
@import "_spritesheet-logo.scss";
@import "_flair-user.scss";
@import "_flair-user-bespoke.scss";


@import "markdown.scss";
@import "index.scss";
@import "header.scss";
@import "arrows.scss";
@import "side.scss";
//@import "featured-creators.scss";
@import "misc.scss";
@import "expandos.scss";
@import "infobars.scss";
@import "thread.scss";
@import "submit.scss";
@import "flair-modal.scss";
@import "wiki.scss";
@import "rules.scss";
@import "report-modal.scss";
@import "partyparrot.scss";
@import "adverts.scss";
@import "live.scss";
@import "new-search.scss";
@import "footer.scss";

@import "dev.scss";
@import "special-links.scss";
@import "toolbox.scss";
@import "linkbot.scss";
@import "res.scss";

@import "flair.scss";

//@import "shadowlands.scss";
//@import "2m.scss";


