.md {
    @include wow-link();

    color: $grey_text;

    del {
        color: darken($grey_text, 20%) !important;
    }
    blockquote {
        color: darken($grey_text, 10%) !important;
    }

    code, pre, pre code, code pre {
        border: 1px solid $generic_border !important;;
        background-color: $generic_background !important;;
    }
    a {
        color: $title;
    }
}