.md {
	color: $text;
	a {
		color: $title;
	}
}

.linkflairlabel {
	color: $text;
	border: lighten(black, 20%) 1px solid;
	background: black;
}

// Dropdowns, both the subreddit menu and comment orderer, maybe others too

.drop-choices {
	//display: block !important;
	color: $text;
	background: $grey_background_2;
	a, a.choice {
		color: $text;
		&:hover {
			background: $grey_background;
		}
	}
}

body > .content .link .rank,
.rank-spacer {
	width: 2.2ex !important;
}

// EU cookie law
.cookie-infobar {
	background-color: rgba($wow_btn_background, 0.9);
	border-color: $wow_btn_border;

	&.with-icon {
		&:before {
			// @TODO replace this with a WoW icon
			background-color: rgba($wow_btn_background, 0.9);
		}
	}

	// @TODO this button is kinda ugly
	.c-btn-primary {
		background-color: #000;
		border: 1px solid #000;
		color: #ffffff;
		border-radius: 0;
		&:hover {
			background-color: #111;
			border: 1px solid #000;
		}
	}
}

.reddit-infobar .md {
	color: #fff;
	@include wow-btn-text;
}

// reddit newsletter
section.infobar.newsletterbar {
	width: 100%;
}

// archived post
.interstitial-message.md-container .md {
	color: #222;
}

// about/edit settings
.linefield, .linefield.mobile {
	background: transparent;
	border: none;
	.title {
		color: $green_title;
	}
	a {
		color: $title;
	}
}

// expandos

.expando-button {
	background-color: transparent;
	&.selftext {
		&.collapsed {
			@include sprite($expando-aa-fw);
		}
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			@include sprite($expando-aa-dark-fw);
		}
	}

	&.video {
		&.collapsed {
			@include sprite($expando-plus-fw);
		}
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			@include sprite($expando-plus-dark-fw);
		}
	}

}

