.framed-modal .modal-content {
    &:before {
        display: block;
        position: absolute;
        top: -40px;
        left: 0px;
        content: 'Due to reddit limitations, we are not able to style the contents of this modal. Sorry about that, but thanks for reporting this content!';
        background: rgba(0, 0, 0, 0.75);
        color: $bfa_orange;
        font-size: 14px;
        box-sizing: border-box;
        padding: 3px 5px;
    }
}