.wiki-page-rules {

    background: $grey_background;

    .wiki-page-content {
        p {
            font-size: 16px;
            margin-left: 25px;
        }

        h1, h2 {
            padding: 13px;
            border-bottom: 1px $bfa_orange solid;
        }

        h3 {
            color: #ddd;
            margin-left: 25px;
        }

        ul > li {
            margin-bottom: 0.5em;
            strong {
                color: #ddd;
            }
        }

    }
}
