// side bar
.side {
    // removes wow title from the sidebar
    h1.redditname {
        display: none;
    }

    // Push the side down so the buttons can be absolutely positioned at the top
    margin-top: 108px;
    margin-right: 14px;
    margin-bottom: 16px;

    color: $light_text;
    background: transparent;
    padding: 0px 10px 10px 10px;

    .spacer:nth-of-type(1), .spacer:nth-of-type(2), .spacer:nth-of-type(3) {
        margin: 0px;
    }
}

.titlebox form.toggle, .leavemoderator {
    background: none;
    color: $light_text;
    a {
        color: $title;
    }
}

.res .RESDashboardToggle, .res .RESshortcutside {
    background-image: none !important;
    color: $title;
    text-decoration: none;
    border: none;
    //padding: 4px 6px 4px 0;
    //margin: 2px 6px 2px -4px;
    text-align: left;
    width: auto;
}

.side {
    // reddit stock subscribe button
    .fancy-toggle-button {
        display: block;
        @include wow-btn-text;
        margin: 7px 0 12px 0;
        .active {
            @include wow-btn-text;
            display: block;
            text-transform: capitalize;
            height: 29px;
            line-height: 29px;
            text-align: center;
            border-radius: 0px;
        }
        &.remove, .remove {
            @include wow-btn-remove;
            &:hover {
                @include wow-btn-remove-hover;
            }
        }
        .add {
            @include wow-btn-active;
            &:hover {
                @include wow-btn-active-hover;
            }
        }
    }
}

// Submit buttons
// WoW Button Styles
.morelink,
button {
    @include wow-btn-active;
    &:hover {
        @include wow-btn-active-hover;
    }
    .nub {
        display: none;
    }
    a {
        @include wow-btn-text;
        float: left;
    }
}

.submit-link .morelink {
    position: absolute;
    top: 314px;
    width: 152px;
    margin-left: -8px;
}

.submit-text .morelink {
    position: absolute;
    top: 314px;
    width: 152px;
    margin-left: 156px;
}

// Make the approved and mod notices more roomy
.leavemoderator, form.toggle.leavecontributor-button {
    margin: 10px 0px;
}

.leavecontributor-button {

}

// moderator box

// The Moderator box has looked awful so lets adjust that and right the
// moderators names. Yay for chaining selectors.
// a[href="/message/compose?to=%2Fr%2Fwow"] + .title + .content {
// 	text-align: right;
// }

// .sidecontentbox is only used for the moderator and wiki panels.
// might as well just use that instead of the above CSS
.sidecontentbox {
    text-align: right;
    .title h1,
    .more a {
        color: $light_text;
    }
    .author {
        color: $title;
        &:hover {
            text-decoration: underline;
        }
    }
    .content {
        border: none !important;;
        //    @include wow-modern-box;
    }

    // message the moderators
    .message-button {

        margin: 5px 0 30px 60px;

        .c-btn.c-btn-primary {
            background: none;
            border: none;
            padding: 0;

            //padding-bottom: 29px;
            display: block;
            color: $title;
            margin-left: -6px;
            float: none;
            font-size: 15px;
            font-weight: 100;

            text-transform: uppercase;
            //text-transform: lowercase;
            //&:first-letter {
            //    text-transform: uppercase;
            //}

            &:hover {
                color: darken($title, 20%);
            }

            // letter icon
            &:before {
                content: '';
                display: block;
                border: #333 solid 1px;
                border-radius: 3px;
                margin-bottom: -35px;
                position: relative;
                // not sure why Fx thinks these don't do anything, they do.
                top: 6px;
                left: -31px;
                pointer-events: none;
                @include retina-sprite($x-modmail-group)
            }

            &:hover:before {
                @include retina-sprite($x-modmail-glow-group)
            }
        }
    }
}

//mod tools
#moderation_tools {
    .title {
        color: $light_text;
    }
    .icon-menu a {
        background: none;
        color: $light_text;
    }
}

// multi reddit bubble when hovering over subscribe
.hover-bubble {
    &.multi-selector {

        @include wow-modern-box;
        background: rgba(38, 30, 24, 0.95);

        // categorise title
        strong {
            color: #fff;
        }

        // /r/wow link
        a.sr {
            color: $title;
        }

        // remove background from the textbox
        .multi-list,
        label {
            color: $light_text;
            &:hover {
                background: none;
            }

            a {
                @include wow-btn-active;
                @include wow-btn-text;
            }
        }

        // dark input box
        .create-multi {
            input[type=text] {
                background: $generic_background;
                border: 1px solid $generic_border;
                color: #ddd;
            }
        }

        //nub
        &:after {
            border-left-color: $generic_border;
        }
    }
}

//create your own subreddit
.sidebox {
    .spacer {
        background: none;
    }
    .subtitle {
        color: $light_text
    }
}

//recently viewed links
.gadget {
    a {
        color: $title;
    }
    small {
        color: $light_text !important;
    }
}

// account activity
.account-activity-box a {
    color: $light_text;
}

#search {
    position: absolute;
    top: 267px;
    right: 14px;
    width: 320px;

    @include wow-modern-box;
    input[type=text] {
        background: none;
        border: none;
        color: #fff;
    }

    #searchexpando {

        line-height: 30px;
        position: relative;
        z-index: 1;

        @include wow-modern-box;
        background: rgba(38, 30, 24, 0.95);

        width: 296px;

        padding: 9px;
        //border: 1px solid $generic_border;
        color: #fff;
        border-radius: 0;
        margin: 16px auto;

        a {
            color: $title;
        }

        #moresearchinfo {
            border-top: 1px solid $generic_border;
        }
    }
}


.side {

    @include wow-modern-box;

    .md {
        padding: 6px;

        hr {
            background: $generic_border;
            height: 1px;
            margin: 10px 0px;
        }

        ul {
            padding-left: 5px;
        }

        h1 {
            @include wow-modern-box;
            background: rgba(255, 255, 255, 0.05);
            border-right: none;
            border-left: none;
            color: #fff;
            text-align: center;
            //background: rgba(0, 0, 0, 0.3);
            margin: 15px -15px;
            padding: 5px;
        }

        h5 + blockquote {
            background: rgba(255, 255, 255, 0.05);
            border: $bfa_orange solid 1px;
            margin: 30px -16px 30px -16px;
            padding: 16px;
            color: $light_text !important;
            box-shadow: 0px 0px 31px 3px rgba($bfa_orange, 0.45);
            h1 {
                margin-top: 0px;
            }
        }

    }

    a[href$="wowbtn"] {
        display: inline-block;
        @include wow-btn-active;
        @include wow-btn-text;
        color: #fff !important;
        text-align: center;
        //width: calc(100% - 2px);
        width: 100%;
        padding: 8px 0px;
        margin-bottom: 8px;

        &:hover {
            @include wow-btn-active-hover;
        }
    }

    a[href$="disbtn"] {
        &:first-of-type {
            margin-top: 10px;
        }

        &:before {
            content: '';
            display: block;
            margin-left: -40px;
            margin-bottom: -26px;
            @include retina-sprite($sb-discord-group)
        }

        margin-left: 40px;
        font-size: 14px;
        height: 34px;
        display: block;
    }

    a[href$="procssbtn"] {
        &:first-of-type {
            margin-top: 10px;
        }

        &:before {
            content: '';
            display: block;
            margin-left: -3px;
            margin-bottom: -26px;
            @include retina-sprite($x-procss-group)
        }

        font-size: 0;
        height: 112px;
        display: block;
    }

    a[href$="twitchbtn"] {
        &:first-of-type {
            margin-top: 10px;
        }

        &:before {
            content: '';
            display: block;
            margin-left: -40px;
            margin-bottom: -26px;
            @include retina-sprite($sb-twitch-group)
        }

        margin-left: 40px;
        font-size: 14px;
        height: 34px;
        display: block;
    }

    // Weekly thread links
    a {
        $side-icon-margin: 35px;

        &[href$="monday"],
        &[href$="tuesday"],
        &[href$="wednesday"],
        &[href$="thursday"],
        &[href$="friday"],
        &[href$="saturday"],
        &[href$="sunday"],
        &[href$="recruitment"] {
            height: 18px;
            margin-bottom: 7px;
            margin-left: $side-icon-margin;
            display: block;
            color: $bfa_orange;
            font-size: 14px;
            &:hover {
                color: #fff;
            }
            &:before {
                content: '';
                display: block;
                border: #333 solid 1px;
                border-radius: 3px;
                margin-bottom: -23px;
                margin-left: -$side-icon-margin;
            }
        }

        // extra margin for the last icon
        &[href$="sunday"] {
            margin-bottom: 28px;
        }

        &[href$="sunday"]:before {
            @include retina-sprite($sb-0-sun-group)
        }
        &[href$="sunday"]:hover:before {
            @include retina-sprite($sb-0-sun-glow-group)
        }

        &[href$="monday"]:before {
            @include retina-sprite($sb-1-mon-group)
        }
        &[href$="monday"]:hover:before {
            @include retina-sprite($sb-1-mon-glow-group)
        }

        &[href$="tuesday"]:before {
            @include retina-sprite($sb-2-tue-group)
        }
        &[href$="tuesday"]:hover:before {
            @include retina-sprite($sb-2-tue-glow-group)
        }

        &[href$="wednesday"]:before {
            @include retina-sprite($sb-3-wed-group)
        }
        &[href$="wednesday"]:hover:before {
            @include retina-sprite($sb-3-wed-glow-group)
        }

        &[href$="thursday"]:before {
            @include retina-sprite($sb-4-thur-group)
        }
        &[href$="thursday"]:hover:before {
            @include retina-sprite($sb-4-thur-glow-group)
        }

        &[href$="friday"]:before {
            @include retina-sprite($sb-5-fri-group)
        }
        &[href$="friday"]:hover:before {
            @include retina-sprite($sb-5-fri-glow-group)
        }

        &[href$="saturday"]:before {
            @include retina-sprite($sb-6-sat-group)
        }
        &[href$="saturday"]:hover:before {
            @include retina-sprite($sb-6-sat-glow-group)
        }

        &[href$="recruitment"]:before {
            @include retina-sprite($sb-recruitment-group)
        }

        &[href$="recruitment"]:hover:before {
            @include retina-sprite($sb-recruitment-glow-group)
        }
    }

    // Other Blizzard Subreddits
    a[href*="#game"] {
        content: "";
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 10px;
        font-size: 0px;
        &:hover {
            opacity: 0.8;
        }
    }
    a[href*="#classic"] {
        @include retina-sprite($g-world-of-warcraft-group);
    }
    a[href*="#warcraft3"] {
        @include retina-sprite($g-warcraft-iii-group);
    }
    a[href*="#diablo2"] {
        @include retina-sprite($g-diablo-ii-group);
    }
    a[href*="#diablo3"] {
        @include retina-sprite($g-diablo-iii-group);
    }
    a[href*="#starcraft"] {
        @include retina-sprite($g-starcraft-ii-group);
    }
    a[href*="#hearthstone"] {
        @include retina-sprite($g-hearthstone-group);
    }
    a[href*="#heroesofthestorm"] {
        @include retina-sprite($g-heroes-of-the-storm-group);
    }
    a[href*="#overwatch"] {
        @include retina-sprite($g-like-team-fortress-two-but-not-as-good-group);
    }
    a[href*="#cod"] {
        @include retina-sprite($g-call-of-duty-group);
    }
    a[href*="#destiny2"] {
        @include retina-sprite($g-destiny-2-group);
    }
    a[href*="#starcraft-remaster"] {
        @include retina-sprite($g-starcraft-remastered-group);
    }
    a[href*="#ms"] {
        // Another reference to that Korean pay to win MMO that died in 2009?
        // ...yes.
        @include retina-sprite($g-ms-group);
    }
    a[href*="#mystery"] {
        @include retina-sprite($g-mystery-group);
    }
}

 .side a[href*="#newbtn"] {
     content: "";
     display: inline-block;
     margin-right: 4px;
     margin-bottom: 10px;
     width: 288px;
     height: 32px;
     font-size: 0;
 }

 .side a[href*="#new-modmail"]:hover {
     background-image: url("%%button-modmail-hover%%");
 }

 .side a[href*="#new-modmail"] {
     background-image: url("%%button-modmail%%");
 }

 .side a[href*="#new-discord"]:hover {
     background-image: url("%%button-discord-hover%%");
 }

 .side a[href*="#new-discord"] {
     background-image: url("%%button-discord%%");
 }

 .side a[href*="#new-rules"]:hover {
     background-image: url("%%button-rules-hover%%");
 }

 .side a[href*="#new-rules"] {
     background-image: url("%%button-rules%%");
 }
