// side bar
.side {
    // removes wow title from the sidebar
    h1.redditname {
        display: none;
    }

    // Push the side down so the buttons can be absolutely positioned at the top
    margin-top: 108px;
    margin-right: 14px;
    margin-bottom: 16px;

    color: $light_text;
    background: transparent;
    padding: 0px 10px 10px 10px;

    .spacer:nth-of-type(1), .spacer:nth-of-type(2), .spacer:nth-of-type(3) {
        margin: 0px;
    }
}

// show my flair...
// yer a moderator, harry
.titlebox form.toggle, .leavemoderator {
    background: none;
    color: $light_text;
    a {
        color: $title;
    }
}

.res .RESDashboardToggle, .res .RESshortcutside {
    background-image: none !important;
    color: $title;
    text-decoration: none;
    border: none;
    //padding: 4px 6px 4px 0;
    //margin: 2px 6px 2px -4px;
    text-align: left;
    width: auto;
}

.side {
    // reddit stock subscribe button
    .fancy-toggle-button {
        display: block;
        @include wow-btn-text;
        margin: 7px 0 12px 0;
        .active {
            @include wow-btn-text;
            display: block;
            text-transform: capitalize;
            height: 29px;
            line-height: 29px;
            text-align: center;
            border-radius: 0px;
        }
        &.remove, .remove {
            @include wow-btn-remove;
            &:hover {
                @include wow-btn-remove-hover;
            }
        }
        .add {
            @include wow-btn-active;
            &:hover {
                @include wow-btn-active-hover;
            }
        }
    }
}

// Submit buttons
// WoW Button Styles
.morelink,
button {
    @include wow-btn-active;
    &:hover {
        @include wow-btn-active-hover;
    }
    .nub {
        display: none;
    }
    a {
        @include wow-btn-text;
        float: left;
    }
}

.submit-link .morelink {
    position: absolute;
    top: 268px;
    width: 152px;
    margin-left: -8px;
    //&:after {
    //    text-align: center;
    //    width: 300px;
    //    line-height: 16px;
    //    content: "Submit";
    //    position: absolute;
    //    top: -32px;
    //    left: 1px;
    //    font-size: 1.5em;
    //    color: $title;
    //}
}

.submit-text .morelink {
    position: absolute;
    top: 268px;
    width: 152px;
    margin-left: 156px;
}

// Make the approved and mod notices more roomy
.leavemoderator, form.toggle.leavecontributor-button {
    margin: 10px 0px;
}

.leavecontributor-button {

}

// moderator box

// The Moderator box has looked awful so lets adjust that and right the
// moderators names. Yay for chaining selectors.
// a[href="/message/compose?to=%2Fr%2Fwow"] + .title + .content {
// 	text-align: right;
// }

// .sidecontentbox is only used for the moderator and wiki panels.
// might as well just use that instead of the above CSS
.sidecontentbox {
    text-align: right;
    .title h1,
    .more a {
        color: $light_text;
    }
    .author {
        color: $title;
        &:hover {
            text-decoration: underline;
        }
    }
    .content {
        border: none !important;;
        //    @include wow-modern-box;
    }
    // message the moderators
    a.helplink {
        &:before {
            content: '';
            display: block;
            border: #333 solid 1px;
            border-radius: 3px;
            margin-bottom: -40px;
            @include retina-sprite($x-modmail-group)
        }
        &:hover:before {
            @include retina-sprite($x-modmail-glow-group)
        }
        padding-bottom: 29px;
        display: block;
        color: $title;
        margin-left: 4px;
        font-size: 18px;
        float: none;
        text-transform: capitalize;
        &:hover {
            color: darken($title, 20%);
        }
    }
}

//mod tools
#moderation_tools {
    .title {
        color: $light_text;
    }
    .icon-menu a {
        background: none;
        color: $light_text;
    }
}

// multi reddit bubble when hovering over subscribe
.hover-bubble {
    &.multi-selector {
        background: $generic_background;
        border-color: $generic_border;

        // categorise title
        strong {
            color: #fff;
        }

        // /r/wow link
        a.sr {
            color: $title;
        }

        // remove background from the textbox
        .multi-list,
        label {
            color: $light_text;
            &:hover {
                background: none;
            }

            a {
                @include wow-btn-active;
                @include wow-btn-text;
            }
        }

        // dark input box
        .create-multi {
            input[type=text] {
                background: $generic_background;
                border: 1px solid $generic_border;
                color: #ddd;
            }
        }

        //nub
        &:after {
            border-left-color: $generic_border;
        }
    }
}

//create your own subreddit
.sidebox {
    .spacer {
        background: none;
    }
    .subtitle {
        color: $light_text
    }
}

//recently viewed links
.gadget {
    a {
        color: $title;
    }
    small {
        color: $light_text !important;
    }
}

// account activity
.account-activity-box a {
    color: $light_text;
}

#search {
    position: absolute;
    top: 218px;
    right: 14px;
    width: 320px;

    @include wow-modern-box;
    input[type=text] {
        background: none;
        border: none;
        color: #fff;
    }

    #searchexpando {
        border: none;
        margin: 0;
        padding: 4px;
        line-height: 30px;
    }
}

// search doodad
#searchexpando {
    background-color: $generic_background;
    border: 1px solid $generic_border;
    color: #fff;
    border-radius: 0;
    a {
        color: #fff;
    }
    #moresearchinfo {
        border-top: 1px solid $generic_border;
    }
}

.side {

    @include wow-modern-box;

    .md {
        padding: 6px;

        hr {
            background: $generic_border;
            height: 1px;
            margin: 10px 0px;
        }

        ul {
            padding-left: 5px;
        }

        h1 {
            @include wow-modern-box;
            background: rgba(255, 255, 255, 0.05);
            border-right: none;
            border-left: none;
            color: #fff;
            text-align: center;
            //background: rgba(0, 0, 0, 0.3);
            margin: 15px -15px;
            padding: 5px;
        }

        h5 + blockquote {
            background: rgba(255, 255, 255, 0.05);
            border: $bfa_orange solid 1px;
            margin: 30px -16px 30px -16px;
            padding: 16px;
            color: $light_text !important;
            box-shadow: 0px 0px 31px 3px rgba($bfa_orange, 0.45);
            h1 {
                margin-top: 0px;
            }
        }

    }

    a[href$="wowbtn"] {
        display: inline-block;
        @include wow-btn-active;
        @include wow-btn-text;
        color: #fff !important;
        text-align: center;
        //width: calc(100% - 2px);
        width: 100%;
        padding: 8px 0px;
        margin-bottom: 8px;

        &:hover {
            @include wow-btn-active-hover;
        }
    }

    a[href$="disbtn"] {
        &:first-of-type {
            margin-top: 10px;
        }

        &:before {
            content: '';
            display: block;
            margin-left: -40px;
            margin-bottom: -26px;
            @include retina-sprite($sb-discord-group)
        }

        margin-left: 40px;
        font-size: 14px;
        height: 34px;
        display: block;
    }

    a[href$="twitchbtn"] {
        &:first-of-type {
            margin-top: 10px;
        }

        &:before {
            content: '';
            display: block;
            margin-left: -40px;
            margin-bottom: -26px;
            @include retina-sprite($sb-twitch-group)
        }

        margin-left: 40px;
        font-size: 14px;
        height: 34px;
        display: block;
    }
}
