// side bar
.side {

	// removes wow title from the sidebar
	.titlebox.redditname {
		display: none;
	}

	background: url(../images/side-divide.fw.png) left repeat-y, url(../images/repeat-bg.jpg) center;;
	//background: url(../media-tab-bottom.png) left repeat-y, url(../repeat-bg.jpg) center;
	padding-left: 25px;
	//width: 326px;
	//background: #444;
	color: $text;

	.md {
		a[href*="#game"] {
			content: "";
			display: inline-block;
			height: 50px;
			width: 50px;
			background: url(../images/game-icons-50.png) no-repeat;
			margin-right: 5px;
			&:hover {
				opacity: 0.8;
			}
		}
		a[href*="#warcraft"] {
			background-position: 0 0;
		}
		a[href*="#diablo"] {
			background-position: -50px 0;
		}
		a[href*="#starcraft"] {
			background-position: -100px 0;
		}
		a[href*="#hearthstone"] {
			background-position: -150px 0;
		}
		a[href*="#heroes"] {
			background-position: -200px 0;
		}
		a[href*="#overwatch"] {
			background-position: -250px 0;
		}
	}

}

// show my flair...
// yer a moderator, harry
.titlebox form.toggle, .leavemoderator {
	background: none;
	color: $text;
	a {
		color: $title;
	}
}

.side {
	// RES extra fancy buttons (Dashboard, Subscribe)
	.res-fancy-toggle-button {
		@include wow-btn-active;
		@include wow-btn-text;

		text-transform: capitalize;
		display: inline-block;
		text-align: center;
		height: 29px;
		line-height: 29px;

		// @TODO 50/50 split of the Dashboard and Subscribe buttons
		// this seems to work in Firefox, but not in Webkit.

		//margin: -7px 0px 12px 0px !important;
		//padding: 0px !important;
		//width: 48.5% !important;

		width: auto;
		margin: -7px 5px 12px 0px !important;

		&:hover {
			@include wow-btn-active-hover;
		}

		&.remove {
			@include wow-btn-remove;
			&:hover {
				@include wow-btn-remove-hover;
			}
		}

	}
	// reddit stock subscribe button
	.fancy-toggle-button {
		display: block;
		@include wow-btn-text;
		margin: 7px 0 12px 0;
		.active {
			@include wow-btn-text;
			display: block;
			text-transform: capitalize;
			height: 29px;
			line-height: 29px;
			text-align: center;
			border-radius: 0px;
		}
		&.remove, .remove {
			@include wow-btn-remove;
			&:hover {
				@include wow-btn-remove-hover;
			}
		}
		.add {
			@include wow-btn-active;
			&:hover {
				@include wow-btn-active-hover;
			}
		}
	}
}

// Submit buttons
.morelink,
button {
	@include wow-btn-active;
	&:hover {
		@include wow-btn-active-hover;
	}
	.nub {
		display: none;
	}
	a {
		@include wow-btn-text;
		float: left;
	}
}

// moderator box

// The Moderator box has looked awful so lets adjust that and right the
// moderators names. Yay for chaining selectors.
// a[href="/message/compose?to=%2Fr%2Fwow"] + .title + .content {
// 	text-align: right;
// }

// .sidecontentbox is only used for the moderator and wiki panels.
// might as well just use that instead of the above CSS
.sidecontentbox {
	text-align: right;
	.title h1,
	.more a {
		color: $text;
	}
	.author {
		color: $title;
		&:hover {
			text-decoration: underline;
		}
	}
	// message the moderators
	a.helplink {
		&:before {
			content: '';
			display: block;
			border: #333 solid 1px;
			border-radius: 3px;
			margin-bottom: -40px;
			@include sprite($inv-letter-05);
		}
		padding-bottom: 29px;
		display: block;
		color: $title;
		margin-left: 4px;
		font-size: 18px;
		float: none;
		text-transform: capitalize;
		&:hover {
			color: darken($title, 20%);
		}
	}
}

//mod tools
#moderation_tools {
	.title {
		color: $text;
	}
	.icon-menu a {
		background: none;
		color: $text;
	}
}

// multi reddit bubble when hovering over subscribe
.hover-bubble {
	&.multi-selector {
		background: $grey_background;
		border-color: $grey_border;

		// categorise title
		strong {
			color: #fff;
		}

		// /r/wow link
		a.sr {
			color: $title;
		}

		// remove background from the textbox
		.multi-list,
		label:hover {
			background: none;
		}

		// dark input box
		.create-multi {
			input[type=text] {
				background: $grey_background_2;
				border: 1px solid $grey_border;
				color: #ddd;
			}
		}

		//nub
		&:after {
			border-left-color: $grey_border;
		}
	}
}

//create your own subreddit
.sidebox {
	.spacer {
		background: none;
	}
	.subtitle {
		color: $text
	}
}

//recently viewed links
.gadget {

	a {
		color: $title;
	}
	small {
		color: $text !important;
	}
}

// account activity
.account-activity-box a {
	color: $text;
}

$side-icon-margin: 66px;

.side {
	a {
		&[href$="monday"],
		&[href$="tuesday"],
		&[href$="wednesday"],
		&[href$="thursday"],
		&[href$="friday"],
		&[href$="saturday"],
		&[href$="sunday"] {
			height: 36px;
			margin-bottom: 14px;
			margin-left: $side-icon-margin;
			display: block;
			color: $green_title;
			font-size: 14px;
			&:hover {
				color: #fff;
			}
			&:before {
				content: '';
				display: block;
				border: #333 solid 1px;
				border-radius: 3px;
				margin-bottom: -40px;
				margin-left: -$side-icon-margin;
			}
		}

		&[href$="monday"]:before {
			@include sprite($inv_pet-babymurlocs-blue);
		}
		&[href$="monday"]:hover:before {
			@include sprite($inv_pet-babymurlocs-blue-glow-fw);
		}

		&[href$="tuesday"]:before {
			@include sprite($achievement-bg-topdps);
		}
		&[href$="tuesday"]:hover:before {
			@include sprite($achievement-bg-topdps-glow-fw);
		}

		&[href$="wednesday"]:before {
			@include sprite($spell-holy-prayerofmendingtga);
		}
		&[href$="wednesday"]:hover:before {
			@include sprite($spell-holy-prayerofmendingtga-glow-fw);
		}

		&[href$="thursday"]:before {
			@include sprite($inv-misc-bag-32);
		}
		&[href$="thursday"]:hover:before {
			@include sprite($inv-misc-bag-32-glow-fw);
		}

		&[href$="friday"]:before {
			@include sprite($achievement-bg-topdps);
		}
		&[href$="friday"]:hover:before {
			@include sprite($achievement-bg-topdps-glow-fw);
		}

		&[href$="saturday"]:before {
			@include sprite($achievement-bg-returnxflags-def-wsg);
		}
		&[href$="saturday"]:hover:before {
			@include sprite($achievement-bg-returnxflags-def-wsg-glow-fw);
		}

		&[href$="sunday"]:before {
			@include sprite($ability-creature-cursed-05);
		}
		&[href$="sunday"]:hover:before {
			@include sprite($ability-creature-cursed-05-glow-fw);
		}
	}
}
