@mixin special-colour-link($link, $colour, $no_underline: false) {
	a[href*="#rwow#{$link}"] {
		color: $colour !important;
		pointer-events: none;
		&:hover {
			color: $colour !important;
		}
		&:visited {
			color: $colour !important;
		}
	}
}

@mixin special-currency-link($link, $sprite) {
	a[href*="#rwow#{$link}"] {
		display: inline-block;
		margin-left: 1px;
		margin-right: 2px;
		color: transparent !important;
		&:hover, &:visited {
			color: transparent !important;
		}
		@include sprite($sprite);
	}
}

a[href*="#pe"] {
	pointer-events: auto !important;
}

a[href*="#ul"] {
	&:hover {
		text-decoration: underline;
	}
}

// classes
@include special-colour-link('c0', #c79c6e); //warrior
@include special-colour-link('c1', #f58cba); //paladin
@include special-colour-link('c2', #abd473); //hunter
@include special-colour-link('c3', #fff569); //rogue
@include special-colour-link('c4', #ffffff); //priest
@include special-colour-link('c5', #c41f3b); //deathknight
@include special-colour-link('c6', #0070de); //shaman
@include special-colour-link('c7', #69ccf0); //mage
@include special-colour-link('c9', #9482c9); //warlock
@include special-colour-link('ca', #00ff96); //monk
@include special-colour-link('cb', #ff7d0a); //druid
@include special-colour-link('cc', #a330c9); //demonhunter

// item qualities
@include special-colour-link('q0', #9d9d9d); //poor
@include special-colour-link('q1', #ffffff); //common
@include special-colour-link('q2', #1eff00); //uncommon
@include special-colour-link('q3', #0070ff); //rare
@include special-colour-link('q4', #a335ee); //epic
@include special-colour-link('q5', #ff8000); //legendary
@include special-colour-link('q6', #e5cc80); //artifact
@include special-colour-link('q7', #00ccff); //heirloom

// tooltips
@include special-colour-link('t0', #fff); //white
@include special-colour-link('t1', #dbd107); //gold
@include special-colour-link('t2', #1eff00); //green
@include special-colour-link('t3', #6bf); //toy blue

// currency
@include special-currency-link('ug', $money-gold);
@include special-currency-link('us', $money-silver);
@include special-currency-link('uc', $money-copper);

//special
//blizzard blue
@include special-colour-link('bb', $blizzard_blue);
//mod green
@include special-colour-link('mg', $green_title);



