/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ability-creature-cursed-05-glow-fw-name: 'ability_creature_cursed_05-glow.fw';
$ability-creature-cursed-05-glow-fw-x: 112px;
$ability-creature-cursed-05-glow-fw-y: 206px;
$ability-creature-cursed-05-glow-fw-offset-x: -112px;
$ability-creature-cursed-05-glow-fw-offset-y: -206px;
$ability-creature-cursed-05-glow-fw-width: 56px;
$ability-creature-cursed-05-glow-fw-height: 56px;
$ability-creature-cursed-05-glow-fw-total-width: 344px;
$ability-creature-cursed-05-glow-fw-total-height: 318px;
$ability-creature-cursed-05-glow-fw-image: '../sprites/spritesheet.png';
$ability-creature-cursed-05-glow-fw: (112px, 206px, -112px, -206px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'ability_creature_cursed_05-glow.fw', );
$ability-creature-cursed-05-name: 'ability_creature_cursed_05';
$ability-creature-cursed-05-x: 280px;
$ability-creature-cursed-05-y: 112px;
$ability-creature-cursed-05-offset-x: -280px;
$ability-creature-cursed-05-offset-y: -112px;
$ability-creature-cursed-05-width: 56px;
$ability-creature-cursed-05-height: 56px;
$ability-creature-cursed-05-total-width: 344px;
$ability-creature-cursed-05-total-height: 318px;
$ability-creature-cursed-05-image: '../sprites/spritesheet.png';
$ability-creature-cursed-05: (280px, 112px, -280px, -112px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'ability_creature_cursed_05', );
$achievement-bg-returnxflags-def-wsg-glow-fw-name: 'achievement_bg_returnxflags_def_wsg-glow.fw';
$achievement-bg-returnxflags-def-wsg-glow-fw-x: 168px;
$achievement-bg-returnxflags-def-wsg-glow-fw-y: 206px;
$achievement-bg-returnxflags-def-wsg-glow-fw-offset-x: -168px;
$achievement-bg-returnxflags-def-wsg-glow-fw-offset-y: -206px;
$achievement-bg-returnxflags-def-wsg-glow-fw-width: 56px;
$achievement-bg-returnxflags-def-wsg-glow-fw-height: 56px;
$achievement-bg-returnxflags-def-wsg-glow-fw-total-width: 344px;
$achievement-bg-returnxflags-def-wsg-glow-fw-total-height: 318px;
$achievement-bg-returnxflags-def-wsg-glow-fw-image: '../sprites/spritesheet.png';
$achievement-bg-returnxflags-def-wsg-glow-fw: (168px, 206px, -168px, -206px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'achievement_bg_returnxflags_def_wsg-glow.fw', );
$achievement-bg-returnxflags-def-wsg-name: 'achievement_bg_returnxflags_def_wsg';
$achievement-bg-returnxflags-def-wsg-x: 224px;
$achievement-bg-returnxflags-def-wsg-y: 56px;
$achievement-bg-returnxflags-def-wsg-offset-x: -224px;
$achievement-bg-returnxflags-def-wsg-offset-y: -56px;
$achievement-bg-returnxflags-def-wsg-width: 56px;
$achievement-bg-returnxflags-def-wsg-height: 56px;
$achievement-bg-returnxflags-def-wsg-total-width: 344px;
$achievement-bg-returnxflags-def-wsg-total-height: 318px;
$achievement-bg-returnxflags-def-wsg-image: '../sprites/spritesheet.png';
$achievement-bg-returnxflags-def-wsg: (224px, 56px, -224px, -56px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'achievement_bg_returnxflags_def_wsg', );
$achievement-bg-topdps-glow-fw-name: 'achievement_bg_topdps-glow.fw';
$achievement-bg-topdps-glow-fw-x: 224px;
$achievement-bg-topdps-glow-fw-y: 112px;
$achievement-bg-topdps-glow-fw-offset-x: -224px;
$achievement-bg-topdps-glow-fw-offset-y: -112px;
$achievement-bg-topdps-glow-fw-width: 56px;
$achievement-bg-topdps-glow-fw-height: 56px;
$achievement-bg-topdps-glow-fw-total-width: 344px;
$achievement-bg-topdps-glow-fw-total-height: 318px;
$achievement-bg-topdps-glow-fw-image: '../sprites/spritesheet.png';
$achievement-bg-topdps-glow-fw: (224px, 112px, -224px, -112px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'achievement_bg_topdps-glow.fw', );
$achievement-bg-topdps-name: 'achievement_bg_topdps';
$achievement-bg-topdps-x: 0px;
$achievement-bg-topdps-y: 206px;
$achievement-bg-topdps-offset-x: 0px;
$achievement-bg-topdps-offset-y: -206px;
$achievement-bg-topdps-width: 56px;
$achievement-bg-topdps-height: 56px;
$achievement-bg-topdps-total-width: 344px;
$achievement-bg-topdps-total-height: 318px;
$achievement-bg-topdps-image: '../sprites/spritesheet.png';
$achievement-bg-topdps: (0px, 206px, 0px, -206px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'achievement_bg_topdps', );
$exclamation-fw-name: 'exclamation.fw';
$exclamation-fw-x: 336px;
$exclamation-fw-y: 0px;
$exclamation-fw-offset-x: -336px;
$exclamation-fw-offset-y: 0px;
$exclamation-fw-width: 8px;
$exclamation-fw-height: 30px;
$exclamation-fw-total-width: 344px;
$exclamation-fw-total-height: 318px;
$exclamation-fw-image: '../sprites/spritesheet.png';
$exclamation-fw: (336px, 0px, -336px, 0px, 8px, 30px, 344px, 318px, '../sprites/spritesheet.png', 'exclamation.fw', );
$expando-aa-dark-fw-name: 'expando-aa-dark.fw';
$expando-aa-dark-fw-x: 249px;
$expando-aa-dark-fw-y: 168px;
$expando-aa-dark-fw-offset-x: -249px;
$expando-aa-dark-fw-offset-y: -168px;
$expando-aa-dark-fw-width: 25px;
$expando-aa-dark-fw-height: 25px;
$expando-aa-dark-fw-total-width: 344px;
$expando-aa-dark-fw-total-height: 318px;
$expando-aa-dark-fw-image: '../sprites/spritesheet.png';
$expando-aa-dark-fw: (249px, 168px, -249px, -168px, 25px, 25px, 344px, 318px, '../sprites/spritesheet.png', 'expando-aa-dark.fw', );
$expando-aa-fw-name: 'expando-aa.fw';
$expando-aa-fw-x: 224px;
$expando-aa-fw-y: 168px;
$expando-aa-fw-offset-x: -224px;
$expando-aa-fw-offset-y: -168px;
$expando-aa-fw-width: 25px;
$expando-aa-fw-height: 25px;
$expando-aa-fw-total-width: 344px;
$expando-aa-fw-total-height: 318px;
$expando-aa-fw-image: '../sprites/spritesheet.png';
$expando-aa-fw: (224px, 168px, -224px, -168px, 25px, 25px, 344px, 318px, '../sprites/spritesheet.png', 'expando-aa.fw', );
$expando-plus-dark-fw-name: 'expando-plus-dark.fw';
$expando-plus-dark-fw-x: 305px;
$expando-plus-dark-fw-y: 224px;
$expando-plus-dark-fw-offset-x: -305px;
$expando-plus-dark-fw-offset-y: -224px;
$expando-plus-dark-fw-width: 25px;
$expando-plus-dark-fw-height: 25px;
$expando-plus-dark-fw-total-width: 344px;
$expando-plus-dark-fw-total-height: 318px;
$expando-plus-dark-fw-image: '../sprites/spritesheet.png';
$expando-plus-dark-fw: (305px, 224px, -305px, -224px, 25px, 25px, 344px, 318px, '../sprites/spritesheet.png', 'expando-plus-dark.fw', );
$expando-plus-fw-name: 'expando-plus.fw';
$expando-plus-fw-x: 280px;
$expando-plus-fw-y: 224px;
$expando-plus-fw-offset-x: -280px;
$expando-plus-fw-offset-y: -224px;
$expando-plus-fw-width: 25px;
$expando-plus-fw-height: 25px;
$expando-plus-fw-total-width: 344px;
$expando-plus-fw-total-height: 318px;
$expando-plus-fw-image: '../sprites/spritesheet.png';
$expando-plus-fw: (280px, 224px, -280px, -224px, 25px, 25px, 344px, 318px, '../sprites/spritesheet.png', 'expando-plus.fw', );
$inv-inscription-trinket-tank-glow-fw-name: 'inv_inscription_trinket_tank-glow.fw';
$inv-inscription-trinket-tank-glow-fw-x: 280px;
$inv-inscription-trinket-tank-glow-fw-y: 56px;
$inv-inscription-trinket-tank-glow-fw-offset-x: -280px;
$inv-inscription-trinket-tank-glow-fw-offset-y: -56px;
$inv-inscription-trinket-tank-glow-fw-width: 56px;
$inv-inscription-trinket-tank-glow-fw-height: 56px;
$inv-inscription-trinket-tank-glow-fw-total-width: 344px;
$inv-inscription-trinket-tank-glow-fw-total-height: 318px;
$inv-inscription-trinket-tank-glow-fw-image: '../sprites/spritesheet.png';
$inv-inscription-trinket-tank-glow-fw: (280px, 56px, -280px, -56px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_inscription_trinket_tank-glow.fw', );
$inv-inscription-trinket-tank-name: 'inv_inscription_trinket_tank';
$inv-inscription-trinket-tank-x: 224px;
$inv-inscription-trinket-tank-y: 0px;
$inv-inscription-trinket-tank-offset-x: -224px;
$inv-inscription-trinket-tank-offset-y: 0px;
$inv-inscription-trinket-tank-width: 56px;
$inv-inscription-trinket-tank-height: 56px;
$inv-inscription-trinket-tank-total-width: 344px;
$inv-inscription-trinket-tank-total-height: 318px;
$inv-inscription-trinket-tank-image: '../sprites/spritesheet.png';
$inv-inscription-trinket-tank: (224px, 0px, -224px, 0px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_inscription_trinket_tank', );
$inv-letter-05-glow-fw-name: 'inv_letter_05-glow.fw';
$inv-letter-05-glow-fw-x: 280px;
$inv-letter-05-glow-fw-y: 168px;
$inv-letter-05-glow-fw-offset-x: -280px;
$inv-letter-05-glow-fw-offset-y: -168px;
$inv-letter-05-glow-fw-width: 56px;
$inv-letter-05-glow-fw-height: 56px;
$inv-letter-05-glow-fw-total-width: 344px;
$inv-letter-05-glow-fw-total-height: 318px;
$inv-letter-05-glow-fw-image: '../sprites/spritesheet.png';
$inv-letter-05-glow-fw: (280px, 168px, -280px, -168px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_letter_05-glow.fw', );
$inv-letter-05-name: 'inv_letter_05';
$inv-letter-05-x: 0px;
$inv-letter-05-y: 262px;
$inv-letter-05-offset-x: 0px;
$inv-letter-05-offset-y: -262px;
$inv-letter-05-width: 56px;
$inv-letter-05-height: 56px;
$inv-letter-05-total-width: 344px;
$inv-letter-05-total-height: 318px;
$inv-letter-05-image: '../sprites/spritesheet.png';
$inv-letter-05: (0px, 262px, 0px, -262px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_letter_05', );
$inv-misc-bag-32-glow-fw-name: 'inv_misc_bag_32-glow.fw';
$inv-misc-bag-32-glow-fw-x: 56px;
$inv-misc-bag-32-glow-fw-y: 262px;
$inv-misc-bag-32-glow-fw-offset-x: -56px;
$inv-misc-bag-32-glow-fw-offset-y: -262px;
$inv-misc-bag-32-glow-fw-width: 56px;
$inv-misc-bag-32-glow-fw-height: 56px;
$inv-misc-bag-32-glow-fw-total-width: 344px;
$inv-misc-bag-32-glow-fw-total-height: 318px;
$inv-misc-bag-32-glow-fw-image: '../sprites/spritesheet.png';
$inv-misc-bag-32-glow-fw: (56px, 262px, -56px, -262px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_misc_bag_32-glow.fw', );
$inv-misc-bag-32-name: 'inv_misc_bag_32';
$inv-misc-bag-32-x: 112px;
$inv-misc-bag-32-y: 262px;
$inv-misc-bag-32-offset-x: -112px;
$inv-misc-bag-32-offset-y: -262px;
$inv-misc-bag-32-width: 56px;
$inv-misc-bag-32-height: 56px;
$inv-misc-bag-32-total-width: 344px;
$inv-misc-bag-32-total-height: 318px;
$inv-misc-bag-32-image: '../sprites/spritesheet.png';
$inv-misc-bag-32: (112px, 262px, -112px, -262px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_misc_bag_32', );
$inv-misc-questionmark-glow-fw-name: 'inv_misc_questionmark-glow.fw';
$inv-misc-questionmark-glow-fw-x: 168px;
$inv-misc-questionmark-glow-fw-y: 262px;
$inv-misc-questionmark-glow-fw-offset-x: -168px;
$inv-misc-questionmark-glow-fw-offset-y: -262px;
$inv-misc-questionmark-glow-fw-width: 56px;
$inv-misc-questionmark-glow-fw-height: 56px;
$inv-misc-questionmark-glow-fw-total-width: 344px;
$inv-misc-questionmark-glow-fw-total-height: 318px;
$inv-misc-questionmark-glow-fw-image: '../sprites/spritesheet.png';
$inv-misc-questionmark-glow-fw: (168px, 262px, -168px, -262px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_misc_questionmark-glow.fw', );
$inv-misc-questionmark-name: 'inv_misc_questionmark';
$inv-misc-questionmark-x: 224px;
$inv-misc-questionmark-y: 262px;
$inv-misc-questionmark-offset-x: -224px;
$inv-misc-questionmark-offset-y: -262px;
$inv-misc-questionmark-width: 56px;
$inv-misc-questionmark-height: 56px;
$inv-misc-questionmark-total-width: 344px;
$inv-misc-questionmark-total-height: 318px;
$inv-misc-questionmark-image: '../sprites/spritesheet.png';
$inv-misc-questionmark: (224px, 262px, -224px, -262px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_misc_questionmark', );
$inv-pet-babymurlocs-blue-glow-fw-name: 'inv_pet_babymurlocs_blue-glow.fw';
$inv-pet-babymurlocs-blue-glow-fw-x: 280px;
$inv-pet-babymurlocs-blue-glow-fw-y: 0px;
$inv-pet-babymurlocs-blue-glow-fw-offset-x: -280px;
$inv-pet-babymurlocs-blue-glow-fw-offset-y: 0px;
$inv-pet-babymurlocs-blue-glow-fw-width: 56px;
$inv-pet-babymurlocs-blue-glow-fw-height: 56px;
$inv-pet-babymurlocs-blue-glow-fw-total-width: 344px;
$inv-pet-babymurlocs-blue-glow-fw-total-height: 318px;
$inv-pet-babymurlocs-blue-glow-fw-image: '../sprites/spritesheet.png';
$inv-pet-babymurlocs-blue-glow-fw: (280px, 0px, -280px, 0px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_pet_babymurlocs_blue-glow.fw', );
$inv-pet-babymurlocs-blue-name: 'inv_pet_babymurlocs_blue';
$inv-pet-babymurlocs-blue-x: 224px;
$inv-pet-babymurlocs-blue-y: 206px;
$inv-pet-babymurlocs-blue-offset-x: -224px;
$inv-pet-babymurlocs-blue-offset-y: -206px;
$inv-pet-babymurlocs-blue-width: 56px;
$inv-pet-babymurlocs-blue-height: 56px;
$inv-pet-babymurlocs-blue-total-width: 344px;
$inv-pet-babymurlocs-blue-total-height: 318px;
$inv-pet-babymurlocs-blue-image: '../sprites/spritesheet.png';
$inv-pet-babymurlocs-blue: (224px, 206px, -224px, -206px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'inv_pet_babymurlocs_blue', );
$logo-resized-glow-fw-name: 'logo-resized-glow.fw';
$logo-resized-glow-fw-x: 0px;
$logo-resized-glow-fw-y: 103px;
$logo-resized-glow-fw-offset-x: 0px;
$logo-resized-glow-fw-offset-y: -103px;
$logo-resized-glow-fw-width: 224px;
$logo-resized-glow-fw-height: 103px;
$logo-resized-glow-fw-total-width: 344px;
$logo-resized-glow-fw-total-height: 318px;
$logo-resized-glow-fw-image: '../sprites/spritesheet.png';
$logo-resized-glow-fw: (0px, 103px, 0px, -103px, 224px, 103px, 344px, 318px, '../sprites/spritesheet.png', 'logo-resized-glow.fw', );
$logo-resized-fw-name: 'logo-resized.fw';
$logo-resized-fw-x: 0px;
$logo-resized-fw-y: 0px;
$logo-resized-fw-offset-x: 0px;
$logo-resized-fw-offset-y: 0px;
$logo-resized-fw-width: 224px;
$logo-resized-fw-height: 103px;
$logo-resized-fw-total-width: 344px;
$logo-resized-fw-total-height: 318px;
$logo-resized-fw-image: '../sprites/spritesheet.png';
$logo-resized-fw: (0px, 0px, 0px, 0px, 224px, 103px, 344px, 318px, '../sprites/spritesheet.png', 'logo-resized.fw', );
$spell-holy-prayerofmendingtga-glow-fw-name: 'spell_holy_prayerofmendingtga-glow.fw';
$spell-holy-prayerofmendingtga-glow-fw-x: 56px;
$spell-holy-prayerofmendingtga-glow-fw-y: 206px;
$spell-holy-prayerofmendingtga-glow-fw-offset-x: -56px;
$spell-holy-prayerofmendingtga-glow-fw-offset-y: -206px;
$spell-holy-prayerofmendingtga-glow-fw-width: 56px;
$spell-holy-prayerofmendingtga-glow-fw-height: 56px;
$spell-holy-prayerofmendingtga-glow-fw-total-width: 344px;
$spell-holy-prayerofmendingtga-glow-fw-total-height: 318px;
$spell-holy-prayerofmendingtga-glow-fw-image: '../sprites/spritesheet.png';
$spell-holy-prayerofmendingtga-glow-fw: (56px, 206px, -56px, -206px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'spell_holy_prayerofmendingtga-glow.fw', );
$spell-holy-prayerofmendingtga-name: 'spell_holy_prayerofmendingtga';
$spell-holy-prayerofmendingtga-x: 280px;
$spell-holy-prayerofmendingtga-y: 262px;
$spell-holy-prayerofmendingtga-offset-x: -280px;
$spell-holy-prayerofmendingtga-offset-y: -262px;
$spell-holy-prayerofmendingtga-width: 56px;
$spell-holy-prayerofmendingtga-height: 56px;
$spell-holy-prayerofmendingtga-total-width: 344px;
$spell-holy-prayerofmendingtga-total-height: 318px;
$spell-holy-prayerofmendingtga-image: '../sprites/spritesheet.png';
$spell-holy-prayerofmendingtga: (280px, 262px, -280px, -262px, 56px, 56px, 344px, 318px, '../sprites/spritesheet.png', 'spell_holy_prayerofmendingtga', );
$spritesheet-width: 344px;
$spritesheet-height: 318px;
$spritesheet-image: '../sprites/spritesheet.png';
$spritesheet-sprites: ($ability-creature-cursed-05-glow-fw, $ability-creature-cursed-05, $achievement-bg-returnxflags-def-wsg-glow-fw, $achievement-bg-returnxflags-def-wsg, $achievement-bg-topdps-glow-fw, $achievement-bg-topdps, $exclamation-fw, $expando-aa-dark-fw, $expando-aa-fw, $expando-plus-dark-fw, $expando-plus-fw, $inv-inscription-trinket-tank-glow-fw, $inv-inscription-trinket-tank, $inv-letter-05-glow-fw, $inv-letter-05, $inv-misc-bag-32-glow-fw, $inv-misc-bag-32, $inv-misc-questionmark-glow-fw, $inv-misc-questionmark, $inv-pet-babymurlocs-blue-glow-fw, $inv-pet-babymurlocs-blue, $logo-resized-glow-fw, $logo-resized-fw, $spell-holy-prayerofmendingtga-glow-fw, $spell-holy-prayerofmendingtga, );
$spritesheet: (344px, 318px, '../sprites/spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
