/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ability-creature-cursed-05-glow-fw-name: 'ability_creature_cursed_05-glow.fw';
$ability-creature-cursed-05-glow-fw-x: 252px;
$ability-creature-cursed-05-glow-fw-y: 206px;
$ability-creature-cursed-05-glow-fw-offset-x: -252px;
$ability-creature-cursed-05-glow-fw-offset-y: -206px;
$ability-creature-cursed-05-glow-fw-width: 28px;
$ability-creature-cursed-05-glow-fw-height: 28px;
$ability-creature-cursed-05-glow-fw-total-width: 364px;
$ability-creature-cursed-05-glow-fw-total-height: 262px;
$ability-creature-cursed-05-glow-fw-image: '../sprites/spritesheet.png';
$ability-creature-cursed-05-glow-fw: (252px, 206px, -252px, -206px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'ability_creature_cursed_05-glow.fw', );
$ability-creature-cursed-05-name: 'ability_creature_cursed_05';
$ability-creature-cursed-05-x: 196px;
$ability-creature-cursed-05-y: 206px;
$ability-creature-cursed-05-offset-x: -196px;
$ability-creature-cursed-05-offset-y: -206px;
$ability-creature-cursed-05-width: 28px;
$ability-creature-cursed-05-height: 28px;
$ability-creature-cursed-05-total-width: 364px;
$ability-creature-cursed-05-total-height: 262px;
$ability-creature-cursed-05-image: '../sprites/spritesheet.png';
$ability-creature-cursed-05: (196px, 206px, -196px, -206px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'ability_creature_cursed_05', );
$achievement-bg-returnxflags-def-wsg-glow-fw-name: 'achievement_bg_returnxflags_def_wsg-glow.fw';
$achievement-bg-returnxflags-def-wsg-glow-fw-x: 280px;
$achievement-bg-returnxflags-def-wsg-glow-fw-y: 206px;
$achievement-bg-returnxflags-def-wsg-glow-fw-offset-x: -280px;
$achievement-bg-returnxflags-def-wsg-glow-fw-offset-y: -206px;
$achievement-bg-returnxflags-def-wsg-glow-fw-width: 28px;
$achievement-bg-returnxflags-def-wsg-glow-fw-height: 28px;
$achievement-bg-returnxflags-def-wsg-glow-fw-total-width: 364px;
$achievement-bg-returnxflags-def-wsg-glow-fw-total-height: 262px;
$achievement-bg-returnxflags-def-wsg-glow-fw-image: '../sprites/spritesheet.png';
$achievement-bg-returnxflags-def-wsg-glow-fw: (280px, 206px, -280px, -206px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'achievement_bg_returnxflags_def_wsg-glow.fw', );
$achievement-bg-returnxflags-def-wsg-name: 'achievement_bg_returnxflags_def_wsg';
$achievement-bg-returnxflags-def-wsg-x: 322px;
$achievement-bg-returnxflags-def-wsg-y: 168px;
$achievement-bg-returnxflags-def-wsg-offset-x: -322px;
$achievement-bg-returnxflags-def-wsg-offset-y: -168px;
$achievement-bg-returnxflags-def-wsg-width: 28px;
$achievement-bg-returnxflags-def-wsg-height: 28px;
$achievement-bg-returnxflags-def-wsg-total-width: 364px;
$achievement-bg-returnxflags-def-wsg-total-height: 262px;
$achievement-bg-returnxflags-def-wsg-image: '../sprites/spritesheet.png';
$achievement-bg-returnxflags-def-wsg: (322px, 168px, -322px, -168px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'achievement_bg_returnxflags_def_wsg', );
$achievement-bg-topdps-glow-fw-name: 'achievement_bg_topdps-glow.fw';
$achievement-bg-topdps-glow-fw-x: 224px;
$achievement-bg-topdps-glow-fw-y: 168px;
$achievement-bg-topdps-glow-fw-offset-x: -224px;
$achievement-bg-topdps-glow-fw-offset-y: -168px;
$achievement-bg-topdps-glow-fw-width: 28px;
$achievement-bg-topdps-glow-fw-height: 28px;
$achievement-bg-topdps-glow-fw-total-width: 364px;
$achievement-bg-topdps-glow-fw-total-height: 262px;
$achievement-bg-topdps-glow-fw-image: '../sprites/spritesheet.png';
$achievement-bg-topdps-glow-fw: (224px, 168px, -224px, -168px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'achievement_bg_topdps-glow.fw', );
$achievement-bg-topdps-name: 'achievement_bg_topdps';
$achievement-bg-topdps-x: 140px;
$achievement-bg-topdps-y: 206px;
$achievement-bg-topdps-offset-x: -140px;
$achievement-bg-topdps-offset-y: -206px;
$achievement-bg-topdps-width: 28px;
$achievement-bg-topdps-height: 28px;
$achievement-bg-topdps-total-width: 364px;
$achievement-bg-topdps-total-height: 262px;
$achievement-bg-topdps-image: '../sprites/spritesheet.png';
$achievement-bg-topdps: (140px, 206px, -140px, -206px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'achievement_bg_topdps', );
$exclamation-fw-name: 'exclamation.fw';
$exclamation-fw-x: 350px;
$exclamation-fw-y: 112px;
$exclamation-fw-offset-x: -350px;
$exclamation-fw-offset-y: -112px;
$exclamation-fw-width: 8px;
$exclamation-fw-height: 30px;
$exclamation-fw-total-width: 364px;
$exclamation-fw-total-height: 262px;
$exclamation-fw-image: '../sprites/spritesheet.png';
$exclamation-fw: (350px, 112px, -350px, -112px, 8px, 30px, 364px, 262px, '../sprites/spritesheet.png', 'exclamation.fw', );
$expando-aa-dark-fw-name: 'expando-aa-dark.fw';
$expando-aa-dark-fw-x: 315px;
$expando-aa-dark-fw-y: 234px;
$expando-aa-dark-fw-offset-x: -315px;
$expando-aa-dark-fw-offset-y: -234px;
$expando-aa-dark-fw-width: 25px;
$expando-aa-dark-fw-height: 25px;
$expando-aa-dark-fw-total-width: 364px;
$expando-aa-dark-fw-total-height: 262px;
$expando-aa-dark-fw-image: '../sprites/spritesheet.png';
$expando-aa-dark-fw: (315px, 234px, -315px, -234px, 25px, 25px, 364px, 262px, '../sprites/spritesheet.png', 'expando-aa-dark.fw', );
$expando-aa-fw-name: 'expando-aa.fw';
$expando-aa-fw-x: 290px;
$expando-aa-fw-y: 234px;
$expando-aa-fw-offset-x: -290px;
$expando-aa-fw-offset-y: -234px;
$expando-aa-fw-width: 25px;
$expando-aa-fw-height: 25px;
$expando-aa-fw-total-width: 364px;
$expando-aa-fw-total-height: 262px;
$expando-aa-fw-image: '../sprites/spritesheet.png';
$expando-aa-fw: (290px, 234px, -290px, -234px, 25px, 25px, 364px, 262px, '../sprites/spritesheet.png', 'expando-aa.fw', );
$expando-gallery-dark-fw-name: 'expando-gallery-dark.fw';
$expando-gallery-dark-fw-x: 265px;
$expando-gallery-dark-fw-y: 234px;
$expando-gallery-dark-fw-offset-x: -265px;
$expando-gallery-dark-fw-offset-y: -234px;
$expando-gallery-dark-fw-width: 25px;
$expando-gallery-dark-fw-height: 25px;
$expando-gallery-dark-fw-total-width: 364px;
$expando-gallery-dark-fw-total-height: 262px;
$expando-gallery-dark-fw-image: '../sprites/spritesheet.png';
$expando-gallery-dark-fw: (265px, 234px, -265px, -234px, 25px, 25px, 364px, 262px, '../sprites/spritesheet.png', 'expando-gallery-dark.fw', );
$expando-gallery-fw-name: 'expando-gallery.fw';
$expando-gallery-fw-x: 240px;
$expando-gallery-fw-y: 234px;
$expando-gallery-fw-offset-x: -240px;
$expando-gallery-fw-offset-y: -234px;
$expando-gallery-fw-width: 25px;
$expando-gallery-fw-height: 25px;
$expando-gallery-fw-total-width: 364px;
$expando-gallery-fw-total-height: 262px;
$expando-gallery-fw-image: '../sprites/spritesheet.png';
$expando-gallery-fw: (240px, 234px, -240px, -234px, 25px, 25px, 364px, 262px, '../sprites/spritesheet.png', 'expando-gallery.fw', );
$expando-image-dark-fw-name: 'expando-image-dark.fw';
$expando-image-dark-fw-x: 215px;
$expando-image-dark-fw-y: 234px;
$expando-image-dark-fw-offset-x: -215px;
$expando-image-dark-fw-offset-y: -234px;
$expando-image-dark-fw-width: 25px;
$expando-image-dark-fw-height: 25px;
$expando-image-dark-fw-total-width: 364px;
$expando-image-dark-fw-total-height: 262px;
$expando-image-dark-fw-image: '../sprites/spritesheet.png';
$expando-image-dark-fw: (215px, 234px, -215px, -234px, 25px, 25px, 364px, 262px, '../sprites/spritesheet.png', 'expando-image-dark.fw', );
$expando-image-fw-name: 'expando-image.fw';
$expando-image-fw-x: 190px;
$expando-image-fw-y: 234px;
$expando-image-fw-offset-x: -190px;
$expando-image-fw-offset-y: -234px;
$expando-image-fw-width: 25px;
$expando-image-fw-height: 25px;
$expando-image-fw-total-width: 364px;
$expando-image-fw-total-height: 262px;
$expando-image-fw-image: '../sprites/spritesheet.png';
$expando-image-fw: (190px, 234px, -190px, -234px, 25px, 25px, 364px, 262px, '../sprites/spritesheet.png', 'expando-image.fw', );
$expando-plus-dark-fw-name: 'expando-plus-dark.fw';
$expando-plus-dark-fw-x: 165px;
$expando-plus-dark-fw-y: 234px;
$expando-plus-dark-fw-offset-x: -165px;
$expando-plus-dark-fw-offset-y: -234px;
$expando-plus-dark-fw-width: 25px;
$expando-plus-dark-fw-height: 25px;
$expando-plus-dark-fw-total-width: 364px;
$expando-plus-dark-fw-total-height: 262px;
$expando-plus-dark-fw-image: '../sprites/spritesheet.png';
$expando-plus-dark-fw: (165px, 234px, -165px, -234px, 25px, 25px, 364px, 262px, '../sprites/spritesheet.png', 'expando-plus-dark.fw', );
$expando-plus-fw-name: 'expando-plus.fw';
$expando-plus-fw-x: 140px;
$expando-plus-fw-y: 234px;
$expando-plus-fw-offset-x: -140px;
$expando-plus-fw-offset-y: -234px;
$expando-plus-fw-width: 25px;
$expando-plus-fw-height: 25px;
$expando-plus-fw-total-width: 364px;
$expando-plus-fw-total-height: 262px;
$expando-plus-fw-image: '../sprites/spritesheet.png';
$expando-plus-fw: (140px, 234px, -140px, -234px, 25px, 25px, 364px, 262px, '../sprites/spritesheet.png', 'expando-plus.fw', );
$inv-inscription-trinket-tank-glow-fw-name: 'inv_inscription_trinket_tank-glow.fw';
$inv-inscription-trinket-tank-glow-fw-x: 294px;
$inv-inscription-trinket-tank-glow-fw-y: 168px;
$inv-inscription-trinket-tank-glow-fw-offset-x: -294px;
$inv-inscription-trinket-tank-glow-fw-offset-y: -168px;
$inv-inscription-trinket-tank-glow-fw-width: 28px;
$inv-inscription-trinket-tank-glow-fw-height: 28px;
$inv-inscription-trinket-tank-glow-fw-total-width: 364px;
$inv-inscription-trinket-tank-glow-fw-total-height: 262px;
$inv-inscription-trinket-tank-glow-fw-image: '../sprites/spritesheet.png';
$inv-inscription-trinket-tank-glow-fw: (294px, 168px, -294px, -168px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'inv_inscription_trinket_tank-glow.fw', );
$inv-inscription-trinket-tank-name: 'inv_inscription_trinket_tank';
$inv-inscription-trinket-tank-x: 224px;
$inv-inscription-trinket-tank-y: 206px;
$inv-inscription-trinket-tank-offset-x: -224px;
$inv-inscription-trinket-tank-offset-y: -206px;
$inv-inscription-trinket-tank-width: 28px;
$inv-inscription-trinket-tank-height: 28px;
$inv-inscription-trinket-tank-total-width: 364px;
$inv-inscription-trinket-tank-total-height: 262px;
$inv-inscription-trinket-tank-image: '../sprites/spritesheet.png';
$inv-inscription-trinket-tank: (224px, 206px, -224px, -206px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'inv_inscription_trinket_tank', );
$inv-letter-05-glow-fw-name: 'inv_letter_05-glow.fw';
$inv-letter-05-glow-fw-x: 0px;
$inv-letter-05-glow-fw-y: 206px;
$inv-letter-05-glow-fw-offset-x: 0px;
$inv-letter-05-glow-fw-offset-y: -206px;
$inv-letter-05-glow-fw-width: 56px;
$inv-letter-05-glow-fw-height: 56px;
$inv-letter-05-glow-fw-total-width: 364px;
$inv-letter-05-glow-fw-total-height: 262px;
$inv-letter-05-glow-fw-image: '../sprites/spritesheet.png';
$inv-letter-05-glow-fw: (0px, 206px, 0px, -206px, 56px, 56px, 364px, 262px, '../sprites/spritesheet.png', 'inv_letter_05-glow.fw', );
$inv-letter-05-name: 'inv_letter_05';
$inv-letter-05-x: 56px;
$inv-letter-05-y: 206px;
$inv-letter-05-offset-x: -56px;
$inv-letter-05-offset-y: -206px;
$inv-letter-05-width: 56px;
$inv-letter-05-height: 56px;
$inv-letter-05-total-width: 364px;
$inv-letter-05-total-height: 262px;
$inv-letter-05-image: '../sprites/spritesheet.png';
$inv-letter-05: (56px, 206px, -56px, -206px, 56px, 56px, 364px, 262px, '../sprites/spritesheet.png', 'inv_letter_05', );
$inv-misc-bag-32-glow-fw-name: 'inv_misc_bag_32-glow.fw';
$inv-misc-bag-32-glow-fw-x: 308px;
$inv-misc-bag-32-glow-fw-y: 206px;
$inv-misc-bag-32-glow-fw-offset-x: -308px;
$inv-misc-bag-32-glow-fw-offset-y: -206px;
$inv-misc-bag-32-glow-fw-width: 28px;
$inv-misc-bag-32-glow-fw-height: 28px;
$inv-misc-bag-32-glow-fw-total-width: 364px;
$inv-misc-bag-32-glow-fw-total-height: 262px;
$inv-misc-bag-32-glow-fw-image: '../sprites/spritesheet.png';
$inv-misc-bag-32-glow-fw: (308px, 206px, -308px, -206px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'inv_misc_bag_32-glow.fw', );
$inv-misc-bag-32-name: 'inv_misc_bag_32';
$inv-misc-bag-32-x: 336px;
$inv-misc-bag-32-y: 206px;
$inv-misc-bag-32-offset-x: -336px;
$inv-misc-bag-32-offset-y: -206px;
$inv-misc-bag-32-width: 28px;
$inv-misc-bag-32-height: 28px;
$inv-misc-bag-32-total-width: 364px;
$inv-misc-bag-32-total-height: 262px;
$inv-misc-bag-32-image: '../sprites/spritesheet.png';
$inv-misc-bag-32: (336px, 206px, -336px, -206px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'inv_misc_bag_32', );
$inv-misc-questionmark-glow-fw-name: 'inv_misc_questionmark-glow.fw';
$inv-misc-questionmark-glow-fw-x: 224px;
$inv-misc-questionmark-glow-fw-y: 112px;
$inv-misc-questionmark-glow-fw-offset-x: -224px;
$inv-misc-questionmark-glow-fw-offset-y: -112px;
$inv-misc-questionmark-glow-fw-width: 56px;
$inv-misc-questionmark-glow-fw-height: 56px;
$inv-misc-questionmark-glow-fw-total-width: 364px;
$inv-misc-questionmark-glow-fw-total-height: 262px;
$inv-misc-questionmark-glow-fw-image: '../sprites/spritesheet.png';
$inv-misc-questionmark-glow-fw: (224px, 112px, -224px, -112px, 56px, 56px, 364px, 262px, '../sprites/spritesheet.png', 'inv_misc_questionmark-glow.fw', );
$inv-misc-questionmark-name: 'inv_misc_questionmark';
$inv-misc-questionmark-x: 294px;
$inv-misc-questionmark-y: 112px;
$inv-misc-questionmark-offset-x: -294px;
$inv-misc-questionmark-offset-y: -112px;
$inv-misc-questionmark-width: 56px;
$inv-misc-questionmark-height: 56px;
$inv-misc-questionmark-total-width: 364px;
$inv-misc-questionmark-total-height: 262px;
$inv-misc-questionmark-image: '../sprites/spritesheet.png';
$inv-misc-questionmark: (294px, 112px, -294px, -112px, 56px, 56px, 364px, 262px, '../sprites/spritesheet.png', 'inv_misc_questionmark', );
$inv-pet-babymurlocs-blue-glow-fw-name: 'inv_pet_babymurlocs_blue-glow.fw';
$inv-pet-babymurlocs-blue-glow-fw-x: 112px;
$inv-pet-babymurlocs-blue-glow-fw-y: 206px;
$inv-pet-babymurlocs-blue-glow-fw-offset-x: -112px;
$inv-pet-babymurlocs-blue-glow-fw-offset-y: -206px;
$inv-pet-babymurlocs-blue-glow-fw-width: 28px;
$inv-pet-babymurlocs-blue-glow-fw-height: 28px;
$inv-pet-babymurlocs-blue-glow-fw-total-width: 364px;
$inv-pet-babymurlocs-blue-glow-fw-total-height: 262px;
$inv-pet-babymurlocs-blue-glow-fw-image: '../sprites/spritesheet.png';
$inv-pet-babymurlocs-blue-glow-fw: (112px, 206px, -112px, -206px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'inv_pet_babymurlocs_blue-glow.fw', );
$inv-pet-babymurlocs-blue-name: 'inv_pet_babymurlocs_blue';
$inv-pet-babymurlocs-blue-x: 252px;
$inv-pet-babymurlocs-blue-y: 168px;
$inv-pet-babymurlocs-blue-offset-x: -252px;
$inv-pet-babymurlocs-blue-offset-y: -168px;
$inv-pet-babymurlocs-blue-width: 28px;
$inv-pet-babymurlocs-blue-height: 28px;
$inv-pet-babymurlocs-blue-total-width: 364px;
$inv-pet-babymurlocs-blue-total-height: 262px;
$inv-pet-babymurlocs-blue-image: '../sprites/spritesheet.png';
$inv-pet-babymurlocs-blue: (252px, 168px, -252px, -168px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'inv_pet_babymurlocs_blue', );
$logo-resized-glow-fw-name: 'logo-resized-glow.fw';
$logo-resized-glow-fw-x: 0px;
$logo-resized-glow-fw-y: 103px;
$logo-resized-glow-fw-offset-x: 0px;
$logo-resized-glow-fw-offset-y: -103px;
$logo-resized-glow-fw-width: 224px;
$logo-resized-glow-fw-height: 103px;
$logo-resized-glow-fw-total-width: 364px;
$logo-resized-glow-fw-total-height: 262px;
$logo-resized-glow-fw-image: '../sprites/spritesheet.png';
$logo-resized-glow-fw: (0px, 103px, 0px, -103px, 224px, 103px, 364px, 262px, '../sprites/spritesheet.png', 'logo-resized-glow.fw', );
$logo-resized-fw-name: 'logo-resized.fw';
$logo-resized-fw-x: 0px;
$logo-resized-fw-y: 0px;
$logo-resized-fw-offset-x: 0px;
$logo-resized-fw-offset-y: 0px;
$logo-resized-fw-width: 224px;
$logo-resized-fw-height: 103px;
$logo-resized-fw-total-width: 364px;
$logo-resized-fw-total-height: 262px;
$logo-resized-fw-image: '../sprites/spritesheet.png';
$logo-resized-fw: (0px, 0px, 0px, 0px, 224px, 103px, 364px, 262px, '../sprites/spritesheet.png', 'logo-resized.fw', );
$snoo-glow-fw-name: 'snoo-glow.fw';
$snoo-glow-fw-x: 294px;
$snoo-glow-fw-y: 0px;
$snoo-glow-fw-offset-x: -294px;
$snoo-glow-fw-offset-y: 0px;
$snoo-glow-fw-width: 70px;
$snoo-glow-fw-height: 112px;
$snoo-glow-fw-total-width: 364px;
$snoo-glow-fw-total-height: 262px;
$snoo-glow-fw-image: '../sprites/spritesheet.png';
$snoo-glow-fw: (294px, 0px, -294px, 0px, 70px, 112px, 364px, 262px, '../sprites/spritesheet.png', 'snoo-glow.fw', );
$snoo-name: 'snoo';
$snoo-x: 224px;
$snoo-y: 0px;
$snoo-offset-x: -224px;
$snoo-offset-y: 0px;
$snoo-width: 70px;
$snoo-height: 112px;
$snoo-total-width: 364px;
$snoo-total-height: 262px;
$snoo-image: '../sprites/spritesheet.png';
$snoo: (224px, 0px, -224px, 0px, 70px, 112px, 364px, 262px, '../sprites/spritesheet.png', 'snoo', );
$spell-holy-prayerofmendingtga-glow-fw-name: 'spell_holy_prayerofmendingtga-glow.fw';
$spell-holy-prayerofmendingtga-glow-fw-x: 168px;
$spell-holy-prayerofmendingtga-glow-fw-y: 206px;
$spell-holy-prayerofmendingtga-glow-fw-offset-x: -168px;
$spell-holy-prayerofmendingtga-glow-fw-offset-y: -206px;
$spell-holy-prayerofmendingtga-glow-fw-width: 28px;
$spell-holy-prayerofmendingtga-glow-fw-height: 28px;
$spell-holy-prayerofmendingtga-glow-fw-total-width: 364px;
$spell-holy-prayerofmendingtga-glow-fw-total-height: 262px;
$spell-holy-prayerofmendingtga-glow-fw-image: '../sprites/spritesheet.png';
$spell-holy-prayerofmendingtga-glow-fw: (168px, 206px, -168px, -206px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'spell_holy_prayerofmendingtga-glow.fw', );
$spell-holy-prayerofmendingtga-name: 'spell_holy_prayerofmendingtga';
$spell-holy-prayerofmendingtga-x: 112px;
$spell-holy-prayerofmendingtga-y: 234px;
$spell-holy-prayerofmendingtga-offset-x: -112px;
$spell-holy-prayerofmendingtga-offset-y: -234px;
$spell-holy-prayerofmendingtga-width: 28px;
$spell-holy-prayerofmendingtga-height: 28px;
$spell-holy-prayerofmendingtga-total-width: 364px;
$spell-holy-prayerofmendingtga-total-height: 262px;
$spell-holy-prayerofmendingtga-image: '../sprites/spritesheet.png';
$spell-holy-prayerofmendingtga: (112px, 234px, -112px, -234px, 28px, 28px, 364px, 262px, '../sprites/spritesheet.png', 'spell_holy_prayerofmendingtga', );
$spritesheet-width: 364px;
$spritesheet-height: 262px;
$spritesheet-image: '../sprites/spritesheet.png';
$spritesheet-sprites: ($ability-creature-cursed-05-glow-fw, $ability-creature-cursed-05, $achievement-bg-returnxflags-def-wsg-glow-fw, $achievement-bg-returnxflags-def-wsg, $achievement-bg-topdps-glow-fw, $achievement-bg-topdps, $exclamation-fw, $expando-aa-dark-fw, $expando-aa-fw, $expando-gallery-dark-fw, $expando-gallery-fw, $expando-image-dark-fw, $expando-image-fw, $expando-plus-dark-fw, $expando-plus-fw, $inv-inscription-trinket-tank-glow-fw, $inv-inscription-trinket-tank, $inv-letter-05-glow-fw, $inv-letter-05, $inv-misc-bag-32-glow-fw, $inv-misc-bag-32, $inv-misc-questionmark-glow-fw, $inv-misc-questionmark, $inv-pet-babymurlocs-blue-glow-fw, $inv-pet-babymurlocs-blue, $logo-resized-glow-fw, $logo-resized-fw, $snoo-glow-fw, $snoo, $spell-holy-prayerofmendingtga-glow-fw, $spell-holy-prayerofmendingtga, );
$spritesheet: (364px, 262px, '../sprites/spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
