
.thing .entry {
	margin-top: 10px;
}

.link .usertext-body .md {
	background-color: $grey_background;
	border: 1px solid $grey_border;
	border-radius: 7px;
}

//contest
.contest-mode,
.infobar.mellow {
	background-color: $wow_btn_background;
	border: 1px solid $wow_btn_border;
	color: #fff;
	font-weight: normal;
	text-shadow: 0px 1px 0px #000;
}

.linkinfo {
	background: $grey_background;
	border: 1px solid $grey_border;
	border-radius: 0px;
	padding-bottom: 0px;
	border-bottom: none;
	.date {
		border-bottom: 2px solid #0c1619;
		padding: 5px 0;
		&:before {
			content: "Submitted ";
		}
		span {
			display: none;
		}
	}
	.shortlink {
		font-size: 0;
		input {
			margin-top: 10px;
			margin-left: -6px;
			background: $grey_background_2;
			border: 1px solid $grey_border;
			color: #ddd;
			width: 298px;
			padding: 10px 0px;
			text-align: center;
			font-size: 14px;
		}
	}
}

textarea {
	color: #fff;
	background-color: $grey_background;
	border: 1px solid $grey_border;
}

.comment {
	background-color: $grey_background;
	border-radius: 3px;
	border: 1px solid $grey_border !important;
	position: relative;
	outline: none;
	color: #fff !important;
	padding-top: 0px !important;
	margin: 10px;

	.child, .showreplies {
		border-left: none;
	}

	.comment {
		background-color: $grey_background_2 !important;
		.comment {
			background-color: $grey_background !important;
			.comment {
				background-color: $grey_background_2 !important;
				.comment {
					background-color: $grey_background !important;
					.comment {
						background-color: $grey_background_2 !important;
						.comment {
							background-color: $grey_background !important;
							.comment {
								background-color: $grey_background_2 !important;
							}
						}
					}
				}
			}
		}
	}
}

.single-page .link .rank {
	display: block;
	width: 2.2ex !important;
}

// maybe RES
span.score {
	color: $text !important;
}

//new comments, obviously.
.new-comment {
	// remove reddit's highlighting
	.usertext-body {
		background-color: transparent !important;
		border: none;
	}
	// add our own
	.entry:before {
		content: '';
		display: inline-block;
		float: right;
		margin-right: 10px;
		@include sprite($exclamation-fw);
	}
}

.usertext-edit {
	a {
		color: $title;
		&:hover {
			color: darken($title, 20%) !important;
		}
	}
}

.gold-accent.comment-visits-box {
	//margin-top: 10px;
	//padding: 0 10px 5px;
	//background-color: #fffdcc;
	//border: solid 1px #e1b000;
	//color: #9a7d2e;
	@include wow-btn-warning();
	@include wow-btn-text();
	a {
		@include wow-btn-text();
	}
}
