.mod-toolbox-rd {

  .menuarea.modtools {
    background: rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 0 1px #000 !important;
    border: rgba(255, 255, 255, 0.15) solid 1px !important;

    padding: 20px !important;

    a, a.pretty-button {
      padding: 3px 6px;
    }
  }
}

.pretty-button {
  border: 1px solid $wow_btn_border !important;
  color: #fff !important;
  text-shadow: 0px 1px 0px #000;

  border-radius: 0;

  $tb_negative: rgba(118, 18, 15, 0.9);
  $tb_neutral: rgba(86, 86, 86, 0.9);
  $tb_ignore: rgba(63, 63, 63, 0.9);
  $tb_positive: rgba(21, 100, 21, 0.9);


  &.negative {
    background: $tb_negative !important;
    border-color: lighten($tb_negative, 10) !important;

    &.pressed, :hover {
      background: darken($tb_negative, 10) !important;
      border-color: darken($tb_negative, 5) !important;
    }
  }

  &.neutral {
    background: $tb_neutral !important;
    border-color: lighten($tb_neutral, 10) !important;

    &.pressed, :hover {
      background: darken($tb_neutral, 10) !important;
      border-color: darken($tb_neutral, 5) !important;
    }
  }

  &.ignore {
    background: $tb_ignore !important;
    border-color: lighten($tb_ignore, 10) !important;

    &.pressed, :hover {
      background: darken($tb_ignore, 10) !important;
      border-color: darken($tb_ignore, 5) !important;
    }
  }

  &.positive {
    background: $tb_positive !important;
    border-color: lighten($tb_positive, 10) !important;

    &.pressed, :hover {
      background: darken($tb_positive, 10) !important;
      border-color: darken($tb_positive, 5) !important;
    }
  }


}

// Selectors taken from toolbox.css
body.mod-toolbox {
  .tb-general-button,
  li a.tb-general-button,
  .tb-bracket-button {
    background-color: rgba($wow_btn_background, 0.9) !important;
    border: 1px solid $wow_btn_border !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #000 !important;
    //padding: 1px 6px !important;
  }
}

.tb-action-details {
  margin-top: 6px;
}

.commentarea .menuarea form.toggle {
  padding: 1px 6px;
}

.togglebutton {
  padding: 3px 6px;
}

.menuarea {
  overflow: unset;

  // remove inbox replies help hoverable
  .help-hoverable {
    display: none;
  }
}

.mod-toolbox-rd .tb-highlight-action-reason {
  background: rgba(255, 208, 22, 0.30) !important;
}

.action-reason {
  background: rgba(255, 255, 255, 0.1) !important;

  a {
    color: $grey_text !important;
  }
}

body.moderator {
  .thing {
    .title {
      color: $title;
    }

    a {
      //@include wow-link();
    }

    &.comment {
      .title {
        //margin-left: 50px;
      }
    }
  }
}

.entry .buttons li.reported-stamp {
  background: rgba(246, 230, 159, 0.6) !important;
  border: 1px solid darken(rgba(246, 230, 159, 0.6), 10) !important;
}

body.mod-toolbox #noresults.error[class*='tb'] {
  min-width: unset;
  min-height: unset;
  margin: 50px auto;
  @include retina-sprite($x-cleared-the-mod-queue-group);
}