.mod-toolbox-rd {

  .menuarea.modtools {
    background: rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 0 1px #000 !important;
    border: rgba(255, 255, 255, 0.15) solid 1px !important;

    padding: 20px !important;

    a, a.pretty-button {
      padding: 3px 6px;
    }
  }
}

.pretty-button {
  border: 1px solid $wow_btn_border !important;
  color: #fff !important;
  text-shadow: 0px 1px 0px #000;

  border-radius: 0;

  &.negative {
    background: rgba(118, 18, 15, 0.9) !important;
    border-color: lighten(rgba(118, 18, 15, 0.9), 10) !important;
  }

  &.neutral {
    background: rgba(86, 86, 86, 0.9) !important;
    border-color: lighten(rgba(86, 86, 86, 0.9), 10) !important;
  }

  &.ignore {
    background: rgba(63, 63, 63, 0.9) !important;
    border-color: lighten(rgba(63, 63, 63, 0.9), 10) !important;
  }

  &.positive {
    background: rgba(21, 100, 21, 0.9) !important;
    border-color: lighten(rgba(21, 100, 21, 0.9), 10) !important;
  }
}

// Selectors taken from toolbox.css
body.mod-toolbox {
  .tb-general-button,
  li a.tb-general-button,
  .tb-bracket-button {
    background-color: rgba($wow_btn_background, 0.9) !important;
    border: 1px solid $wow_btn_border !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #000 !important;
    //padding: 1px 6px !important;
  }
}

.tb-action-details {
  margin-top: 6px;
}

.commentarea .menuarea form.toggle {
  padding: 1px 6px;
}

.togglebutton {
  padding: 3px 6px;
}

.menuarea {
  overflow: unset;

  // remove inbox replies help hoverable
  .help-hoverable {
    display: none;
  }
}

.mod-toolbox-rd .tb-highlight-action-reason {
  background: rgba(255, 208, 22, 0.30) !important;
}

.action-reason {
  background: rgba(255, 255, 255, 0.1) !important;

  a {
    color: $grey_text !important;
  }
}

body.moderator {
  .thing {
    .title {
      color: $title !important;
    }

    a {
      @include wow-link();
    }

    &.comment {
      .title {
        margin-left: 50px;
      }
    }
  }
}

.entry .buttons li.reported-stamp {
  background: rgba(246, 230, 159, 0.6) !important;
  border: 1px solid darken(rgba(246, 230, 159, 0.6), 10) !important;
}

body.mod-toolbox #noresults.error[class*='tb'] {
  min-width: unset;
  min-height: unset;
  margin: 50px auto;
  @include retina-sprite($x-cleared-the-mod-queue-group);
}

/*

//toolbox buttons


.mod-toolbox {
  .mod-popup, .tb-page-overlay {
    textarea, input {
      color: #111 !important;
      background: white !important;
    }

    input {
      border: #363636 solid 1px !important;
    }
  }

  .mod-popup {
    .tb-popup-title {
      color: #111;
    }
  }
}

// reset popup box colour back to default ish
.tb-popup-content, .tb-window-wrapper, .reason-popup {
  color: #111;
}

.reason-popup-innercontent {
  // Flug keeps adding removal reasons
  max-height: 80vh;
  overflow: scroll;
}

.reason-check {
  transform: scale(2);
}

// ugly hack to move the toolbox comment checkboxes so they don't overlap with our custom expandos
// also resizes them a wee bit bigger to make them easier to click quickly
.thing.comment input[type='checkbox'] {
  //margin-top: 10px !important;
  //margin-left: 35px !important;
  //margin-right: -35px !important;
  transform: scale(1.5, 1.5);
}



body.moderator {
  .thing {
    .title {
      color: $title;
    }

    &.comment {
      .title {
        margin-left: 50px;
      }
    }
  }
}

.thing.comment.spam {
  > .entry, > .midcol {
    // important to override RES
    background-color: rgba(255, 0, 0, 0.05) !important;
  }
}

.tb-highlight-action-reason {
  background-color: rgba(248, 183, 0, 0.3) !important;
}

.action-reason {
  padding: 10px 15px !important;
  @include wow-link();
  @include wow-modern-box();

  background-color: rgba(248, 183, 0, 0.05) !important;
  display: inline-block;
  min-width: 200px;
  margin: 5px;
}

 */